﻿@inherits Merchello.Web.Mvc.MerchelloHelperViewPage<Merchello.Core.Models.MonitorModels.IPaymentResultMonitorModel>
@using Merchello.Core
@using Merchello.Core.Models
@*
     MerchelloHelperViewPage<T> inherits from UmbracoViewPage<t> and exposes the MerchelloHelper as 'Merchello'
     Example usage:  var product = Merchello.TypedProductContent(YOURPRODUCTKEY);
*@

<html>
<body style="margin: 0; padding: 0; background-color: #dddddd;">
    <table width="103%" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td align="center">
                <table width="700" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#dddddd" style="background-color: #dddddd; margin: 0 0 30px 0; padding: 0;">
                    <tbody>
                        <tr>
                            <td height="40" style="text-align: center; color: #333333; font-family: arial,helvetica,sans-serif;
                                font-size: 12px;">
                                <span>
                                    Click <a rel="alternate" hreflang="en" href="[webversionurl]" style="color: #fff;">here</a> to view an online
                                    version.
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td align="center" style="text-align: left">
                                <table width="750px" bgcolor="#231f20" align="center" cellpadding="0" cellspacing="0"
                                       style="margin: 0; padding: 0;">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <table width="100%" border="0" cellspacing="0" cellpadding="0"></table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td style="background-color:#ffffff;">&nbsp;</td>
                        </tr>
                        <tr>
                            <td style="background-color:#ffffff; text-align:center;"><a href="http://www.phoenixsportinggoods.com"><img src="logo.jpg" width="218" height="213" alt="logo image"/></a></td>
                        </tr>
                        <tr>
                            <td align="center" style="background-color:#ffffff;  text-align:center">&nbsp;</td>
                        </tr>
                        <tr>
                        <td height="465" style="background-color:#ffffff;"><table width="100%" border="0">
                          <tbody>
                            <tr>
                              <td width="100%" align="center" style="padding:10px 0 10px 0;"><p style="color:#231f20; font-family:Arial; font-weight:bold; font-size:26px;">THANK YOU FOR YOUR ORDER</p>
                              <p style="color:#636466; font-family:Arial; font-weight:normal; font-size:20px;">*Customer Name*</p>
                              <p style="color:#636466; font-family:Arial; font-weight:normal; font-size:20px;">*Order date*</p>
                              <p style="color:#f26749; font-family:Arial; font-weight:normal; font-size:20px; padding:0 10px 0 10px;">Your order is now pending and waiting to be reviewed by our team <br>
                              for payment. We will be in contact shortly to arrange payment and <br>
                              confirm your order has been finalised. Thank you.</p></td>
                            </tr>
                            <tr>
                              <td align="center"><p style="color:#231f20; font-family:Arial; font-weight:bold; font-size:26px;">ORDER NUMBER</p></td>
                            </tr>
                            
                            <tr>
                              <td align="center"><table width="100%" border="0">
                                <tbody>
                                  <tr>
                                    <td align="center"><p style="color:#636466; font-family:Arial; font-weight:bold; font-size:20px;">Item Ordered</p></td>
                                    <td align="center"><p style="color:#636466; font-family:Arial; font-weight:bold; font-size:20px;">Product Code</p></td>
                                    <td align="center"><p style="color:#636466; font-family:Arial; font-weight:bold; font-size:20px;">Colour</p></td>
                                    <td align="center"><p style="color:#636466; font-family:Arial; font-weight:bold; font-size:20px;">Size</p></td>
                                    <td align="center"><p style="color:#636466; font-family:Arial; font-weight:bold; font-size:20px;">Units</p></td>
                                    <td align="center"><p style="color:#636466; font-family:Arial; font-weight:bold; font-size:20px;">Price</p></td>
                                  </tr>
                                  <tr>
                                    <td colspan="6" align="center" style="padding:10px 0 10px 0;"><img src="price-breakdown-divide.jpg" alt="price breakdown divide"/></td>
                                  </tr>
                                  <tr>
                                    <td align="center"><p style="color:#636466; font-family:Arial; font-weight:normal; font-size:20px;">*Item Ordered*</p></td>
                                    <td align="center"><p style="color:#636466; font-family:Arial; font-weight:normal; font-size:20px;">*Product code*</p></td>
                                    <td align="center"><p style="color:#636466; font-family:Arial; font-weight:normal; font-size:20px;">*Colour*</p></td>
                                    <td align="center"><p style="color:#636466; font-family:Arial; font-weight:normal; font-size:20px;">*Size*</p></td>
                                    <td align="center"><p style="color:#636466; font-family:Arial; font-weight:normal; font-size:20px;">*Units*</p></td>
                                    <td align="center"><p style="color:#636466; font-family:Arial; font-weight:normal; font-size:20px;">*Price*</p></td>
                                  </tr>
                                  <tr>
                                    <td align="center"><p style="color:#636466; font-family:Arial; font-weight:normal; font-size:20px;">*Item Ordered*</p></td>
                                    <td align="center"><p style="color:#636466; font-family:Arial; font-weight:normal; font-size:20px;">*Product code*</p></td>
                                    <td align="center"><p style="color:#636466; font-family:Arial; font-weight:normal; font-size:20px;">*Colour*</p></td>
                                    <td align="center"><p style="color:#636466; font-family:Arial; font-weight:normal; font-size:20px;">*Size*</p></td>
                                    <td align="center"><p style="color:#636466; font-family:Arial; font-weight:normal; font-size:20px;">*Units*</p></td>
                                    <td align="center"><p style="color:#636466; font-family:Arial; font-weight:normal; font-size:20px;">*Price*</p></td>
                                  </tr>
                                  <tr>
                                    <td colspan="6" align="center" style="padding:10px 0 10px 0;"><img src="price-breakdown-divide.jpg" alt="price breakdown divide"/></td>
                                  </tr>
                                  <tr>
                                    <td colspan="6" align="right"><p style="color:#636466; font-family:Arial; font-weight:normal; margin-right:25px; font-size:20px;">Discount Code******_**%</p></td>
                                  </tr>
                                  <tr>
                                    <td colspan="6">&nbsp;</td>
                                  </tr>
                                  <tr>
                                    <td colspan="6" align="right"><p style="color:#636466; font-family:Arial; margin-right:25px; font-weight:normal; font-size:20px;">Shipping &pound;**.**</p>
                                    <p style="color:#636466; font-family:Arial; font-weight:normal; margin-right:25px; font-size:20px;">Total (Including VAT) &pound;**.**</p></td>
                                  </tr>
                                </tbody>
                              </table></td>
                            </tr>
                            <tr>
                              <td align="center" style="padding:25px 0 25px 0;"><table width="100%" border="0">
                                <tbody>
                                  <tr>
                                    <td width="375"><p style="text-align:center; color:#231f20; font-family:Arial; font-weight:bold; font-size:26px;">BILLING ADDRESS</p>
                                      
                                      <p style="text-align:center; color:#636466; font-family:Arial; font-weight:normal; font-size:20px;">Holly Ponting
                                      <br>
                                      BDZ Holdings, University House
                                      <br>
                                      Oxford Street, Newbury,
                                      <br>
                                      Berks, RG14 1JG
                                      <br>
                                      United Kingdom
                                      <br>
                                      Telephone:01635 000000
                                      <br>
                                    Mobile phone: +44 0000000000</p></td>
                                    <td width="375"><p style="text-align:center; color:#231f20; font-family:Arial; font-weight:bold; font-size:26px;">SHIPPING ADDRESS</p>
                                      
                                      <p style="text-align:center; color:#636466; font-family:Arial; font-weight:normal; font-size:20px;">Holly Ponting
                                      <br>
                                      BDZ Holdings, University House
                                      <br>
                                      Oxford Street, Newbury,
                                      <br>
                                      Berks, RG14 1JG
                                      <br>
                                      United Kingdom
                                      <br>
                                      Telephone:01635 000000
                                      <br>
                                    Mobile phone: +44 0000000000</p></td>
                                  </tr>
                                  <tr>
                                    <td colspan="2" align="center" style="padding:20px 0 20px 0;"><img src="divide-line.jpg" alt="divide line"/></td>
                                  </tr>
                                </tbody>
                              </table></td>
                            </tr>
                          </tbody>
                        </table></td>
                        
                      </tr>
                        <tr>
                          <td style="background-color:#ffffff;  text-align:left"><p style="text-align:center; color:#636466; font-family:Arial; font-weight:normal; font-size:20px;">For any further questions or concerns, please contact<br>
                            Phoenix Sporting Goods Customer Service at:<br>
                            <a rel="alternate" hreflang="en" href="mailto:info@phoenixsportinggoods.com" style="color:#f26749; text-decoration:none;">info@phoenixsportinggoods.com</a> </p></td>
                      </tr>
                        <tr>
                          <td align="center" style="background-color:#ffffff; padding:10px 0 10px 0;"><table width="200" border="0">
                            <tbody>
                              <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                              </tr>
                              <tr>
                                <td width="132" align="right"><a rel="alternate" hreflang="en" href="https://www.facebook.com/phoenixsgltd/"><img src="facebook.png" alt="Facebook icon"/></a></td>
                                <td width="33" align="left"><a rel="alternate" hreflang="en" href="https://twitter.com/PhoenixSGltd"><img src="twitter.png" alt="Twitter icon"/></a></td>
                                <td width="111" align="left"><a rel="alternate" hreflang="en" href="https://www.linkedin.com/company-beta/9486341/?pathWildcard=9486341"><img src="linkedin.png" alt="Linkedin Icon"/></a></td>
                              </tr>
                              <tr>
                                <td colspan="3"><p style="text-align:center; color:#636466; font-family:Arial; font-weight:normal; font-size:20px;">+44 (0) 1635 517560<br>
                                  <a rel="alternate" hreflang="en" href="https://www.phoenixsportinggoods.com" style="color:#636466; text-decoration:none;">www.phoenixsportinggoods.com</a></p></td>
                              </tr>
                            </tbody>
                          </table></td>
                      </tr>
                        <tr>
                          <td align="center" style="background-color:#ffffff; padding:10px 0 10px 0;"><p style="text-align:center; color:#636466; font-family:Arial; font-weight:normal; font-size:15px;">Phoenix Sporting Goods Limited, University House, Oxford Sqaure, Oxford Street, Newbury, Berkshire, RG14 1JQ</p>
                          <p style="text-align:center; color:#636466; font-family:Arial; font-weight:normal; font-size:15px;">Registered in England 09492253<br>
                            VAT No 210047759
                          </p></td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </table>    
</body>
</html>
