﻿@inherits Merchello.Web.Mvc.MerchelloHelperViewPage<Merchello.Core.Models.MonitorModels.IPaymentResultMonitorModel>
@using Merchello.Core
@using Merchello.Core.Models
@*
     MerchelloHelperViewPage<T> inherits from UmbracoViewPage<t> and exposes the MerchelloHelper as 'Merchello'
     Example usage:  var product = Merchello.TypedProductContent(YOURPRODUCTKEY);
*@
@{
    var invoice = Model.Invoice;
    var billingAddress = invoice.GetBillingAddress();
    var customerName = billingAddress.Name;

    var shippingTotal = invoice.ShippingLineItems().Sum(x => x.TotalPrice).AsFormattedCurrency();
    var taxTotal = invoice.TaxLineItems().Sum(x => x.TotalPrice).AsFormattedCurrency();
    var invoiceTotal = invoice.Total.AsFormattedCurrency();
}

    Please check orders, a new one has been submitted.

    Model.