﻿@inherits Merchello.Web.Mvc.MerchelloHelperViewPage<Merchello.Core.Models.MonitorModels.IPaymentResultMonitorModel>
@using Merchello.Core
@using Merchello.Core.Models
@using System.Configuration
@using Merchello.Web
@*
    MerchelloHelperViewPage<T> inherits from UmbracoViewPage<t> and exposes the MerchelloHelper as 'Merchello'
    Example usage:  var product = Merchello.TypedProductContent(YOURPRODUCTKEY);
*@
@{
    var invoice = Model.Invoice;
    var billingAddress = invoice.GetBillingAddress();
    var shippingAddress = invoice.GetShippingAddresses().FirstOrDefault();
    var customerName = billingAddress.Name;
    var shippingTotal = invoice.ShippingLineItems().Sum(x => x.TotalPrice).AsFormattedCurrency();
    var taxTotal = invoice.TaxLineItems().Sum(x => x.TotalPrice).AsFormattedCurrency();
    var invoiceTotal = invoice.Total.AsFormattedCurrency();
    var invoiceStat = "unpaid";


}
<html>
<body style="margin: 0; padding: 0; background-color: #dddddd;">
    <table border="0" cellspacing="0" cellpadding="0" style="width:100%">
        <tr>
            <td align="center">
                <table width="700" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#dddddd" style="background-color: #dddddd; margin: 0 0 30px 0; padding: 0;">
                    <tbody>
                        @*<tr>
                                <td height="40" style="text-align: center; color: #333333; font-family: arial,helvetica,sans-serif;
                                    font-size: 12px;">
                                    <span>
                                        Click <a href="[webversionurl]" style="color: #fff;">here</a> to view an online
                                        version.
                                    </span>
                                </td>
                            </tr>*@
                        <tr>
                            <td align="center" style="text-align: left">
                                <table bgcolor="#231f20" align="center" cellpadding="0" cellspacing="0" style="margin: 0; padding: 0; width:750px;">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <table border="0" cellspacing="0" cellpadding="0"></table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td style="background-color:#ffffff;">&nbsp;</td>
                        </tr>
                        <tr>
                            <td style="background-color:#ffffff; text-align:center;">
                                <a rel="alternate" hreflang="en" href="http://www.phoenixsportinggoods.com">
                                    <img src="@ConfigurationManager.AppSettings["SiteUrl"]/Assets/logo.jpg" width="218" height="213" alt="Phoenix Sporting Goods logo" />
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td align="center" style="background-color:#ffffff;  text-align:center">&nbsp;</td>
                        </tr>
                        <tr>
                            <td style="background-color:#ffffff;">
                                <table border="0" style="width:100%;">
                                    <tbody>
                                        <tr>
                                            <td width="100%" align="center" style="padding:10px 0 10px 0;">
                                                <p style="color:#231f20; font-family:Arial; font-weight:bold; font-size:26px;">THANK YOU FOR YOUR ORDER</p>
                                                <p style="color:#636466; font-family:Arial; font-weight:normal; font-size:20px;">@customerName</p>
                                                <p style="color:#636466; font-family:Arial; font-weight:normal; font-size:20px;">@invoice.InvoiceDate.ToShortDateString()</p>
                                                @if (invoice.InvoiceStatus.Name.ToLower() == invoiceStat)
                                                {
                                                    <p style="color:#f26749; font-family:Arial; font-weight:normal; font-size:20px; padding:0 10px 0 10px;">
                                                        Your order is now pending and waiting to be reviewed by our team <br />
                                                        for payment. We will be in contact shortly to arrange payment and <br />
                                                        confirm your order has been finalised. Thank you.
                                                    </p>
                                                }
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="center" style="padding:15px 0 15px 0;"><p style="color:#231f20; font-family:Arial; font-weight:bold; font-size:26px;">ORDER NUMBER : @invoice.InvoiceNumber</p></td>
                                        </tr>
                                        <tr>
                                            <td align="center">
                                                <table border="0" style="width:100%;">
                                                    <tbody>
                                                        <tr>
                                                            <td align="center"><p style="color:#636466; font-family:Arial; font-weight:bold; font-size:20px;">Item Ordered</p></td>
                                                            <td align="center"><p style="color:#636466; font-family:Arial; font-weight:bold; font-size:20px;">Product Code</p></td>
                                                            <td align="center"><p style="color:#636466; font-family:Arial; font-weight:bold; font-size:20px;">Price</p></td>
                                                            <td align="center"><p style="color:#636466; font-family:Arial; font-weight:bold; font-size:20px;">Units</p></td>
                                                            <td align="center"><p style="color:#636466; font-family:Arial; font-weight:bold; font-size:20px;">Total Price</p></td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="6" align="center" style="padding:10px 0 10px 0;">
                                                                <img src="@ConfigurationManager.AppSettings["SiteUrl"]/Assets/price-breakdown-divide.jpg" alt="Price Breakdown" />
                                                            </td>
                                                        </tr>
                                                        @foreach (var item in invoice.Items)
                                                        {
                                                            decimal totalItem = item.Price * item.Quantity;
                                                            if (!item.Name.ToLower().Contains("shipment") && !item.Name.ToLower().Contains("tax"))
                                                            {
                                                                <tr>
                                                                    <td align="center"><p style="color:#636466; font-family:Arial; font-weight:normal; font-size:20px;">@item.Name</p></td>
                                                                    <td align="center">
                                                                        <p style="color:#636466; font-family:Arial; font-weight:normal; font-size:20px;">
                                                                            @if (!string.IsNullOrEmpty(@item.Sku))
                                                                            {
                                                                                @item.Sku
                                                                            }
                                                                        </p>
                                                                    </td>
                                                                    <td align="center"><p style="color:#636466; font-family:Arial; font-weight:normal; font-size:20px;">@item.Price.AsFormattedCurrency()</p></td>
                                                                    <td align="center"><p style="color:#636466; font-family:Arial; font-weight:normal; font-size:20px;">@item.Quantity</p></td>
                                                                    <td align="center"><p style="color:#636466; font-family:Arial; font-weight:normal; font-size:20px;">@item.Price.AsFormattedCurrency()</p></td>
                                                                </tr>
                                                            }
                                                        }
                                                        <tr>
                                                            <td colspan="5" align="center" style="padding:10px 0 10px 0;">
                                                                <img src="@ConfigurationManager.AppSettings["SiteUrl"]/Assets/price-breakdown-divide.jpg" alt="Price Breakdown" />
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="5" align="right"><p style="color:#636466; font-family:Arial; font-weight:normal; margin-right:25px; font-size:20px;">Discount @Model.Invoice.TotalDiscounts().AsFormattedCurrency()</p></td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="5">&nbsp;</td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="5" align="right">
                                                                @foreach (var item in invoice.Items)
                                                                {
                                                                    if (item.Name.ToLower().Contains("shipment"))
                                                                    {
                                                                        <p style="color:#636466; font-family:Arial; margin-right:25px; font-weight:normal; font-size:20px;">Shipping @shippingTotal</p>
                                                                    }
                                                                }
                                                                <p style="color:#636466; font-family:Arial; font-weight:normal; margin-right:25px; font-size:20px;">Total (Including VAT) @invoiceTotal</p>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="center" style="padding:25px 0 0 0;">
                                                <table border="0" style="width:100%">
                                                    <tbody>
                                                        <tr>
                                                            <td width="375">
                                                                <p style="text-align:center; color:#231f20; font-family:Arial; font-weight:bold; font-size:26px;">BILLING ADDRESS</p>
                                                                <p style="text-align:center; color:#636466; font-family:Arial; font-weight:normal; font-size:20px;">
                                                                    @billingAddress.Name
                                                                    @if (!string.IsNullOrEmpty(billingAddress.Organization))
                                                                    {
                                                                        <br />
                                                                        @billingAddress.Organization
                                                                    }
                                                                    <br />
                                                                    @billingAddress.Address1
                                                                    @if (!string.IsNullOrEmpty(billingAddress.Address2))
                                                                    {
                                                                        <br />
                                                                        @billingAddress.Address2
                                                                    }
                                                                    <br />
                                                                    @billingAddress.Locality
                                                                    <br />
                                                                    @billingAddress.PostalCode
                                                                    <br />
                                                                    @billingAddress.Country().Name
                                                                    <br />
                                                                    Telephone: @billingAddress.Phone
                                                                </p>
                                                            </td>
                                                            <td width="375">
                                                                <p style="text-align:center; color:#231f20; font-family:Arial; font-weight:bold; font-size:26px;">SHIPPING ADDRESS</p>
                                                                <p style="text-align:center; color:#636466; font-family:Arial; font-weight:normal; font-size:20px;">
                                                                    @shippingAddress.Name
                                                                    @if (!string.IsNullOrEmpty(shippingAddress.Organization))
                                                                    {
                                                                        <br />
                                                                        @shippingAddress.Organization
                                                                    }
                                                                    <br />
                                                                    @shippingAddress.Address1
                                                                    @if (!string.IsNullOrEmpty(shippingAddress.Address2))
                                                                    {
                                                                        <br />
                                                                        @shippingAddress.Address2
                                                                    }
                                                                    <br />
                                                                    @shippingAddress.Locality
                                                                    <br />
                                                                    @shippingAddress.PostalCode
                                                                    <br />
                                                                    @shippingAddress.Country().Name
                                                                    <br />
                                                                    Telephone: @shippingAddress.Phone

                                                                </p>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="2" align="center" style="padding:20px 0 20px 0;">
                                                                <img src="@ConfigurationManager.AppSettings["SiteUrl"]/Assets/divide-line.jpg" alt="Orange Divide" />
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td style="background-color:#ffffff; padding:0 0 20px 0;  text-align:left">
                                @if (invoice.InvoiceStatus.Name.ToLower() != invoiceStat)
                                {
                                    <p style="text-align:center; color:#636466; font-family:Arial; font-weight:normal; font-size:20px;">
                                        You will receive an email from PayPal to confirm the successful
                                        <br>
                                        payment of your purchase. If you have not received a confirmation
                                        <br>
                                        email please contact Phoenix Sporting Goods Customer Service.
                                    </p>
                                }                               
                                <p style="text-align:center; color:#636466; font-family:Arial; font-weight:normal; font-size:20px;">
                                    For any further questions or concerns, please contact<br />
                                    Phoenix Sporting Goods Customer Service at:<br />
                                    <a rel="alternate" hreflang="en" href="mailto:info@phoenixsportinggoods.com" style="color:#fbb35d; text-decoration:none;">info@phoenixsportinggoods.com</a>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td align="center" style="background-color:#ffffff; padding:10px 0 10px 0;">
                                <table width="200" border="0">
                                    <tbody>
                                        <tr>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td colspan="3" align="center">
                                                <a style="padding:1px;" rel="alternate" hreflang="en" href="https://www.facebook.com/phoenixsgltd/"><img src="@ConfigurationManager.AppSettings["SiteUrl"]/Assets/facebook.png" alt="Facebook icon" /></a>
                                                <a style="padding:1px;" rel="alternate" hreflang="en" href="https://twitter.com/PhoenixSGltd"><img src="@ConfigurationManager.AppSettings["SiteUrl"]/Assets/twitter.png" alt="Twitter icon" /></a>
                                                <a style="padding:1px;" rel="alternate" hreflang="en" href="https://www.linkedin.com/company-beta/9486341/?pathWildcard=9486341"><img src="@ConfigurationManager.AppSettings["SiteUrl"]/Assets/linkedin.png" alt="Linkedin Icon" /></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="3">
                                                <p style="text-align:center; color:#636466; font-family:Arial; font-weight:normal; font-size:20px;">
                                                    +44 (0) 1635 517560<br />
                                                    <a href="https://www.phoenixsportinggoods.com" style="color:#636466; text-decoration:none;">www.phoenixsportinggoods.com</a>
                                                </p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td align="center" style="background-color:#ffffff; padding:10px 0 10px 0;">
                                <p style="text-align:center; color:#636466; font-family:Arial; font-weight:normal; font-size:15px; margin:0 25px;">Phoenix Sporting Goods Limited, University House, Oxford Sqaure, Oxford Street, Newbury, Berkshire, RG14 1JQ</p>
                                <p style="text-align:center; color:#636466; font-family:Arial; font-weight:normal; font-size:15px;">
                                    Registered in England 09492253<br />
                                    VAT No 210047759
                                </p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>
