﻿@model Merchello.Web.Store.Models.BraintreePaymentModel
@using System.Web.Mvc.Html
@using Merchello.FastTrack.Ui
@using Merchello.Web.Models.Ui

<h3>PayPal Payment</h3>
<script src="https://www.paypalobjects.com/api/button.js?"
        data-merchant="braintree"
        data-id="paypal-button"
        data-button="checkout"
        data-color="gold"
        data-size="medium"
        data-shape="pill"
        data-button_type="submit"
        data-button_disabled="false"></script>

<form data-muiscript="braintree">
    @Html.HiddenFor(x => x.Token, new { data_muivalue = "btpaypalnonce" })
    <a href="@ExampleUiHelper.CheckoutWorkflow.GetPageForStage(CheckoutStage.PaymentMethod).Url" class="btn btn-orange">Back</a>
    @Html.Partial("_RequireJsSubmitBtn", Model)
    <div>
        <input type="hidden" id="braintree-successurl" value="@ExampleUiHelper.Content.GetReceipt().Url" />
    </div>
</form>