﻿@model Merchello.Core.Models.IAddress
@{ 
    
}
<div class="h-card">
    <span class="p-name">@Model.Name</span>
    @if (!Model.Organization.IsNullOrWhiteSpace())
    {
        <span class="p-org">@Model.Organization</span>
    }
    <p class="p-adr h-adr">
        <span class="p-street-address">@Model.Address1</span>
        @if (!Model.Address2.IsNullOrWhiteSpace())
        {<span class="p-extended-address">@Model.Address2</span>}
        <span class="p-locality">@Model.Locality</span>
        @if (!Model.Region.IsNullOrWhiteSpace())
        {<span class="p-region">@Model.Region</span>}
        @if (!Model.PostalCode.IsNullOrWhiteSpace())
        {<span class="p-postal-code">@Model.PostalCode</span>}
        <span class="p-country-name">@Model.CountryCode</span>
    </p>
    @if (!Model.Email.IsNullOrWhiteSpace())
    {
        <span class="label-contact">Email: </span><span class="u-email"><a rel="alternate" hreflang="en" href="mailto:@Model.Email">@Model.Email</a></span>
    }
    @if (!Model.Phone.IsNullOrWhiteSpace())
    {
        <span class="label-contact">Tel:</span> <span class="p-tel">@Model.Phone</span>
    }
</div>
