﻿@inherits Merchello.Web.Mvc.MerchelloTemplatePage
@{
    IPublishedContent current = (CurrentPage);
    Stack<dynamic> pages = new Stack<dynamic>();
    while (current.Level > 1)
    {
        pages.Push(current);
        current = current.Parent;
    }
}
<section>
    <div class="container">
        <ul class="breadcrumbs">
            <li><a rel="alternate" hreflang="en" href="/">HOME</a>  ></li>
            @foreach (var page in pages)
            {
                var cls = page.Id == CurrentPage.Id ? "current" : "";
                if (cls == "current")
                {
                    @page.Name.ToUpper()
                }
                else
                {
                    <li class="@cls"><a rel="alternate" hreflang="en" href="@page.Url">@page.Name.ToUpper()</a> ></li>
                }

            }
        </ul>
    </div>
</section>

