@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Umbraco.Web

@{ 
    var homeNode = CurrentPage.Site();
    var miniSiteHome = "";

    //-- create a Url for the root node of the local instance of the site e.g 'Gorilla-Training' - otherwise all links will default to the root node of Umbraco instance --
            if (Request["HomeID"] != null)
    {
        var miniSiteHomeNodeID = Request["HomeID"];
        int miniSiteID = int.Parse(miniSiteHomeNodeID);
        miniSiteHome = Umbraco.TypedContent(miniSiteHomeNodeID).Url;
        homeNode = miniSiteHome;
        // -- create a URL for the homepage of the local mini site instance from querystring --
        var miniSiteStoreNodeID = Request["StoreID"];
        var miniSiteStore = Umbraco.TypedContent(miniSiteStoreNodeID).Url;
        var Storecrumbs = Umbraco.Content(miniSiteStoreNodeID).Ancestors().ToArray();
    }

    var selection = Model.Content.Ancestors().ToArray();


}
<section>
    <div class="container">

        @if (selection.Length > 0)
        {
        <ul class="breadcrumbs">
            <li><a rel="alternate" hreflang="en" href="@homeNode">Home /</a></li>
            <li><a rel="alternate" hreflang="en" href='javascript:history.go(-1)'>Store / </a></li>
            @* Display the current page as the last item in the list *@
            <li>@Model.Content.Name.ToUpper()</li>
        </ul>
        }
        </div>
    </section>
