﻿@inherits Merchello.Web.Mvc.MerchelloTemplatePage
@using Merchello.Core.Models
@using Merchello.FastTrack.Ui
@using Merchello.Web

@using Merchello.Core.Configuration
@using Our.Umbraco.Ditto;
@{
    var storeRoot = ExampleUiHelper.Content.GetStoreRoot().As<FtStore>();

}



@if (!string.IsNullOrEmpty(storeRoot.Brochure))
{
    <section class="row brochure">
        <div class="container text-center">
            <a rel="alternate" hreflang="en" href="@storeRoot.GetPropertyValue("brochure")" target="_blank">Download our brochure</a>
        </div>
    </section>
}