﻿<div class="cookies">
    <div class="col-xs-12 col-sm-8 col-md-8">
        <p>
            We use cookies to enhance your experience.  By continuing to use our website you're agreeing to our <a rel="alternate" hreflang="en" href="~/privacy-cookie-policy/">
                use of cookies
            </a>.
        </p>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4">
        <span class="cookie-btn">
            <a id="btnCookies" rel="alternate" hreflang="en" href="javascript:;" class="btn btn-cookies">Click to Continue</a>
        </span>
    </div>


</div>

