﻿<div class="cookie-warning">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4>Our website uses cookies</h4>
                <p>We use cookies to count visitors and traffic to allow us to improve and measure the performance of our website and to provide social media features.</p>
                <a id="cc-accept-all" rel="alternate" hreflang="en" href="#" class="btn btn-med btn-green cookie-accept cc-accept-all">Accept All Cookies</a>
                <a href="/cookie-control/" rel="alternate" hreflang="en" class="btn btn-med btn-green cookie-settings">> Cookies Settings</a>
                <a href="/privacy-cookie-policy/" rel="alternate" hreflang="en" class="btn btn-med btn-green cookie-settings">> Privacy &amp; Cookie Policy</a>
            </div>
        </div>
    </div>
</div>
