﻿@inherits Merchello.Web.Mvc.MerchelloTemplatePage
@using Merchello.Core.Models
@using Merchello.FastTrack.Ui
@using Merchello.Web
@using Merchello.Core.Configuration
@using Our.Umbraco.Ditto
@{
    var storeRoot = ExampleUiHelper.Content.GetStoreRoot();
    var accountPage = ExampleUiHelper.Content.GetAccount();

}
<footer class="bottom-content">
    <div class="row">
        <div class="footer-nav col-xs-12 col-sm-12 col-md-6">
            @{
                var items = storeRoot.As<FtStore>().FooterNavigation;
                if (items.Any())
                {
                    <ul class="nav">
                        @if (CurrentCustomer.IsAnonymous)
                        {
                            <li><a id="header_login" class="member" rel="alternate" hreflang="en" href="@accountPage.Url"><span>Login </span></a></li>
                        }
                        @foreach (var item in items)
                        {
                            <li>
                                <a rel="alternate" hreflang="en" href="@item.Url" target="_self">@item.Name</a>
                            </li>
                        }
                        
                    </ul>
                }
            }
        </div>
        <div class="col-xs-12 col-sm-12 col-md-8 col-md-3 social-wrapper">
            <a rel="alternate" hreflang="en" href="@storeRoot.GetPropertyValue("facebook")" class="social facebook" target="_blank"></a>
            <a rel="alternate" hreflang="en" href="@storeRoot.GetPropertyValue("twitter")" class="social twitter" target="_blank"></a>
            <a rel="alternate" hreflang="en" href="@storeRoot.GetPropertyValue("instagram")" class="social instagram" target="_blank"></a>
            <a rel="alternate" hreflang="en" href="@storeRoot.GetPropertyValue("linkedIn")" class="social linkedIn" target="_blank"></a>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-8 col-md-3">
            <div class="copyright">
                @storeRoot.GetPropertyValue("leftText")
            </div>
        </div>
    </div>
</footer>

@functions
{
        private IHtmlString IsActive(int contentId, bool isDropdown = false)
        {
            var css = isDropdown ? "dropdown" : string.Empty;
            if (Model.Content.Id == contentId)
            {
                css += " active";
            }
            css = css.Trim();

            return !css.IsNullOrWhiteSpace() ? MvcHtmlString.Create(string.Format(" class=\"{0}\"", css)) : MvcHtmlString.Empty;
        }

        private IHtmlString IsDropdown(bool isDropdown = false)
        {
            return isDropdown ? MvcHtmlString.Create("class=\"dropdown-toggle\" data-toggle=\"dropdown\"") : MvcHtmlString.Empty;
        }
}