﻿@inherits UmbracoTemplatePage

        <div class="col-xs-12">
            <h1>@(Model.Content.HasProperty("headline") && Model.Content.HasValue("headline") ? Umbraco.Field("headline").ToString().ToUpper() : MvcHtmlString.Create(Model.Content.Name).ToString().ToUpper())</h1>
        </div>
        <div class="col-xs-12">
            @if (Model.Content.HasProperty("brief") && Model.Content.HasValue("brief"))
            {
                @Umbraco.Field("brief")
            }
        </div>
