﻿@inherits Merchello.Web.Mvc.MerchelloTemplatePage
@using Merchello.Core.Models
@using Merchello.FastTrack.Ui
@using Merchello.Web

@using Our.Umbraco.Ditto;
@using System.Configuration;
@{
    var storeRoot = ExampleUiHelper.Content.GetStoreRoot();
    var logo = storeRoot.GetPropertyValue("logo").ToString();
    var catalogRoot = storeRoot.FirstChild(x => x.DocumentTypeAlias == "ftCatalog" && x.IsVisible());
    var basketPage = ExampleUiHelper.Content.GetBasket();
    var menuItems = storeRoot.Children.Where("umbracoNaviHide == false").As<IPublishedContent>();
    var accountPage = ExampleUiHelper.Content.GetAccount();

}
<header>
    <div class="row mini-header no-margin">
        <div class="container">
            <div class="col-xs-6"></div>
            <div class="col-xs-6 no-padding">
                <ul class="mini-menu">                   
                        @if (!CurrentCustomer.IsAnonymous)
                        {
                            var customer = (ICustomer)CurrentCustomer;

                            <li @(IsActive(accountPage.Id, !CurrentCustomer.IsAnonymous))>
                                
                                <a rel="alternate" hreflang="en" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    <span class="glyphicon glyphicon-user"></span> <span class="hidden-xs">@customer.FirstName @customer.LastName</span> <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">

                                    <li><a rel="alternate" hreflang="en" href="@accountPage.Url">Account</a></li>
                                    <li><a rel="alternate" hreflang="en" href="/forgot-password/">Change Password</a></li> @* this should be softcoded via ExampleUIHelper *@
                                    <li>@Html.ActionLink("Logout", "Logout", "CustomerMembership", new { area = "FastTrack", redirectId = ConfigurationManager.AppSettings["HomepageId"] }, null)</li>
                                </ul>
                            </li>
                        }
                    
                    <li>
                        <a class="basket" rel="alternate" hreflang="en" href="@basketPage.Url"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span><sup>(<span class="basktecount" data-muilabel="basketcount">@CurrentCustomer.Basket().TotalQuantityCount</span>)</sup></a>
                    </li>
                   
                    <li>
                        <a rel="alternate" hreflang="en" href="/contact-us/"><span class="glyphicon glyphicon-envelope"></span> CONTACT US</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row cd-morph-dropdown right">
        <div class="container no-padding">
            <a class="no-padding" rel="alternate" hreflang="en" href="@storeRoot.Url"><img class="logo" src="@logo" alt="Phoenix Sporting Goods logo" /></a>
            <a rel="alternate" hreflang="en" href="#0" class="nav-trigger">Open Nav<span aria-hidden="true"></span></a>
            <nav class="main-nav">
                <ul>
                    @foreach (var page in menuItems)
                    {
                        var menuItem = page.As<FtCatalog>();

                        var subMenuItems = page.Children.Where("umbracoNaviHide == false").As<IPublishedContent>();                       

                        if (subMenuItems.Count() > 1)
                        {
                            <li class="has-dropdown links" data-content="@page.Name.Replace(" ", "").ToLower()">
                                <a rel="alternate" hreflang="en" href="@page.Url">@page.Name</a>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a rel="alternate" hreflang="en" href="@page.Url">@page.Name</a>
                            </li>
                        }
                    }
                </ul>
            </nav>
            <div class="morph-dropdown-wrapper">
                <div class="dropdown-list">
                    <ul>
                        @foreach (var page in menuItems)
                        {
                            var menuItem = page.As<FtCatalog>();
                            var subMenuItems = page.Children.Where("umbracoNaviHide == false").As<IPublishedContent>();


                            if (subMenuItems.Count() > 1)
                            {

                                <li id="@page.Name.Replace(" ", "").ToLower()" class="dropdown links">
                                    <a rel="alternate" hreflang="en" href="@page.Url" class="label">@page.Name</a>
                                    <div class="content">
                                        <ul>
                                            @foreach (var subpage in subMenuItems)
                                            {
                                                var subItems = subpage.As<FtCategory>().Products;

                                                var subDropdown = subItems != null && subItems.Count() > 0 ? true : false;

                                                <li>
                                                    <h2><a rel="alternate" hreflang="en" href="@subpage.Url">@subpage.Name</a></h2>
                                                    @if (subDropdown)
                                                    {

                                                        <div class="links-list">
                                                            @foreach (var thirdLevel in subItems)
                                                            {
                                                                var product = thirdLevel.As<FtProduct>();

                                                                if (!product.ComingSoon)
                                                                {
                                                                    <p><a rel="alternate" hreflang="en" href="@thirdLevel.Url">@product.LinkName</a></p>
                                                                }

                                                            }
                                                        </div>


                                                    }
                                                </li>
                                            }
                                        </ul>

                                    </div>
                                </li>
                            }
                            else
                            {
                                <li id="@page.Name.Replace(" ", "").ToLower()" class="dropdown links">
                                    <a rel="alternate" hreflang="en" href="@page.Url" class="label">@page.Name</a>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>

        </div>
    </div>
</header>







@functions
{
        private IHtmlString IsActive(int contentId, bool isDropdown = false)
        {
            var css = isDropdown ? "dropdown" : string.Empty;
            if (Model.Content.Id == contentId)
            {
                css += " active";
            }
            css = css.Trim();

            return !css.IsNullOrWhiteSpace() ? MvcHtmlString.Create(string.Format(" class=\"{0}\"", css)) : MvcHtmlString.Empty;
        }

        private IHtmlString IsDropdown(bool isDropdown = false)
        {
            return isDropdown ? MvcHtmlString.Create("class=\"dropdown-toggle\" data-toggle=\"dropdown\"") : MvcHtmlString.Empty;
        }
}