﻿@inherits Merchello.Web.Mvc.MerchelloTemplatePage
@using Merchello.Core.Models
@using Merchello.FastTrack.Ui
@using Merchello.Web

@using Our.Umbraco.Ditto;
@{
    var storeRoot = ExampleUiHelper.Content.GetStoreRoot().As<FtStore>();
    var merchelloHelper = new MerchelloHelper();
    var bannerItems = storeRoot.BannerItems;
    var id = 0;
    //var product = merchelloHelper.TypedProductContent(storeRoot.BannerProductLink.ToString());
}

<section class="banner">
    <div id="banner_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="sports-hero54" style="margin:0px auto;background-color:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">
        <!-- START REVOLUTION SLIDER 5.0.7 fullwidth mode -->
        <div id="phoenix-slider" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.0.7">
            <ul>
                @foreach (var slide in bannerItems)
                {
                    id = id + 1;
                    var banner = slide.As<BannerItem>();

                    var bannerImage = slide.GetPropertyValue<IPublishedContent>("image");

                    <!-- BEGIN SLIDE -->
                    <li data-index="ps-@id" data-transition="fade">
                        <!-- MAIN IMAGE -->
                        <img src="@bannerImage.Url" alt="@banner.BannerName" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="5" class="rev-slidebg" data-no-retina>
                        <!-- LAYERS -->
                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption sports-display @banner.ColourWay tp-resizeme rs-parallaxlevel-0"
                             id="@banner.Name.Replace(" ", "-")"
                             data-x="['left','left','center','center']" data-hoffset="['15','20','0','0']"
                             data-y="['top','top','top','top']" data-voffset="['40','40','10','10']"
                             data-fontsize="['80','60','50','45']"
                             data-lineheight="['130','70','60','40']"
                             data-width="none"
                             data-height="none"
                             data-whitespace="nowrap"
                             data-transform_idle="o:1;"
                             data-transform_in="z:0;rX:0deg;rY:0;rZ:0;sX:1.5;sY:1.5;skX:0;skY:0;opacity:0;s:2000;e:Power3.easeInOut;"
                             data-transform_out="y:[100%];s:1000;s:1000;"
                             data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                             data-start="750"
                             data-splitin="none"
                             data-splitout="none"
                             data-responsive_offset="off"
                             data-responsive="off"
                             style="z-index: 5; white-space: nowrap;">
                            @banner.Title
                        </div>
                        <!-- LAYER NR. 2 -->
                        <div class="tp-caption sports-display @banner.ColourWay tp-resizeme rs-parallaxlevel-0"
                             id="@id-2"
                             data-x="['left','left','center','center']" data-hoffset="['15','20','0','0']"
                             data-y="['top','top','top','top']" data-voffset="['120','100','70','60']"
                             data-fontsize="['80','60','50','45']"
                             data-lineheight="['130','70','60','40']"
                             data-width="none"
                             data-height="none"
                             data-whitespace="nowrap"
                             data-transform_idle="o:1;"
                             data-transform_in="z:0;rX:0deg;rY:0;rZ:0;sX:1.5;sY:1.5;skX:0;skY:0;opacity:0;s:2000;e:Power3.easeInOut;"
                             data-transform_out="y:[100%];s:1000;s:1000;"
                             data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                             data-start="1000"
                             data-splitin="none"
                             data-splitout="none"
                             data-responsive_offset="off"
                             data-responsive="off"
                             style="z-index: 6; white-space: nowrap;">
                            @banner.TitleRow2
                        </div>
                        <!-- LAYER NR. 3 -->
                        <div class="tp-caption Sports-Display @banner.ColourWay tp-resizeme rs-parallaxlevel-0"
                             id="@id-3"
                             data-x="['left','left','center','center']" data-hoffset="['15','20','0','0']"
                             data-y="['top','top','top','top']" data-voffset="['200','160','130','110']"
                             data-fontsize="['80','60','50','45']"
                             data-lineheight="['130','70','60','40]"
                             data-width="none"
                             data-height="none"
                             data-whitespace="nowrap"
                             data-transform_idle="o:1;"
                             data-transform_in="z:0;rX:0deg;rY:0;rZ:0;sX:1.5;sY:1.5;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;"
                             data-transform_out="y:[100%];s:1000;s:1000;"
                             data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                             data-start="1250"
                             data-splitin="none"
                             data-splitout="none"
                             data-responsive_offset="off"
                             data-responsive="off"
                             style="z-index: 6; white-space: nowrap;">
                            @banner.TitleRow3
                        </div>
                        <!-- LAYER NR. 4 -->
                        <div class="tp-caption sports-subline @banner.ColourWay tp-resizeme rs-parallaxlevel-0"
                             id="@id-4"
                             data-x="['left','left','center','center']" data-hoffset="['15','20','0','0']"
                             data-y="['top','top','top','top']" data-voffset="['350','240','180','160']"
                             data-fontsize="['28','22','27','25']"
                             data-lineheight="['35','35','34','30']"
                             data-whitespace="normal"
                             data-transform_idle="o:1;"
                             data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.8;sY:0.8;skX:0;skY:0;opacity:0;s:1500;e:Power4.easeOut;"
                             data-transform_out="y:[100%];s:1000;s:1000;"
                             data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                             data-start="1500"
                             data-splitin="chars"
                             data-splitout="none"
                             data-responsive_offset="off"
                             data-responsive="off"
                             data-elementdelay="0.05"
                             style="z-index: 8;">
                            @banner.Strapline
                            @if (!string.IsNullOrEmpty(banner.StraplineTwo))
                            {
                                <br />
                                <span>@banner.StraplineTwo</span>
                            }
                        </div>
                        <!--LAYER NR. 4-->
                        <div class="tp-caption rev-btn tp-resizeme rs-parallaxlevel-0"
                             id="@id-7"
                             data-x="['left','left','center','center']" data-hoffset="['15','25','0','0']"
                             data-y="['top','top','top','top']" data-voffset="['480','360','280','280']"
                             data-fontsize="['25','20','20','20']"
                             data-lineheight="['25','20','20','20']"
                             data-whitespace="nowrap"
                             data-transform_idle="o:1;"
                             data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:500;e:Linear.easeNone;"
                             data-style_hover="c:rgba(255, 255, 255, 1.00);bg:rgba(0, 0, 0, 1.00);bc:rgba(0, 0, 0, 1.00);"
                             data-transform_in="x:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
                             data-transform_out="x:[-100%];s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                             data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                             data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                             data-start="2500"
                             data-splitin="none"
                             data-splitout="none"
                             data-actions='[{"event":"click","action":"simplelink", "target":"_self", "url":""}]'
                             data-responsive_offset="off"
                             data-responsive="off"
                             style="z-index: 11;">
                            @if (banner.Link != null)
                            {

                                <a rel="alternate" hreflang="en" href="@banner.Link.Url">@banner.LinkText</a>
                            }
                            else
                            {
                                <a rel="alternate" hreflang="en" href="@banner.ProductLink.FirstOrDefault().Url">@banner.LinkText</a>
                            }

                        </div>
                    </li>
                    <!-- END SLIDE -->
                    }
                </ul>

            <div class="tp-static-layers"></div>
            <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
        </div>
    </div><!-- END REVOLUTION SLIDER -->
</section>

