﻿@inherits Merchello.Web.Mvc.MerchelloTemplatePage
@{ 
//var title = string.IsNullOrEmpty(Model.Content.GetPropertyValue("pageTitle").ToString()) ? 
}

<title>@Model.Content.GetPropertyValue("pageTitle")</title>
<meta name="description" content="@Model.Content.GetPropertyValue("metaDescription")"/>

@*@if (!string.IsNullOrEmpty(Model.GoogleTitle))
{
    <meta property="og:title" content="@Model.GoogleTitle" />
}
@if (!string.IsNullOrEmpty(Model.GoogleDescription))
{
    <meta property="og:description" content="@Model.GoogleDescription" />
}
@if (!string.IsNullOrEmpty(Model.GoogleImage))
{
    <meta property="og:image" content="@Model.GoogleImage" />
}*@


<meta property="og:site_name" content="Phoenix Sporting Goods" />
<meta property="og:type" content="website" />


