﻿@inherits Merchello.Web.Mvc.MerchelloTemplatePage
@using Merchello.Core.Models
@using Merchello.FastTrack.Ui
@using Merchello.Web
@using Phoenix.Web

@using Our.Umbraco.Ditto;
@using System.Configuration;
@{
    // get node ID and URL of current page
    var currentPageId = UmbracoContext.Current.PageId;


    // ---- get node ID of store----------------
    var storeLists = Phoenix.Web.Helpers.GeneralNavigationHelpers.GetStore(Umbraco.ContentAtRoot());
    int storeRootID = storeLists.id;
    // ------------ get content from store ------
    var store = Umbraco.Content(storeRootID);

    //var storeRootID = PhoenixHelper.GetHomeNode();
    // var storeRoot = Umbraco.TypedContent(1098).As<MiniHome>();
    var storeRoot = Umbraco.TypedContent(storeRootID).As<MiniHome>();
    var storeRootURL = storeRoot.Url;
    var miniHomeURL = storeRootURL;

    //--get store email --
    var storeEmail = "";
    if (store.storeEmail != null && !string.IsNullOrEmpty(store.storeEmail))
    {
        storeEmail = store.storeEmail;
    }



    // -- get nodeID of basket page --
    var basketNode = Phoenix.Web.Helpers.GeneralNavigationHelpers.GetBasket(Umbraco.ContentAtRoot());
    int basketID = basketNode.id;
    // ------------ get content from store ------
    var basket = Umbraco.Content(basketID);
    var basketPage = basketNode.Url;


    //-- create a Url for the root node of the local instance of the site e.g 'Gorilla-Training' - otherwise all links will default to the root node of Umbraco instance --
    if (Request["HomeID"] != null)
    {
        var miniSiteHomeNodeID = Request["HomeID"];
        var miniSiteHome = Umbraco.TypedContent(miniSiteHomeNodeID).Url;
        // -- create a URL for the homepage of the local mini site instance from querystring --
        var miniSiteStoreNodeID = Request["StoreID"];
        var miniSiteStore = Umbraco.TypedContent(miniSiteStoreNodeID).Url;

        if (miniSiteStoreNodeID != null && !string.IsNullOrEmpty(miniSiteStoreNodeID))
        {
            basketPage = miniSiteStore + "basket";
            storeRootURL = miniSiteHome;
        }
    }

    // ---- get node ID of settings----------------
    var settingsLists = Phoenix.Web.Helpers.GeneralNavigationHelpers.GetStore(Umbraco.ContentAtRoot());
    var settingsID = settingsLists.id;
    dynamic pageID = null;
    string Logo = "";

    try
    {

        //  var home = "";
        // var SiteHome = Umbraco.Content(currentPageId).Children().Where("DocumentTypeAlias = \"ftStore\"");
        var homePage = Umbraco.Content(currentPageId).AncestorsOrSelf(2).First();


        int currentNodeID2 = homePage.Id;
        var SiteSettings = Umbraco.Content(currentNodeID2).Children().Where("DocumentTypeAlias = \"Settings\"");


        //--get store logo --
        var homeContent = Umbraco.Content(currentPageId).AncestorsOrSelf().Where("DocumentTypeAlias = \"miniHome\"").First();
        var homeContentId = homeContent.Id;
        var currentPage = new MiniHome(Umbraco.TypedContent(homeContentId));
        var typedMediaPickerSingle = currentPage.GetPropertyValue<IPublishedContent>("Logo");
        if (typedMediaPickerSingle != null)
        {
            Logo = typedMediaPickerSingle.Url;
        }


        /// ---- get nodeID of settings ----------
        foreach (var item in SiteSettings)
        {
            settingsID = item.Id;
        }

        //-----------get navigation from 'settings - storePicker' ---------------
        var storeURL = "";
        var storeName = "";
        var storeID = "";
        pageID = Umbraco.Content(settingsID);
        var selection = pageID.GetPropertyValue<IEnumerable<IPublishedContent>>("storePicker");
        //--- loop through nav picker ---
        foreach (var item in selection)
        {
            storeURL = item.Url;
            storeName = item.Name;
            storeID = (item.Id).ToString();
            basketPage = storeURL + "basket";
        }

        //-----------get navigation from 'settings - storePicker' ---------------
        miniHomeURL = "";
        var miniHomeName = "";
        var miniHomeID = "";
        var selection2 = pageID.GetPropertyValue<IEnumerable<IPublishedContent>>("miniSiteHome");
        //--- loop through nav picker ---
        foreach (var item in selection2)
        {
            miniHomeURL = item.Url;
            miniHomeName = item.Name;
            miniHomeID = (item.Id).ToString();
        }

    }
    catch (Exception ex)
    {
        miniHomeURL = storeRootURL;

        var homeContentId = 2205;
        var currentPage = new MiniHome(Umbraco.TypedContent(homeContentId));
        var typedMediaPickerSingle = currentPage.GetPropertyValue<IPublishedContent>("Logo");
        if (typedMediaPickerSingle != null)
        {
            Logo = typedMediaPickerSingle.Url;
        }
    }


    //var logo = pageID.Logo != null ? pageID.Logo : "";

    //--- use this basket page when domain name is set in local minisite cultural hostnames --
    basketPage = "../basket";

    //var logo = pageID.logo;
    //Response.Write("Basket Node is:" + basketPage);



    // var basketPage = storeRoot.FirstChild(x => x.DocumentTypeAlias == "ftBasket" && x.IsVisible());
    // var email = store.Email != null && !string.IsNullOrEmpty(storeRoot.Email) ? store.Email : ConfigurationManager.AppSettings["fromEmail"];
    // var accountPage = ExampleUiHelper.Content.GetAccount();


}
<header>
    <div class="row mini-header no-margin">
        <div class="container">
            <div class="col-xs-6"></div>
            <div class="col-xs-6 no-padding">
                <ul class="mini-menu">
                    @*if (!CurrentCustomer.IsAnonymous)
                        {
                            var customer = (ICustomer)CurrentCustomer;

                        }*@


                    <li>
                        <a rel="alternate" hreflang="en" class="basket" rel="alternate" hreflang="en" href="@basketPage"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span><sup>(<span class="basktecount" data-muilabel="basketcount">@CurrentCustomer.Basket().TotalQuantityCount</span>)</sup></a>
                    </li>

                    <li>
                        <a rel="alternate" hreflang="en" href="mailto:@storeEmail"><span class="glyphicon glyphicon-envelope"></span> CONTACT US</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="container no-padding">
            <a class="no-padding" rel="alternate" hreflang="en" href="@miniHomeURL"><img class="logo" src="@Logo" alt="Phoenix Sporting Goods logo" /></a>
            @*<a href="#0" class="nav-trigger">Open Nav<span aria-hidden="true"></span></a>*@
            @*<nav class="main-nav">
                <ul></ul>
            </nav>*@
            @*<div class="morph-dropdown-wrapper">
                <div class="dropdown-list">
                    <ul></ul>
                </div>
            </div>*@

        </div>
    </div>
</header>







@functions
{
    private IHtmlString IsActive(int contentId, bool isDropdown = false)
    {
        var css = isDropdown ? "dropdown" : string.Empty;
        if (Model.Content.Id == contentId)
        {
            css += " active";
        }
        css = css.Trim();

        return !css.IsNullOrWhiteSpace() ? MvcHtmlString.Create(string.Format(" class=\"{0}\"", css)) : MvcHtmlString.Empty;
    }

    private IHtmlString IsDropdown(bool isDropdown = false)
    {
        return isDropdown ? MvcHtmlString.Create("class=\"dropdown-toggle\" data-toggle=\"dropdown\"") : MvcHtmlString.Empty;
    }
}