﻿@inherits UmbracoViewPage<Merchello.Web.Models.VirtualContent.IProductContent>
@using Merchello.Core
@using Our.Umbraco.Ditto

@{
    var product = Model.As<FtProduct>();
       
}


@if (!product.ComingSoon)
{
    <div class="col-xs-12 col-sm-4 col-md-4">
        <div class="product-box">
            <div class="caption">

                @if (product.Image != null)
                {
                    <a rel="alternate" hreflang="en" href="@product.Url" alt="@Model.Name"><img class="img-responsive" src="@product.Image.GetCropUrl(200, 200)" alt="@Model.Name"></a>
                }
                else
                {
                    <a rel="alternate" hreflang="en" href="@product.Url" alt="@Model.Name"><img class="img-responsive" src="~/Assets/ProductMissingImage.png" alt="@Model.Name"></a>
                }


                <h3><a rel="alternate" hreflang="en" href="@Model.Url">@Model.Name</a></h3>
                @*@if (Model.HasValue("brief"))
                    {
                        <p>@Model.GetPropertyValue("brief")</p>
                    }*@
            </div>
            @*@Html.Action("AddProductToBasketForm", "StoreBasket", new { area = "Merchello", model = Model })*@
        </div>
    </div>
}
