﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<Merchello.Web.Models.VirtualContent.IProductContent>

@using Merchello.Core
@using Our.Umbraco.Ditto

@{
    /**/

    var product = Model.As<FtProduct>();
    // get node ID and URL of current page
    var currentPageId = UmbracoContext.Current.PageId;
    var currentPageUrl = Umbraco.TypedContent(currentPageId).Url;
    int nodeID = Umbraco.TypedContent(currentPageId).Id;

    // ---- find home page relative to mini website e.g Gorilla Training ------
    // ---- get node ID of settings----------------
    var settingsLists = Phoenix.Web.Helpers.GeneralNavigationHelpers.GetStore(Umbraco.ContentAtRoot());

    var settingsID = settingsLists.id;




    //  var home = "";
    // var SiteHome = Umbraco.Content(currentPageId).Children().Where("DocumentTypeAlias = \"ftStore\"");
    var homePage = Umbraco.Content(currentPageId).AncestorsOrSelf(2).First();
    int currentNodeID2 = homePage.Id;
    var SiteSettings = Umbraco.Content(currentNodeID2).Children().Where("DocumentTypeAlias = \"Settings\"");
    /// ---- get nodeID of settings ----------
    foreach (var item in SiteSettings)
    {
        settingsID = item.Id;
    }

    //-----------get navigation from 'settings - storePicker' ---------------
    var storeURL = "";
    var storeName = "";
    var storeID = "";
    var pageID = Umbraco.Content(settingsID);
    var selection = pageID.GetPropertyValue<IEnumerable<IPublishedContent>>("storePicker");
    //--- loop through nav picker ---
    foreach (var item in selection)
    {
        storeURL = item.Url;
        storeName = item.Name;
        storeID = (item.Id).ToString();
    }

    //-----------get navigation from 'settings - storePicker' ---------------
    var miniHomeURL = "";
    var miniHomeName = "";
    var miniHomeID = "";
    var selection2 = pageID.GetPropertyValue<IEnumerable<IPublishedContent>>("miniSiteHome");
    //--- loop through nav picker ---
    foreach (var item in selection2)
    {
        miniHomeURL = item.Url;
        miniHomeName = item.Name;
        miniHomeID = (item.Id).ToString();
    }



    //Response.Write("Store node is:" + storeURL + "Mini Home is:" + miniHomeID);

}


@if (!product.ComingSoon)
{
    <div class="col-xs-12 col-sm-4 col-md-4">
        <div id="" class="product-box">
            <h2 class="text-center text-uppercase">@product.Name</h2>

            @if (product.Image != null)
            {
                <a id="@product.Id" rel="alternate" hreflang="en" href="@product.Url?altTemplate=MiniGorrillaProduct&StoreID=@storeID&HomeID=@miniHomeID" alt="@Model.Name"><img class="img-responsive" src="@product.Image.GetCropUrl(200, 200)" alt="@Model.Name"></a>
            }
            else
            {
                <a id="#@product.Id" rel="alternate" hreflang="en" href="@product.Url?altTemplate=MiniGorrillaProduct&StoreID=@storeID&HomeID=@miniHomeID" alt="@Model.Name"><img class="img-responsive" src="~/Assets/ProductMissingImage.png" alt="@Model.Name"></a>
            }


            <div class="content">
                @product.ShortDescription
            </div>
            <div class="row mini-selection">
                <div class="col-xs-6 no-padding">
                    @*<input type="submit" value="Add" class="btn btn-orange" />*@
                    <span class="price">£@Model.Price</span>
                </div>
                <div class="col-xs-6 no-padding">
                    <a id="read-more" rel="alternate" hreflang="en" href="@product.Url?altTemplate=MiniGorrillaProduct&StoreID=@storeID&HomeID=@miniHomeID" class="btn btn-black">Read More</a>
                </div>
            </div>
            @*@Html.Action("AddProductToBasketForm", "StoreBasket", new { area = "Merchello", model = Model })*@
        </div>
    </div>
}
