﻿@inherits UmbracoViewPage<Merchello.Web.Models.VirtualContent.IProductContent>
@using Merchello.Core
@using Our.Umbraco.Ditto


@if (Model.HasValue("image"))
{
    var product = Model.As<FtProduct>();

    var mediaId = Model.GetPropertyValue<string>
        ("image");
    var image = Umbraco.TypedMedia(mediaId);
    if (product.ComingSoon)
    {
        <div class="col-xs-12 col-sm-4 col-md-4">
            <div class="product-box">
                <div class="caption">
                    <img class="img-responsive" src="@image.GetCropUrl(200, 200)" alt="@Model.Name">
                    <h3><a rel="alternate" hreflang="en" href="@Model.Url">@Model.Name</a></h3>
                </div>
            </div>
        </div>
    }
}
