﻿@model IEnumerable<Merchello.Web.Models.VirtualContent.IProductContent>
    

<section class="container-fluid product-box-list">
    <div class="row">
        <div class="container">
            @if (Model.Any())
            {

                foreach (var product in Model)
                {
                    
                        @Html.Partial("_ProductBox", product)
                    
                }

                foreach (var product in Model)
                {
                    
                        @Html.Partial("_ProductBoxSoon", product)
                    
                }

            }
            else
            {
                <div role="alert">
                    No products in this category
                </div>
            }
        </div>
    </div>
</section>