﻿@inherits Merchello.Web.Mvc.MerchelloTemplatePage

@{

}

<section class="strap">
    <div class="row no-margin">
        <div class="col-xs-12 strapline text-center">
            <img alt="Strenght Quality Performance" src="~/Assets/StrengthQualityPerformanceBox.png" />
        </div>
    </div>
</section>