﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Umbraco.Web

@{  //var selection = Model.Content.AncestorsOrSelf(1).ToArray();

    // ---- get node ID of settings----------------
    var settingsLists = Phoenix.Web.Helpers.GeneralNavigationHelpers.GetStore(Umbraco.ContentAtRoot());
    var settingsID = settingsLists.id;
    var basketPage = "";
    var miniHomeURL = "";


    // get node ID and URL of current page
    var currentPageId = UmbracoContext.Current.PageId;


    var homePage = Umbraco.Content(currentPageId).AncestorsOrSelf(2).First();
    int currentNodeID2 = homePage.Id;
    var SiteSettings = Umbraco.Content(currentNodeID2).Children().Where("DocumentTypeAlias = \"Settings\"");
    /// ---- get nodeID of settings ----------
    foreach (var item in SiteSettings)
    {
        settingsID = item.Id;
    }

    //-----------get navigation from 'settings - storePicker' ---------------
    var storeURL = "";
    var storeName = "";
    var storeID = "";
    var pageID = Umbraco.Content(settingsID);
    var selection = pageID.GetPropertyValue<IEnumerable<IPublishedContent>>("storePicker");
    //--- loop through nav picker ---
    foreach (var item in selection)
    {
        storeURL = item.Url;
        storeName = item.Name;
        storeID = (item.Id).ToString();
        basketPage = storeURL + "basket";
    }

    //-----------get navigation from 'settings - storePicker' ---------------
    miniHomeURL = "";
    var miniHomeName = "";
    var miniHomeID = "";
    var selection2 = pageID.GetPropertyValue<IEnumerable<IPublishedContent>>("miniSiteHome");
    //--- loop through nav picker ---
    foreach (var item in selection2)
    {
        miniHomeURL = item.Url;
        miniHomeName = item.Name;
        miniHomeID = (item.Id).ToString();
    }


   selection = Model.Content.Ancestors().ToArray();




    }


<section>
    <div class="container">

        @if (selection.Length > 0)
        {
            <ul class="breadcrumbs">
                <li><a rel="alternate" hreflang="en" href="@miniHomeURL">Home /</a></li>
                <li>@Model.Content.Name.ToUpper()</li>
            </ul>
        }
    </div>
</section>