﻿.banner {
    height: 372px;
    background-color: $black;
    color: $white;
    font-family: $banner;

    @media #{$tablet} {
        height: 450px;
    }

    @media #{$desktop} {
        height: 720px;
    }

    .fullwidthabanner, .fullwidthbanner-container, #phoenix-slider_forcefullwidth{
        height: 372px !important;

        @media #{$tablet} {
            height: 450px !important;
        }

        @media #{$desktop} {
            height: 720px !important;
        }
    }

    .tp-bgimg.defaultimg {
        max-height: 372px;

        @media #{$tablet} {
            max-height: 450px;
        }

        @media #{$desktop} {
            max-height: 720px;
        }
    }
}

.sports-border {
    border: 4px solid $black;
}

.white{
    color: $white;
}

.black{
    color: $black;
}

.tp-caption{
    a{
        &:hover{
            text-decoration:none;
        }
    }
}

.tp-caption.sports-display, .sports-display {
    background-color: transparent;
    border-color: transparent;
    border-radius: 0 0 0 0;
    border-style: none;
    border-width: 0;

    font-family: $banner;
    font-size: 100px;
    font-style: normal;
    font-weight: 600;
    /*letter-spacing:13px;*/
    line-height: 130px;
    padding: 0;
    text-decoration: none;
}

.tp-caption.sports-displayFat, .sports-displayFat {
    background-color: transparent;
    border-color: transparent;
    border-radius: 0 0 0 0;
    border-style: none;
    border-width: 0;
    color: $black;
    font-family: $banner;
    font-size: 100px;
    font-style: normal;
    font-weight: 600;
    line-height: 130px;
    padding: 0;
    text-decoration: none;
}

.tp-caption.sports-subline, .sports-subline {
    background-color: transparent;
    border-color: transparent;
    border-radius: 0 0 0 0;
    border-style: none;
    border-width: 0;
    padding:10px 15px;
    text-align:center;
    /*font-size:2em !important;
    line-height:2em;*/
    font-family: $banner;
    font-weight: 400;
    min-width: 330px;
    /*letter-spacing:4px;*/
    line-height: 32px;
    padding: 0;
    text-decoration: none;
    text-transform:uppercase;
}

.sports-subline.white{
    border:8px solid $white;
}

.sports-subline.black{
    border:8px solid $black;
}

#slide-214-layer-4 {
    font-family: $banner !important;
}

.tp-caption.rev-btn {
    min-width: 250px !important;
    font-weight: 600;
    line-height: 1.2em;
    color: $black;
    background-color: $orange;
    text-align: center;
    padding: 12px 20px 12px 20px;
    text-align: center;

    @media #{$tablet} {
        padding: 12px 35px 12px 35px;
    }
}

