﻿.infiniteCarousel {
  height: 150px;
  position: relative;
  .wrapper {
    width: 100%;
    /* .infiniteCarousel width - (.wrapper margin-left + .wrapper margin-right) */
    overflow: auto;
    position: absolute;
    top: 0;
    ul {
      width: 9999px;
      list-style-image: none;
      list-style-position: outside;
      list-style-type: none;
      margin: 0;
      padding: 0;
      position: absolute;
      top: 20px;
      li {
        width: 70px;
        margin-left: 0;
        @media #{$tablet} {
          width: 140px;
          margin-left: 70px;
        }
        float: left;
      }
      li:first-child {
        margin-left: 0;
      }
      li.empty {
      }
      .clearfix {
        display: block;
        zoom: 1;
      }
      .clearfix:after {
        content: " ";
        display: block;
        font-size: 0;
        height: 0;
        clear: both;
        visibility: hidden;
      }
    }
  }
}
