﻿html,
body {
    width: 100%;
     height: 100%;
}

html {
    display: table;
    -webkit-font-smoothing: antialiased;
}

body {
    font-family: $bodyfont;
    font-size: 100%;
    margin: 0;
    color: $black;
    min-height: 100%;
  //footer issue on Firefox
  @media all and (min--moz-device-pixel-ratio:0) and (min-resolution: .001dpcm) {
    display: table-cell;
    height: 100%;
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.25),
only screen and ( min-device-pixel-ratio: 1.25),
only screen and ( min-resolution: 200dpi),
only screen and ( min-resolution: 1.25dppx) {
  -webkit-font-smoothing: subpixel-antialiased;
}

.container {
  margin-bottom: 10px;
  @media #{$tablet} {
    margin-bottom: initial;
  }
}

.row {
  margin-left: 0;
  margin-right: 0;
}


.main {
  min-height: 100%;
  /* Equal to height of footer */
  /* But also accounting for potential margin-bottom of last child */
  margin-bottom: -156px; 
}

.pad-down {
  height: 131px;
}

.bottom-content {
  height: initial;
}

h1 {
    margin-top: 15px;
    font-size: 180%;
    @media #{$tablet} {
      font-size: 250%;
      margin: 25px 0 15px 0;
    }
    font-family: $banner;
}

.heading1{
    h1{
        text-transform:uppercase;
    }
}


h2 {
    font-family: $headings;
    font-size: 105%;
}

h3 {
    font-family: $headings;
    font-size: 100%;
    font-weight: bold;
}
strong{
    font-weight:900;
}

a {
    color: $black;

    &:hover {
        color: $orange;
        background-color:transparent !important;
    }
}

.orange-text{
    color:$orange;
}

.black-text{
    color:$black;
}

.white-text{
    color:$white;
}

.no-padding {
    padding: 0 !important;
}

.no-padding-sm{

    @media #{$tablet} {
      padding: 0 !important;
   }
}

.no-margin{
    margin:0 !important;
}

ol{
    padding: 20px;
    list-style:decimal;

    li{
        margin:5px;

        ol {
            padding:10px;

            li ol{
            list-style:lower-alpha;
            }
        }
    }
}

.padding-bottom{
    padding-bottom:15px;
}

.padding-bottom-30{
    padding-bottom:30px;
}

.btn {
    border-radius: 0 !important;
}

.btn-orange {
    font-family: $banner;
    color: $white;
    background-color: $orange;
    padding: 5px 15px;
    @media #{$tablet} {
      padding: 15px 25px;
    }
    text-transform: uppercase;


    &:hover {
        background-color: $black !important;
        text-decoration: none;
        color: $white;
    }
}

.btn-black {
    font-family: $banner;
    color: $white;
    background-color: $black;
    padding: 5px 15px;
    @media #{$tablet} {
      padding: 15px 25px;
    }
    text-transform: uppercase;
    &:hover {
        background-color: $orange !important;
        text-decoration: none;
        color: $white;
    }
}




.arrow{
    display:none;

    @media #{$tablet} {
     float: right;
     display:block;
   }
}

.main-content {
    margin: 40px 40px;
    font-family: $banner;
    text-align: center;
}

.breadcrumbs {
    display: flex;
    font-family: $headings;
    font-size: 0.8em;
    margin-top: 15px;

    li {
        padding-right: 5px;

        a {
            padding-right: 2px;
            color: $grey;

            &:hover {
                color: $black;
                text-decoration: none;
            }
        }
    }
}

.calltoaction {
    background-repeat: no-repeat;
    background-size: auto;

    .actionitem {
        min-height: 210px;
        max-height: 500px;
        overflow: hidden;
        padding: 0;
        position: relative;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;

        @media #{$tablet} {
            background-size: cover;
            min-height: 200px;
            max-height: 250px;
        }

        @media #{$desktop} {
            min-height: 300px;
            max-height: 350px;
        }

        @media #{$largescreen} {
            min-height: 350px;
            max-height: 400px;
        }

        @media #{$desktoplarge} {
            min-height: 430px;
            max-height: 450px;
        }

        span {
            position: inherit;
            top: 160px;
            color: $black;
            background-color: $white;
            padding: 15px 25px;
            margin-left: auto;
            margin-right: auto;
            font-family: $headings;
            font-size: 15px;

            @media #{$desktop} {
                top: 250px;
            }

            @media #{$largescreen} {
                top: 300px;
            }

            @media #{$desktoplarge} {
                top: 380px;
            }

            &:hover {
                background-color: $white !important;
                color: $orange;
                text-decoration: none;
            }

            &:visited {
                background-color: $white;
            }
        }
    }
}

.strap {
    height: auto;

    .strapline {
        padding: 30px 0;
        @media #{$tablet} {
          padding: 50px 0;
        }
        img {
            height: 120px;

            @media #{$tablet} {
                height: 200px;
            }

            @media #{$desktop} {
                height: 250px;
            }
        }
    }
}

.bannersub {
   img{
       width:100%;
   }



    .strapline {
        position: relative;
        top: 30px;
        color: $white;
        margin-right: auto;
        margin-left: auto;

        @media #{$tablet} {
            top: 60px;
            margin: auto;
        }

        @media #{$tablet} {
            top: 80px;
        }


        p {
            text-transform: uppercase;
            padding: 15px 25px;
            border: 4px solid $white;
            font-size: 2em;
            background-color: $whiteOpaque;
            @media #{$tablet} {
              background-color: $white;
            }
            display: inline-block;
            text-align: center;


            b {
                font-family: $banner;
            }
        }
    }
}

.partnership {
    font-family: $headings;
    margin: 33px 0;

    .byline {
        margin-bottom: 20px;
        text-align: center;

        p {
            text-align: center;
            font-size: 1em;

            @media #{$tablet} {
                font-size: 1.5em;
            }

            @media #{$desktop} {
                margin-top: 58px;
            }
        }
    }

    .logos {
        img {
            height: 75px;

            @media #{$tablet} {
                height: 130px;
            }

            @media #{$desktop} {
                height: 130px;
            }
        }
    }

    .btn {
        padding: 10px 15px;
        background-color: $black !important;
        color: $white;
        text-transform: uppercase;
        font-size: 1.1em;
        margin-top: 40px;
        margin-left: auto;
        margin-right: auto;
        display: table;

        @media #{$tablet} {
            font-size: 1.5em;
        }

        @media #{$desktop} {
            margin-top: 40px;
        }

        &:hover {
            background-color: $black;
            color: $orange;
        }
    }
}

.content {

    .logo {
        width: 100%;
        max-width: 340px;
    }

    .strapline {
        padding: 0;
        margin: 25px;
        text-align: center;

        span {
            font-family: $banner;
            display: inline-block;
            font-size: 4.2em;
            border: 3px solid $black;
            padding: 25px;
            text-transform: uppercase;
        }
    }

    .teamphoto {
        text-align: center;
    }


    .employees {
        margin: 25px 0;

        .email{
            margin-top:15px;
        }

        .employee {
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            min-height: 220px;
            box-sizing: border-box;
            position: relative;
            text-align: center;
            text-transform: uppercase;
            margin-bottom: 20px;
            padding: 0 20%;


            @media #{$tablet} {
                min-height: 200px;
                padding: 0 0;
            }

            @media #{$desktop} {
                min-height: 350px;
            }

            h2 {
                margin-top: 15%;
                font-family: Bannerfont;
                font-size: 1.8em;
                margin-bottom: 5px;

                @media #{$tablet} {
                    margin-top: 25%;
                    font-size: 1.5em;
                }

                @media #{$desktop} {
                    font-size: 2.5em;
                }
            }

            h3 {
                font-size: 1.4em;
                margin-bottom: 25px;

                @media #{$tablet} {
                    font-size: 1.2em;
                }

                @media #{$desktop} {
                    font-size: 1.9em;
                }
            }

            p {
                font-family: $bodyLight;
                font-size: 1.2em;

                @media #{$tablet} {
                    font-size: 1.2em;
                }

                @media #{$desktop} {
                    font-size: 1.8em;
                }
            }
        }
    }
}

.careers{

    line-height:1.5em;

     h2 {
                font-family: Bannerfont;
                font-size: 1.5em;
                margin-bottom: 5px;
                text-transform:uppercase;
                margin-top:25px;

                @media #{$tablet} {
                    font-size: 1.8em;
                    margin-top:25px;
                }

                @media #{$desktop} {
                    font-size: 2em;
                }
            }

            h3 {
                font-size: 1.2em;
                margin-bottom: 25px;

                @media #{$tablet} {
                    font-size: 1.2em;
                    margin-top:15px;
                }

                @media #{$desktop} {
                    font-size: 1.5em;
                }
            }

              h4 {
                font-size: 1.1em;
                margin-bottom: 25px;

                @media #{$tablet} {
                    font-size: 1.2em;
                    margin-top:15px;
                }

                @media #{$desktop} {
                    font-size: 1.4em;
                }
            }

            ul{
                list-style:disc;
                margin: 25px 0 25px 45px;
            }

            a{
                font-weight:600;
            }
}

.brochure {
    margin: 50px 0;

    a {
        text-transform: uppercase;
        text-align: center;
        background-color: $black;
        padding: 15px 25px;
        color: $white;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        font-family: $banner;


        &:hover {
            color: $orange;
            text-decoration: none;
            background-color: $black !important;
        }
    }
}

footer {
    background-color: $orange;
    color: $white;
    padding: 0 30px 33px 30px;
    margin-top: 55px;

    a {
        color: $white;
        text-transform: uppercase;

        &:hover {
            color: $black;
        }
    }

    p {
        font-size: 1em;
        line-height: 1.3em;
    }

    .footer-nav {
        margin-top: 25px;

        @media #{$desktop} {
            margin-top: 57px;
        }
    }

    .nav {
        text-align: center;

        @media #{$tablet} {
            text-align: center;
            margin-left: auto;
            margin-right: auto;
        }

        @media #{$desktop} {
            text-align: left;
            display: -webkit-box;

            li {
                display: inline;
                float: left;
            }
        }

        a {
            font-size: 0.8em;
            padding: 10px 8px !important;
        }
    }

    .social-wrapper {
        text-align: center;
        margin-top: 35px;

        @media #{$tablet} {
            margin-top: 45px;
        }

        @media #{$desktop} {
            margin-top: 16px;
        }


        a {
            background-repeat: no-repeat;
            margin: 35px 6px;
            padding: 20px;
            position: relative;
            background-size: contain;

            @media #{$tablet} {
                font-size: 1.5em;
            }

            @media #{$desktop} {
                margin-top: 40px;
                float: left;
            }

            &:hover {
                background-repeat: no-repeat;
                margin: 35px 10px;
                padding: 22px;
                position: relative;
                background-size: contain;
            }
        }

        .facebook {
            background-image: url('../Assets/Facebook_Icon.jpg');

            &:hover {
                background-image: url('../Assets/Facebook_IconHoverOver.jpg');
            }
        }

        .instagram {
            background-image: url('../Assets/Instagram.png');

            &:hover {
                background-image: url('../Assets/Instagram.png');
            }
        }

        .twitter {
            background-image: url('../Assets/Twitter_Icon.jpg');


            &:hover {
                background-image: url('../Assets/Twitter_IconHoverOver.jpg');
            }
        }

        .linkedIn {
            background-image: url('../Assets/LinkedIn_Icon.jpg');

            &:hover {
                background-image: url('../Assets/LinkedIn_IconHoverOver.jpg');
            }
        }
    }

    .copyright {
        font-size: 0.8em;
        color: $white;
        margin-top: 23px;
        text-align: center;
        line-height: 1.3em;
        margin-bottom: 25px;

        @media #{$tablet} {
            margin-top: 30px;
            margin-bottom: 25px;
        }

        @media #{$desktop} {
            margin-top: 50px;
            float: right;
            text-align: right;
        }

        a {
            text-transform: none;
        }
    }
}

.sub-pages {
    text-align: center;

    img {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    p {
        font-family: $banner;
        text-transform: uppercase;
        margin-top: 25px;
    }
}

.contact-form {

    .social img {
      width: 55px;
      @media #{$tablet} {
        width: 75px;
      }
        margin-top: 20px;
        margin-right: 10px;
    }

    strong {
        font-family: $headings;
        text-align: center;
    }

    .row {
        margin-top: 25px;
    }
}

.cookies {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    color: $white;
    border-top: 1px solid #f9a833;
    box-shadow: 0 -3px 2px -2px rgba(249, 168,51,0.6);
    font-size: 1.125em;
    padding: 8px 0 2px 0;
    background: $orange; /* Old browsers */
    text-align: center;
    z-index: 50;

    a {
        color: $white;
        background-color: transparent !important;
        font-weight: bold;

        &:hover {
            text-decoration: underline;
        }
    }

    .cookie-btn {
        margin-top: 20px;

        @media #{$tablet} {
            margin-top: 10px;
        }

        @media #{$desktop} {
            margin-top: 5px;
        }

        @media #{$largescreen} {
            margin-top: 0;
        }
    }

    p {
        font-size: 0.8em;
        min-height:46px;
        padding-top: 10px;

        @media #{$desktop} {
            font-size: 1em;
        }
    }

    .btn-cookies {
        background-color: $orange;
        color: #ffffff;
        border: 2px solid #ffffff;
        padding: 8px 12px;
        border-radius: 6px;
        font-size: 0.875em;
    }
}

.account-add{
    margin-top:0;

    @media #{$largescreen} {
            margin-top: -32px;
    }

}


.panel-default{
    border: 3px solid $orange;
     word-wrap:break-word;

    label{
        text-transform:uppercase;
        font-size:0.8em;
    }

    .checkbox label{
        font-size:1em;
    }

    .forgotten{

    }

    .panel-heading{
        background-image:none;
        background-color:$white;
        border-color:$orange;
        text-transform:uppercase;
        font-family:$headings;
    }

    .h-card{
        .label-contact{
            font-weight:bold;
            margin:5px 0;
        }

        .p-name{
            margin-bottom:5px;
        }

        .p-adr, .p-org, .u-email,.p-tel{
            padding-left:5px;
        }
    }
}

/* Change the white to any color ;) */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 1000px rgba(249,159,29,.46) inset;
    box-shadow: 0 0 0 1000px rgba(249,159,29,.46) inset;
}

.control-group{
    .price{
        font-size:1.5em;
        @media #{$tablet} {
          font-size:2em;
        }
        margin: 10px 0;
    }
}

.price{
    font-size:1.5em;
    @media #{$tablet} {
      font-size:2em;
    }
     margin: 10px 0;
}

.form-control{
    border: 2px solid $orange;
    border-radius:0;
    margin: 6px 0;

}

.quantity{
    input{
        width:50px;
    }
}

.form-control:focus{
    border-color: $black;
    border-width:2px;
    box-shadow:none;
}

.product .form-control{
     width:auto;
}


.alert-info{
    background-image:none;
    background-color:$orange;
    color:$white;
    border:none;
    text-align:center;
}

.alert-danger {
	border-radius: 0px;
	color: $alertText;
	background: $alertBg;
}


#basket-form-table {
  tbody > tr > td,
  tbody > tr > th,
  tfoot > tr > td,
  tfoot > tr > th,
  thead > tr > td,
  thead > tr > th  {
    padding: 8px 2px 8px 2px;
    @media #{$tablet} {
      padding: 8px;
    }
  }
}

.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th  {
  #order-summary & {
    padding: 8px 2px 8px 2px;
    @media #{$tablet} {
      padding: 8px;
    }
  }

  #sales-history & {
    padding: 1px 3px 1px 1px;
    font-size: 12px;
    @media #{$tablet} {
      font-size: 16px;
      padding: 8px;
    }
  }
}

.account-add,
#sales-history,
#basket-column,
.basket-summary,
#order-summary,
#order-summary .container-fluid,
#order-summ-column,
#final-summary-container,
#order-receipt-container,
.container
{
  padding: 0;
  @media #{$tablet} {
    padding-left: 15px;
    padding-right: 15px;
  }
}

#about-text {
  margin: 40px 0;
  @media #{$tablet} {
    margin: 40px 40px;
  }
}

#phoenix-name {
  font-size: 9px;
  @media #{$tablet} {
    font-size: 16px;
  }
}


#order-summ-column {
  font-size: 14px;
  @media #{$tablet} {
    font-size: 16px;
  }
}

#phoenix-logo {
  display: block;
  margin: 0 auto;
  max-width: 190px;
  @media #{$tablet} {
    max-width: 340px;
  }
}

.about-image {
  max-width: 140px;
  @media #{$tablet} {
    max-width: 100%;
  }
}

.panel-heading {
  padding: 10px 9px;
  @media #{$tablet} {
    padding: 10px 15px;
  }
}


.panel-body {
  padding: 5px;
  @media #{$tablet} {
    padding: 15px;
  }
}

#basket-form-table {
  input[data-muiaction="updatequantity"] {
    width: 100%;
    @media #{$tablet} {
      width: initial;
    }
  }
}


.first-byline {
  margin-top: 30px;
  @media #{$desktop} {
    margin-top: 0;
  }
}

.extra-logos {
    text-align:center;
    img {
        max-width: 400px;
        max-height: 100px;
        padding: 0 15px;
    }
}

