﻿header {
	border-bottom: 2px solid #ddd;
    box-shadow: inset 0 31px 2px -2px rgba(200,200,200,0.2);
    @media #{$tablet} {
        height: 135px;
    }

    @media #{$desktop} {
        height: 155px;
    }

    .mini-header {
      font-size: 13px;
      @media #{$tablet} {
        font-size: 16px;
      }
        background-color: $orange;
        color: $white;
        min-height: 25px;
        .mini-menu {
            float: right;
            display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
            display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
            display: -ms-flexbox;      /* TWEENER - IE 10 */
            display: -webkit-flex;     /* NEW - Chrome */
            display: flex;
            margin-top: 5px;

            li {
                margin-right: 4px;
              @media #{$tablet} {
                margin-right: 15px;
              }

                &:last-child {
                    margin-left: 0;
                }
            }
        }

         .contact-us {
            background: url('../Assets/Envelope_Black.png') no-repeat;
            background-position: left;
            padding-left: 25px;
            background-position-y: 6px;
            background-size: 21px;

            &:hover {
                background: url('../Assets/Envelope-white.png') no-repeat;
                background-position: left;
                background-position-y: 6px;
                background-size: 21px;
            }
        }

        .basket {
            sup {
                font-size: 0.8em;
            }
        }

       a {
            color: $black;
            padding-top: 4px;
            font-family: $banner;

            &:hover {
                color: $white;
                text-decoration: none;
            }
        }
    }



    .main-nav {
        display: none;

        @media #{$customscreen} {
            margin-top: 40px;
            float: right;
        }
    }

    .cd-morph-dropdown {
        a {
            color: $black;
            font-size: 1em;
            text-transform: uppercase;

            &:hover {
                color: $orange;
                text-decoration: none;

                @media #{$customscreen} {
                    color: $white;
                }
            }
        }
    }

    .logo {
        margin: 5px 0 0 6px !important;
        height: 50px;
        float: left;

        @media #{$tablet} {
            margin: 10px 0 0 0 !important;
            height: 80px;
        }

        @media #{$desktop} {
            margin: 20px 0 0 0 !important;
            height: 90px;
        }
    }
}



/* -------------------------------- 

 Header

-------------------------------- */
.cd-morph-dropdown {
    position: relative;
    height: 60px;
    background-color: $white;
}

.cd-morph-dropdown::before {
    /* never visible - used in JS to check mq */
    content: 'mobile';
    display: none;
}

.cd-morph-dropdown .nav-trigger {
    /* menu icon - visible on small screens only */
    position: absolute;
    top: 0;
    right: 0;
    height: 60px;
    width: 60px;
    /* replace text with icon */
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    color: transparent;
}

.cd-morph-dropdown .nav-trigger span, .cd-morph-dropdown .nav-trigger span::after, .cd-morph-dropdown .nav-trigger span::before {
    /* these are the 3 lines of the menu icon */
    position: absolute;
    background-color: $black;
    height: 3px;
    width: 26px;
}

.cd-morph-dropdown .nav-trigger span {
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
}

.cd-morph-dropdown .nav-trigger span::after, .cd-morph-dropdown .nav-trigger span::before {
    content: '';
    left: 0;
    -webkit-transition: -webkit-transform .3s;
    -moz-transition: -webkit-transform .3s;
    -o-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s;
}

.cd-morph-dropdown .nav-trigger span::before {
    -webkit-transform: translateY(-9px);
    -ms-transform: translateY(-9px);
    -moz-transform: translateY(-9px);
    -o-transform: translateY(-9px);
    transform: translateY(-9px);
}

.cd-morph-dropdown .nav-trigger span::after {
    -webkit-transform: translateY(9px);
    -ms-transform: translateY(9px);
    -moz-transform: translateY(9px);
    -o-transform: translateY(9px);
    transform: translateY(9px);
}

.cd-morph-dropdown.nav-open .nav-trigger span {
    background-color: transparent;
}

.cd-morph-dropdown.nav-open .nav-trigger span::before {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.cd-morph-dropdown.nav-open .nav-trigger span::after {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.cd-morph-dropdown .morph-dropdown-wrapper {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    padding: 1.2em 5%;
    box-shadow: inset 0 1px 0 #e6e6e6;
    background-color: #FFFFFF;
}

.cd-morph-dropdown.nav-open .morph-dropdown-wrapper {
    display: block;
    z-index: 999 !important;
}

.cd-morph-dropdown .dropdown-list > ul > li {
    margin-bottom: 1.3em;
}

.cd-morph-dropdown .label {
    display: block;
    font-size: 1em;
    text-transform: uppercase;
    text-align: left;
    color: $orange;
    margin-bottom: .8em;

    &:hover {
        color: $black;
    }
}

.cd-morph-dropdown .content li::after {
    clear: both;
    content: "";
    display: block;
}

.cd-morph-dropdown .gallery .content li {
    margin-bottom: 1.4em;
}

.cd-morph-dropdown .gallery .content a {
    display: block;
}

.cd-morph-dropdown .gallery .content a::before {
    /* icon on the left */
    content: '';
    display: inline-block;
    float: left;
    height: 54px;
    width: 54px;
    margin-right: .6em;
    background: red;
    border-radius: 50%;
    -webkit-transition: background .2s;
    -moz-transition: background .2s;
    -o-transition: background .2s;
    transition: background .2s;
}

.cd-morph-dropdown .gallery .content a span, .cd-morph-dropdown .gallery .content a em {
    display: block;
    line-height: 1.2;
}

.cd-morph-dropdown .gallery .content a em {
    font-size: 1.8rem;
    padding: .4em 0 .2em;
    color: $black;
}

.cd-morph-dropdown .gallery .content a span {
    font-size: 1.4rem;
    color: $grey;
}

.cd-morph-dropdown .gallery .content a:hover::before {
    background-color: $black;
}

.cd-morph-dropdown .gallery li:nth-of-type(1) a::before {
    background: #f4e58a url(../img/cd-gallery-icons.svg) no-repeat 0 0;
}

.cd-morph-dropdown .gallery li:nth-of-type(2) a::before {
    background: #F4AF6D url(../img/cd-gallery-icons.svg) no-repeat -54px 0;
}

.cd-morph-dropdown .gallery li:nth-of-type(3) a::before {
    background: #DB6356 url(../img/cd-gallery-icons.svg) no-repeat -108px 0;
}

.cd-morph-dropdown .gallery li:nth-of-type(4) a::before {
    background: #8D4645 url(../img/cd-gallery-icons.svg) no-repeat -162px 0;
}

.cd-morph-dropdown .links .content > ul > li {
    margin-top: 1em;
}

.cd-morph-dropdown .links-list a,
.cd-morph-dropdown .btn {
    display: block;
    margin-left: 14px;
    font-size: 2.2rem;
    line-height: 1.6;
}

.links-list {

    a {
        font-size: 1em !important;

        &:hover {
            color: $orange !important;
          @media #{$desktop} {
            color: $white !important;
          }
        }
    }

    p{
        font-size: 0.8em !important;
    }
}

.cd-morph-dropdown .links-list a:hover,
.cd-morph-dropdown .btn:hover {
    color: $black;
}

.cd-morph-dropdown .content h2 {
    margin: 20px 0 10px 14px;
}

@media only screen and (min-width: 1000px) {
    .cd-morph-dropdown {
        position: absolute;
        height: 80px;
        left: 0;
        top: 25px;
        width: 100%;
        padding: 0;
        text-align: center;
        background-color: transparent;
    }

    .cd-morph-dropdown::before {
        content: 'desktop';
    }

    .cd-morph-dropdown .nav-trigger {
        display: none;
    }

    .cd-morph-dropdown .main-nav {
        display: inline-block;
        z-index: 999 !important;
    }

    .cd-morph-dropdown .main-nav > ul > li {
        display: inline-block;
        float: left;

        &:first-child a { padding-left: 0 !important; }
        &:last-child a { padding-right: 0 !important; }
    }

    .cd-morph-dropdown .main-nav > ul > li > a {
        display: block;
        padding: 0 1em;
        height: 70px;
        line-height: 58px;
        font-size: 1em;
        text-transform: uppercase;
        color: $black !important;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        -webkit-transition: opacity .2s;
        -moz-transition: opacity .2s;
        -o-transition: opacity .2s;
        transition: opacity .2s;
    }

    .cd-morph-dropdown.is-dropdown-visible .main-nav > ul > li > a {
        /* main navigation hover effect - on hover, reduce opacity of elements not hovered over */
        opacity: .6;
    }

    .cd-morph-dropdown.is-dropdown-visible .main-nav > ul > li.active > a {
        opacity: 1;
    }

    .cd-morph-dropdown .morph-dropdown-wrapper {
        /* dropdown wrapper - used to create the slide up/slide down effect when dropdown is revealed/hidden */
        display: block;
        z-index: 999 !important;
        top: 70px;
        /* overwrite mobile style */
        width: auto;
        padding: 0;
        box-shadow: none;
        background-color: transparent;
        /* Force Hardware acceleration */
        -webkit-transform: translateZ(0);
        -moz-transform: translateZ(0);
        -o-transform: translateZ(0);
        will-change: transform;
        -webkit-transform: translateY(20px);
        -ms-transform: translateY(20px);
        transform: translateZ(0);
        transform: translateY(20px);
        -webkit-transition: -webkit-transform .3s;
        -moz-transition: transform .3s, -webkit-transform .3s;
        -o-transition: transform .3s, -webkit-transform .3s;
        transition: -webkit-transform .3s;
        transition: transform .3s;
        transition: transform .3s, -webkit-transform .3s;
    }

    .cd-morph-dropdown.is-dropdown-visible .morph-dropdown-wrapper {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        -moz-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }

    .cd-morph-dropdown .dropdown-list {
        background-color: $orange;
        position: absolute;
        top: 25px;
        left: 0;
        visibility: hidden;
        -webkit-transform: translateZ(0);
        -moz-transform: translateZ(0);
        -ms-transform: translateZ(0);
        -o-transform: translateZ(0);
        transform: translateZ(0);
        will-change: transform, width, height;
        -webkit-transition: visibility .3s;
        -moz-transition: visibility .3s;
        -o-transition: visibility .3s;
        transition: visibility .3s;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
    }

    .no-csstransitions .cd-morph-dropdown .dropdown-list {
        display: none;
    }

    .cd-morph-dropdown .dropdown-list::before {
        /* dropdown top triangle */
        content: '';
        position: absolute;
        bottom: 100%;
        left: 50%;
        right: auto;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
        height: 0;
        width: 0;
        border: 8px solid transparent;
        border-bottom-color: $orange;
        opacity: 0;
        -webkit-transition: opacity .3s;
        -moz-transition: opacity .3s;
        -o-transition: opacity .3s;
        transition: opacity .3s;
    }

    .cd-morph-dropdown .dropdown-list > ul {
        position: relative;
        z-index: 1;
        height: 100%;
        width: 100%;
        overflow: hidden;
    }

    .cd-morph-dropdown.is-dropdown-visible .dropdown-list {
        visibility: visible;
        -webkit-transition: width .3s, height .3s, -webkit-transform .3s;
        -moz-transition: width .3s, height .3s, -webkit-transform .3s;
        -o-transition: width .3s, height .3s, -webkit-transform .3s;
        transition: width .3s, height .3s, -webkit-transform .3s;
        transition: transform .3s, width .3s, height .3s;
        transition: transform .3s, width .3s, height .3s, -webkit-transform .3s;
    }

    .cd-morph-dropdown.is-dropdown-visible .dropdown-list::before {
        opacity: 1;
    }

    .cd-morph-dropdown .dropdown {
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
        visibility: hidden;
        width: 100%;
        -webkit-transition: opacity .3s, visibility .3s;
        -moz-transition: opacity .3s, visibility .3s;
        -o-transition: opacity .3s, visibility .3s;
        transition: opacity .3s, visibility .3s;
    }

    .cd-morph-dropdown .dropdown.active {
        opacity: 1;
        visibility: visible;
    }

    .cd-morph-dropdown .dropdown.move-left .content {
        -webkit-transform: translateX(-100px);
        -ms-transform: translateX(-100px);
        -moz-transform: translateX(-100px);
        -o-transform: translateX(-100px);
        transform: translateX(-100px);
    }

    .cd-morph-dropdown .dropdown.move-right .content {
        -webkit-transform: translateX(100px);
        -ms-transform: translateX(100px);
        -moz-transform: translateX(100px);
        -o-transform: translateX(100px);
        transform: translateX(100px);
    }

    .cd-morph-dropdown .label {
        /* hide the label on bigger devices */
        display: none;
    }

    .cd-morph-dropdown .content {
        padding: 1.6em 1.8em;
        -webkit-transition: -webkit-transform .3s;
        -moz-transition: -webkit-transform .3s;
        -o-transition: -webkit-transform .3s;
        transition: -webkit-transform .3s;
        transition: transform .3s;
        transition: transform .3s, -webkit-transform .3s;
        text-align: left;
    }

    .cd-morph-dropdown .content > ul::after {
        clear: both;
        content: "";
        display: block;
    }

    .cd-morph-dropdown .content > ul > li {
        width: 48%;
        float: left;
        margin-right: 4%;
        margin-top: 0;
    }

    .cd-morph-dropdown .content > ul > li:nth-of-type(2n) {
        margin-right: 0;
    }

    .cd-morph-dropdown .gallery .content {
        /* you need to set a width for the .content elements because they have a position absolute */
        width: 510px;
        padding-bottom: .8em;
    }

    .cd-morph-dropdown .gallery .content li {
        margin-bottom: 1.8em;
    }

    .cd-morph-dropdown .links .content > ul > li {
        margin-top: 0;
    }

    .cd-morph-dropdown .links .content,
    .cd-morph-dropdown .button .content {
        width: 650px;
        min-width: 450px;
        width: auto;
    }

    .cd-morph-dropdown .links-list a {
        font-size: 1.6rem;
        margin-left: 0;
    }

    .cd-morph-dropdown .btn {
        display: block;
        width: 100%;
        height: 60px;
        margin: 1.5em 0 0;
        font-size: 1.8rem;
        text-align: center;
        color: #FFFFFF;
        line-height: 60px;
        background: #DB6356;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    .cd-morph-dropdown .btn:hover {
        background: #1A1A1A;
        color: #FFFFFF;
    }

    .cd-morph-dropdown .content h2 {
        text-transform: none;
        font-weight: normal;
        margin: .6em 0 .6em 0;
    }

    .cd-morph-dropdown .bg-layer {
        /* morph dropdown background */
        position: absolute;
        top: 0;
        left: 0;
        height: 1px;
        width: 1px;
        background: #FFFFFF;
        opacity: 0;
        -webkit-transition: opacity .3s;
        transition: opacity .3s;
        -webkit-transform-origin: top left;
        -ms-transform-origin: top left;
        -moz-transform-origin: top left;
        -o-transform-origin: top left;
        transform-origin: top left;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        will-change: transform;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }

    .cd-morph-dropdown.is-dropdown-visible .bg-layer {
        opacity: 1;
        -webkit-transition: opacity .3s, -webkit-transform .3s;
        -moz-transition: opacity .3s, -webkit-transform .3s;
        -o-transition: opacity .3s, -webkit-transform .3s;
        transition: opacity .3s, -webkit-transform .3s;
        transition: transform .3s, opacity .3s;
        transition: transform .3s, opacity .3s, -webkit-transform .3s;
    }
}

/* -------------------------------- 

Main site content

-------------------------------- */
.cd-main-content {
    min-height: 100vh;
    background-color: #548c7e;
}

@media only screen and (min-width: 1000px) {
    .cd-main-content {
        padding-top: 80px;
    }
}
