﻿.modal-backdrop {
	background-color: $white;
	opacity: 0.7 !important;
}

#myModal {
	::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		color: $ghostGrey;
	}

	::-moz-placeholder { /* Firefox 19+ */
		color: $ghostGrey;
	}

	:-ms-input-placeholder { /* IE 10+ */
		color: $ghostGrey;
	}

	:-moz-placeholder { /* Firefox 18- */
		color: $ghostGrey;
	}

	.close {
		background: #fff;
		opacity: 1;
		color: $whiteOpaque2;
		border-radius: 12px;
		font-weight: 500;
		padding: 0 6px 4px;

		@media #{$desktop} {
			font-weight: 900;
			font-size: 30px;
			padding: 0 7px 4px;
			border-radius: 17px;
		}
	}

	.close:hover {
		color: darken($whiteOpaque2, 25%) !important;
		background: darken($white, 15%) !important;
	}

	.modal-header {
		border: none;
	}

	.modal-dialog {
		@media #{$desktop} {
			width: 750px;
		}
	}

	.modal-body {
		@media #{$desktop} {
			position: relative;
			padding: 5px 15px 15px;
		}
	}

	.img-cont {
		@media #{$desktop} {
			padding: 14px 39px;
		}
	}

	.modal-content {
		border-radius: 4px;
		@media #{$desktop} {
			height: 450px;
		}
	}

	h4,
	h5 {
		text-transform: uppercase;
	}

	h5 {
		color: $whiteOpaque2;
	}


	h4 {
		font-family: headings;
		font-weight: 900;
		font-size: 23px;
		padding-top: 5px;

		@media #{$desktop} {
			font-size: 36px;
			line-height: 41px;
			padding-top: 10px;
		}
	}

	.form-control {
		@media #{$desktop} {
			height: 48px;
			font-size: 22px;
			letter-spacing: 1px;
		}
	}

	input {
		font-family: HelveticaLight;
		border-color: $black;
	}

	input:focus {
		border-color: $orange;
	}

    a{
        color:$white;
    }
}


.modal-content--black {
	background: $black2;

	h4,
	h5,
	p {
		color: #fff;
	}
}

#subsc-btn {
	font-family: headings;
	width: 100%;
	font-size: 18px;
	border-radius: 10px !important;
	padding: 4px 0;

	@media #{$desktop} {
		font-size: 35px;
		letter-spacing: 0px;
		border-radius: 15px !important;
		padding: 0 0;
		font-weight: 900;
		margin-top: 13px;
	}
}

#subsc-btn:hover {
	color: lighten($white, 30%) !important;
	background: darken($orange, 10%) !important;
}

button:focus {
	outline: none !important;
}