﻿.product {
  margin-top: 20px;

  h1 {
    margin: 0 0 15px 0;
  }

  hr {
    border-top: 3px solid $grey;
    opacity: 0.7;
    margin: 25px 0;
  }

  .gallery {
    height: 640px;
    width: auto;
    @media #{$tablet} {
      width: 100%;
      height: 860px;
    }
    @media #{$desktop} {
      width: 50%;
      height: 750px;
    }
    @media #{$largescreen} {
      width: 50%;
      height: 810px;
    }
    overflow: hidden;
    img {
      border: 3px solid $grey;
      width: 100%;
    }
    .gallerythumbnail {
      border: 2px solid $grey;
      width: 100%;
      margin-bottom: 7px;
      margin-right: 0;
      z-index: -99;
      padding-right: 0;
      height: 90px;
      @media #{$tablet} {
       
        height: 149px;
      }
      @media #{$desktop} {
        height: 100px;
      }
      @media #{$largescreen} {
        height: 130px;
      }
    }
    #main-img {
      height: auto;
      width: 100%;
      @media #{$tablet} {
        height: 550px;
      }
      @media #{$desktop} {
        width: auto;
        height: 519px;
      }
      @media #{$largescreen} {
        height: 519px;
      }
      margin-bottom: 10px;
    }
    .col-sm-3 {
      overflow: hidden;
      padding-left: 0;
      padding-right: 0;
      width: 23%;
      margin-left: 1%;
      margin-right: 1%;
    }
  }
  .description {
    line-height: 1.4em;
  }

  .product-options {

    .option-label {
      margin: 15px 0;
    }

    .radios .radio {
      background-color: $orange;
      display: inline-block;
      width: auto;
      max-width: 250px;
      height: 60px;
      color: $white;
      text-align: center;

      &:hover {
        background-color: $black;
      }

      span {
        width: 100%;
        display: block;
        padding: 5px 15px;
        margin-left: auto;
        margin-right: auto;
      }

      .single {
        padding-top: 15px;
      }

      .first {
        &:after {
          content: "";
          position: absolute;
          height: 1px;
          width: 57%;
          border-bottom: 1px solid #fff;
          top: 30px;
          left: 22%;
          border-bottom: 1px solid $white;
        }
      }
    }

    hr {
      border-top: 3px solid $white;
      opacity: 1;
      margin: 0;
      width: 80%;
      margin-left: auto;
      margin-right: auto;
    }

    .radios input[type=radio] {
      display: none;
    }

    label {
      text-align: center;
      padding-top: 5px;
    }

    .radios input[type=radio]:checked + .radio {
      background-color: #241009;
    }
  }
}

.product-variants {
  border-bottom: 2px solid $black;
  padding: 25px 0;
}

.product-sheets {
  margin: 25px 0;
  font-family: $headings;
  text-transform: uppercase;
  font-size: 1em;

  a {
    /*margin-left:50px;*/
    margin-top: 15px;
  }

  span {
    position: relative;
    top: 20px;
  }

  img {
    width: 85px;
    float: left;
    margin-right: 15px;
  }
}

.enquire {
  margin: 0 0 0 0;
  @media #{$tablet} {
    margin: 0 0 40px 0;
  }
}

.key-benefits {
  line-height: 2.2em;
  text-align: left;
  padding-top: 10px;
  @media #{$desktop} {
    padding-top: 30px;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    @media #{$desktop} {
      -webkit-column-count: 2;
      -moz-column-count: 2;
      column-count: 2;
      -webkit-column-gap: 3em;
      -moz-column-gap: 3em;
      column-gap: 3em;
    }
    li {
      padding-left: 15px;
      &:before {
        content: "•"; /* Insert content that looks like bullets */
        padding-right: 12px;
        font-size: 1.7em;
        vertical-align: bottom;
        color: $orange; /* Or a color you prefer */
      }
    }
  }
}

.product-box {
  margin: 25px 0;

  h3 {
    font-size: 0.8em;
    font-family: $headings;
    text-transform: uppercase;
    margin-top: 25px;
    text-align: center;
  }

  img {
    width: 100%;
    border: 2px solid $grey;
  }
}
