﻿@font-face {
    font-family: bodyLight;
    src: url('fonts/HelveticaNeueLight.woff') format("woff");
    
}

@font-face {
    font-family: headings;
    src: url('fonts/HelveticaLTStd-Bold.woff') format('woff');
}


@font-face{
    font-family:BannerFont;
    src: url('fonts/HelveticaLTStd-BlkCond.woff') format('woff');
}

@font-face{
    font-family: HelveticaLight;
    src: url('fonts/HelveticaLTStd-Light.woff') format('woff')
}


@font-face{
    font-family: Helveticastd;
    src: url('fonts/HelveticaLTStd-LightCond.woff') format('woff')
}

//Fonts
$bodyfont:HelveticaLight, sans-serif;
$bodyLight:Helveticastd, sans-serif;
$headings: headings;
$banner:Bannerfont;


//search
$tl: 0.6s; // transition length
// colors

$black: #000000;
$black2: #0F0E09;
$grey:rgba(0, 0, 0, 0.6);
$white:#fff;
$whiteOpaque: rgba(255,255,255, 0.5);
$whiteOpaque2: #888888;
$orange:#f99f1d;
$ghostGrey:#DFD9DA ;

$alertText: rgba(103, 34, 32, 0.82);
$alertBg: rgba(235,78,73,0.7);


//media
$tablet: "only screen and (min-width: 768px)";
$desktop: "only screen and (min-width: 1024px)";
$largescreen: "only screen and (min-width: 1280px)";
$desktoplarge:"only screen and (min-width: 1617px)";

$customscreen: "only screen and (min-width: 1000px)";

