﻿@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.no-mp {
  padding: 0;
  margin: 0; }

@font-face {
  font-family: bodyLight;
  src: url("fonts/HelveticaNeueLight.woff") format("woff"); }

@font-face {
  font-family: headings;
  src: url("fonts/HelveticaLTStd-Bold.woff") format("woff"); }

@font-face {
  font-family: BannerFont;
  src: url("fonts/HelveticaLTStd-BlkCond.woff") format("woff"); }

@font-face {
  font-family: HelveticaLight;
  src: url("fonts/HelveticaLTStd-Light.woff") format("woff"); }

@font-face {
  font-family: Helveticastd;
  src: url("fonts/HelveticaLTStd-LightCond.woff") format("woff"); }

html,
body {
  width: 100%;
  height: 100%; }

html {
  display: table;
  -webkit-font-smoothing: antialiased; }

body {
  font-family: HelveticaLight, sans-serif;
  font-size: 100%;
  margin: 0;
  color: #000000;
  min-height: 100%; }
  @media all and (min--moz-device-pixel-ratio: 0) and (min-resolution: 0.001dpcm) {
    body {
      display: table-cell;
      height: 100%; } }

@media only screen and (-webkit-min-device-pixel-ratio: 1.25), only screen and (min-device-pixel-ratio: 1.25), only screen and (min-resolution: 200dpi), only screen and (min-resolution: 1.25dppx) {
  -webkit-font-smoothing: subpixel-antialiased; }

.container {
  margin-bottom: 10px; }
  @media only screen and (min-width: 768px) {
    .container {
      margin-bottom: initial; } }

.row {
  margin-left: 0;
  margin-right: 0; }

.main {
  min-height: 100%;
  /* Equal to height of footer */
  /* But also accounting for potential margin-bottom of last child */
  margin-bottom: -156px; }

.pad-down {
  height: 131px; }

.bottom-content {
  height: initial; }

h1 {
  margin-top: 15px;
  font-size: 180%;
  font-family: Bannerfont; }
  @media only screen and (min-width: 768px) {
    h1 {
      font-size: 250%;
      margin: 25px 0 15px 0; } }

.heading1 h1 {
  text-transform: uppercase; }

h2 {
  font-family: headings;
  font-size: 105%; }

h3 {
  font-family: headings;
  font-size: 100%;
  font-weight: bold; }

strong {
  font-weight: 900; }

a {
  color: #000000; }
  a:hover {
    color: #f99f1d;
    background-color: transparent !important; }

.orange-text {
  color: #f99f1d; }

.black-text {
  color: #000000; }

.white-text {
  color: #fff; }

.no-padding {
  padding: 0 !important; }

@media only screen and (min-width: 768px) {
  .no-padding-sm {
    padding: 0 !important; } }

.no-margin {
  margin: 0 !important; }

ol {
  padding: 20px;
  list-style: decimal; }
  ol li {
    margin: 5px; }
    ol li ol {
      padding: 10px; }
      ol li ol li ol {
        list-style: lower-alpha; }

.padding-bottom {
  padding-bottom: 15px; }

.padding-bottom-30 {
  padding-bottom: 30px; }

.btn {
  border-radius: 0 !important; }

.btn-orange {
  font-family: Bannerfont;
  color: #fff;
  background-color: #f99f1d;
  padding: 5px 15px;
  text-transform: uppercase; }
  @media only screen and (min-width: 768px) {
    .btn-orange {
      padding: 15px 25px; } }
  .btn-orange:hover {
    background-color: #000000 !important;
    text-decoration: none;
    color: #fff; }

.btn-black {
  font-family: Bannerfont;
  color: #fff;
  background-color: #000000;
  padding: 5px 15px;
  text-transform: uppercase; }
  @media only screen and (min-width: 768px) {
    .btn-black {
      padding: 15px 25px; } }
  .btn-black:hover {
    background-color: #f99f1d !important;
    text-decoration: none;
    color: #fff; }

.arrow {
  display: none; }
  @media only screen and (min-width: 768px) {
    .arrow {
      float: right;
      display: block; } }

.main-content {
  margin: 40px 40px;
  font-family: Bannerfont;
  text-align: center; }

.breadcrumbs {
  display: flex;
  font-family: headings;
  font-size: 0.8em;
  margin-top: 15px; }
  .breadcrumbs li {
    padding-right: 5px; }
    .breadcrumbs li a {
      padding-right: 2px;
      color: rgba(0, 0, 0, 0.6); }
      .breadcrumbs li a:hover {
        color: #000000;
        text-decoration: none; }

.calltoaction {
  background-repeat: no-repeat;
  background-size: auto; }
  .calltoaction .actionitem {
    min-height: 210px;
    max-height: 500px;
    overflow: hidden;
    padding: 0;
    position: relative;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center; }
    @media only screen and (min-width: 768px) {
      .calltoaction .actionitem {
        background-size: cover;
        min-height: 200px;
        max-height: 250px; } }
    @media only screen and (min-width: 1024px) {
      .calltoaction .actionitem {
        min-height: 300px;
        max-height: 350px; } }
    @media only screen and (min-width: 1280px) {
      .calltoaction .actionitem {
        min-height: 350px;
        max-height: 400px; } }
    @media only screen and (min-width: 1617px) {
      .calltoaction .actionitem {
        min-height: 430px;
        max-height: 450px; } }
    .calltoaction .actionitem span {
      position: inherit;
      top: 160px;
      color: #000000;
      background-color: #fff;
      padding: 15px 25px;
      margin-left: auto;
      margin-right: auto;
      font-family: headings;
      font-size: 15px; }
      @media only screen and (min-width: 1024px) {
        .calltoaction .actionitem span {
          top: 250px; } }
      @media only screen and (min-width: 1280px) {
        .calltoaction .actionitem span {
          top: 300px; } }
      @media only screen and (min-width: 1617px) {
        .calltoaction .actionitem span {
          top: 380px; } }
      .calltoaction .actionitem span:hover {
        background-color: #fff !important;
        color: #f99f1d;
        text-decoration: none; }
      .calltoaction .actionitem span:visited {
        background-color: #fff; }

.strap {
  height: auto; }
  .strap .strapline {
    padding: 30px 0; }
    @media only screen and (min-width: 768px) {
      .strap .strapline {
        padding: 50px 0; } }
    .strap .strapline img {
      height: 120px; }
      @media only screen and (min-width: 768px) {
        .strap .strapline img {
          height: 200px; } }
      @media only screen and (min-width: 1024px) {
        .strap .strapline img {
          height: 250px; } }

.bannersub img {
  width: 100%; }

.bannersub .strapline {
  position: relative;
  top: 30px;
  color: #fff;
  margin-right: auto;
  margin-left: auto; }
  @media only screen and (min-width: 768px) {
    .bannersub .strapline {
      top: 60px;
      margin: auto; } }
  @media only screen and (min-width: 768px) {
    .bannersub .strapline {
      top: 80px; } }
  .bannersub .strapline p {
    text-transform: uppercase;
    padding: 15px 25px;
    border: 4px solid #fff;
    font-size: 2em;
    background-color: rgba(255, 255, 255, 0.5);
    display: inline-block;
    text-align: center; }
    @media only screen and (min-width: 768px) {
      .bannersub .strapline p {
        background-color: #fff; } }
    .bannersub .strapline p b {
      font-family: Bannerfont; }

.partnership {
  font-family: headings;
  margin: 33px 0; }
  .partnership .byline {
    margin-bottom: 20px;
    text-align: center; }
    .partnership .byline p {
      text-align: center;
      font-size: 1em; }
      @media only screen and (min-width: 768px) {
        .partnership .byline p {
          font-size: 1.5em; } }
      @media only screen and (min-width: 1024px) {
        .partnership .byline p {
          margin-top: 58px; } }
  .partnership .logos img {
    height: 75px; }
    @media only screen and (min-width: 768px) {
      .partnership .logos img {
        height: 130px; } }
    @media only screen and (min-width: 1024px) {
      .partnership .logos img {
        height: 130px; } }
  .partnership .btn {
    padding: 10px 15px;
    background-color: #000000 !important;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.1em;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    display: table; }
    @media only screen and (min-width: 768px) {
      .partnership .btn {
        font-size: 1.5em; } }
    @media only screen and (min-width: 1024px) {
      .partnership .btn {
        margin-top: 40px; } }
    .partnership .btn:hover {
      background-color: #000000;
      color: #f99f1d; }

.content .logo {
  width: 100%;
  max-width: 340px; }

.content .strapline {
  padding: 0;
  margin: 25px;
  text-align: center; }
  .content .strapline span {
    font-family: Bannerfont;
    display: inline-block;
    font-size: 4.2em;
    border: 3px solid #000000;
    padding: 25px;
    text-transform: uppercase; }

.content .teamphoto {
  text-align: center; }

.content .employees {
  margin: 25px 0; }
  .content .employees .email {
    margin-top: 15px; }
  .content .employees .employee {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 220px;
    box-sizing: border-box;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding: 0 20%; }
    @media only screen and (min-width: 768px) {
      .content .employees .employee {
        min-height: 200px;
        padding: 0 0; } }
    @media only screen and (min-width: 1024px) {
      .content .employees .employee {
        min-height: 350px; } }
    .content .employees .employee h2 {
      margin-top: 15%;
      font-family: Bannerfont;
      font-size: 1.8em;
      margin-bottom: 5px; }
      @media only screen and (min-width: 768px) {
        .content .employees .employee h2 {
          margin-top: 25%;
          font-size: 1.5em; } }
      @media only screen and (min-width: 1024px) {
        .content .employees .employee h2 {
          font-size: 2.5em; } }
    .content .employees .employee h3 {
      font-size: 1.4em;
      margin-bottom: 25px; }
      @media only screen and (min-width: 768px) {
        .content .employees .employee h3 {
          font-size: 1.2em; } }
      @media only screen and (min-width: 1024px) {
        .content .employees .employee h3 {
          font-size: 1.9em; } }
    .content .employees .employee p {
      font-family: Helveticastd, sans-serif;
      font-size: 1.2em; }
      @media only screen and (min-width: 768px) {
        .content .employees .employee p {
          font-size: 1.2em; } }
      @media only screen and (min-width: 1024px) {
        .content .employees .employee p {
          font-size: 1.8em; } }

.careers {
  line-height: 1.5em; }
  .careers h2 {
    font-family: Bannerfont;
    font-size: 1.5em;
    margin-bottom: 5px;
    text-transform: uppercase;
    margin-top: 25px; }
    @media only screen and (min-width: 768px) {
      .careers h2 {
        font-size: 1.8em;
        margin-top: 25px; } }
    @media only screen and (min-width: 1024px) {
      .careers h2 {
        font-size: 2em; } }
  .careers h3 {
    font-size: 1.2em;
    margin-bottom: 25px; }
    @media only screen and (min-width: 768px) {
      .careers h3 {
        font-size: 1.2em;
        margin-top: 15px; } }
    @media only screen and (min-width: 1024px) {
      .careers h3 {
        font-size: 1.5em; } }
  .careers h4 {
    font-size: 1.1em;
    margin-bottom: 25px; }
    @media only screen and (min-width: 768px) {
      .careers h4 {
        font-size: 1.2em;
        margin-top: 15px; } }
    @media only screen and (min-width: 1024px) {
      .careers h4 {
        font-size: 1.4em; } }
  .careers ul {
    list-style: disc;
    margin: 25px 0 25px 45px; }
  .careers a {
    font-weight: 600; }

.brochure {
  margin: 50px 0; }
  .brochure a {
    text-transform: uppercase;
    text-align: center;
    background-color: #000000;
    padding: 15px 25px;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    font-family: Bannerfont; }
    .brochure a:hover {
      color: #f99f1d;
      text-decoration: none;
      background-color: #000000 !important; }

footer {
  background-color: #f99f1d;
  color: #fff;
  padding: 0 30px 33px 30px;
  margin-top: 55px; }
  footer a {
    color: #fff;
    text-transform: uppercase; }
    footer a:hover {
      color: #000000; }
  footer p {
    font-size: 1em;
    line-height: 1.3em; }
  footer .footer-nav {
    margin-top: 25px; }
    @media only screen and (min-width: 1024px) {
      footer .footer-nav {
        margin-top: 57px; } }
  footer .nav {
    text-align: center; }
    @media only screen and (min-width: 768px) {
      footer .nav {
        text-align: center;
        margin-left: auto;
        margin-right: auto; } }
    @media only screen and (min-width: 1024px) {
      footer .nav {
        text-align: left;
        display: -webkit-box; }
        footer .nav li {
          display: inline;
          float: left; } }
    footer .nav a {
      font-size: 0.8em;
      padding: 10px 8px !important; }
  footer .social-wrapper {
    text-align: center;
    margin-top: 35px; }
    @media only screen and (min-width: 768px) {
      footer .social-wrapper {
        margin-top: 45px; } }
    @media only screen and (min-width: 1024px) {
      footer .social-wrapper {
        margin-top: 16px; } }
    footer .social-wrapper a {
      background-repeat: no-repeat;
      margin: 35px 6px;
      padding: 20px;
      position: relative;
      background-size: contain; }
      @media only screen and (min-width: 768px) {
        footer .social-wrapper a {
          font-size: 1.5em; } }
      @media only screen and (min-width: 1024px) {
        footer .social-wrapper a {
          margin-top: 40px;
          float: left; } }
      footer .social-wrapper a:hover {
        background-repeat: no-repeat;
        margin: 35px 10px;
        padding: 22px;
        position: relative;
        background-size: contain; }
    footer .social-wrapper .facebook {
      background-image: url("../Assets/Facebook_Icon.jpg"); }
      footer .social-wrapper .facebook:hover {
        background-image: url("../Assets/Facebook_IconHoverOver.jpg"); }
    footer .social-wrapper .instagram {
      background-image: url("../Assets/Instagram.png"); }
      footer .social-wrapper .instagram:hover {
        background-image: url("../Assets/Instagram.png"); }
    footer .social-wrapper .twitter {
      background-image: url("../Assets/Twitter_Icon.jpg"); }
      footer .social-wrapper .twitter:hover {
        background-image: url("../Assets/Twitter_IconHoverOver.jpg"); }
    footer .social-wrapper .linkedIn {
      background-image: url("../Assets/LinkedIn_Icon.jpg"); }
      footer .social-wrapper .linkedIn:hover {
        background-image: url("../Assets/LinkedIn_IconHoverOver.jpg"); }
  footer .copyright {
    font-size: 0.8em;
    color: #fff;
    margin-top: 23px;
    text-align: center;
    line-height: 1.3em;
    margin-bottom: 25px; }
    @media only screen and (min-width: 768px) {
      footer .copyright {
        margin-top: 30px;
        margin-bottom: 25px; } }
    @media only screen and (min-width: 1024px) {
      footer .copyright {
        margin-top: 50px;
        float: right;
        text-align: right; } }
    footer .copyright a {
      text-transform: none; }

.sub-pages {
  text-align: center; }
  .sub-pages img {
    width: 80%;
    margin-left: auto;
    margin-right: auto; }
  .sub-pages p {
    font-family: Bannerfont;
    text-transform: uppercase;
    margin-top: 25px; }

.contact-form .social img {
  width: 55px;
  margin-top: 20px;
  margin-right: 10px; }
  @media only screen and (min-width: 768px) {
    .contact-form .social img {
      width: 75px; } }

.contact-form strong {
  font-family: headings;
  text-align: center; }

.contact-form .row {
  margin-top: 25px; }

.cookies {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  color: #fff;
  border-top: 1px solid #f9a833;
  box-shadow: 0 -3px 2px -2px rgba(249, 168, 51, 0.6);
  font-size: 1.125em;
  padding: 8px 0 2px 0;
  background: #f99f1d;
  /* Old browsers */
  text-align: center;
  z-index: 50; }
  .cookies a {
    color: #fff;
    background-color: transparent !important;
    font-weight: bold; }
    .cookies a:hover {
      text-decoration: underline; }
  .cookies .cookie-btn {
    margin-top: 20px; }
    @media only screen and (min-width: 768px) {
      .cookies .cookie-btn {
        margin-top: 10px; } }
    @media only screen and (min-width: 1024px) {
      .cookies .cookie-btn {
        margin-top: 5px; } }
    @media only screen and (min-width: 1280px) {
      .cookies .cookie-btn {
        margin-top: 0; } }
  .cookies p {
    font-size: 0.8em;
    min-height: 46px;
    padding-top: 10px; }
    @media only screen and (min-width: 1024px) {
      .cookies p {
        font-size: 1em; } }
  .cookies .btn-cookies {
    background-color: #f99f1d;
    color: #ffffff;
    border: 2px solid #ffffff;
    padding: 8px 12px;
    border-radius: 6px;
    font-size: 0.875em; }

.account-add {
  margin-top: 0; }
  @media only screen and (min-width: 1280px) {
    .account-add {
      margin-top: -32px; } }

.panel-default {
  border: 3px solid #f99f1d;
  word-wrap: break-word; }
  .panel-default label {
    text-transform: uppercase;
    font-size: 0.8em; }
  .panel-default .checkbox label {
    font-size: 1em; }
  .panel-default .panel-heading {
    background-image: none;
    background-color: #fff;
    border-color: #f99f1d;
    text-transform: uppercase;
    font-family: headings; }
  .panel-default .h-card .label-contact {
    font-weight: bold;
    margin: 5px 0; }
  .panel-default .h-card .p-name {
    margin-bottom: 5px; }
  .panel-default .h-card .p-adr, .panel-default .h-card .p-org, .panel-default .h-card .u-email, .panel-default .h-card .p-tel {
    padding-left: 5px; }

/* Change the white to any color ;) */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px rgba(249, 159, 29, 0.46) inset;
  box-shadow: 0 0 0 1000px rgba(249, 159, 29, 0.46) inset; }

.control-group .price {
  font-size: 1.5em;
  margin: 10px 0; }
  @media only screen and (min-width: 768px) {
    .control-group .price {
      font-size: 2em; } }

.price {
  font-size: 1.5em;
  margin: 10px 0; }
  @media only screen and (min-width: 768px) {
    .price {
      font-size: 2em; } }

.form-control {
  border: 2px solid #f99f1d;
  border-radius: 0;
  margin: 6px 0; }

.quantity input {
  width: 50px; }

.form-control:focus {
  border-color: #000000;
  border-width: 2px;
  box-shadow: none; }

.product .form-control {
  width: auto; }

.alert-info {
  background-image: none;
  background-color: #f99f1d;
  color: #fff;
  border: none;
  text-align: center; }

.alert-danger {
  border-radius: 0px;
  color: rgba(103, 34, 32, 0.82);
  background: rgba(235, 78, 73, 0.7); }

#basket-form-table tbody > tr > td,
#basket-form-table tbody > tr > th,
#basket-form-table tfoot > tr > td,
#basket-form-table tfoot > tr > th,
#basket-form-table thead > tr > td,
#basket-form-table thead > tr > th {
  padding: 8px 2px 8px 2px; }
  @media only screen and (min-width: 768px) {
    #basket-form-table tbody > tr > td,
    #basket-form-table tbody > tr > th,
    #basket-form-table tfoot > tr > td,
    #basket-form-table tfoot > tr > th,
    #basket-form-table thead > tr > td,
    #basket-form-table thead > tr > th {
      padding: 8px; } }

#order-summary .table > tbody > tr > td, #order-summary
.table > tbody > tr > th, #order-summary
.table > tfoot > tr > td, #order-summary
.table > tfoot > tr > th, #order-summary
.table > thead > tr > td, #order-summary
.table > thead > tr > th {
  padding: 8px 2px 8px 2px; }
  @media only screen and (min-width: 768px) {
    #order-summary .table > tbody > tr > td, #order-summary
    .table > tbody > tr > th, #order-summary
    .table > tfoot > tr > td, #order-summary
    .table > tfoot > tr > th, #order-summary
    .table > thead > tr > td, #order-summary
    .table > thead > tr > th {
      padding: 8px; } }

#sales-history .table > tbody > tr > td, #sales-history
.table > tbody > tr > th, #sales-history
.table > tfoot > tr > td, #sales-history
.table > tfoot > tr > th, #sales-history
.table > thead > tr > td, #sales-history
.table > thead > tr > th {
  padding: 1px 3px 1px 1px;
  font-size: 12px; }
  @media only screen and (min-width: 768px) {
    #sales-history .table > tbody > tr > td, #sales-history
    .table > tbody > tr > th, #sales-history
    .table > tfoot > tr > td, #sales-history
    .table > tfoot > tr > th, #sales-history
    .table > thead > tr > td, #sales-history
    .table > thead > tr > th {
      font-size: 16px;
      padding: 8px; } }

.account-add,
#sales-history,
#basket-column,
.basket-summary,
#order-summary,
#order-summary .container-fluid,
#order-summ-column,
#final-summary-container,
#order-receipt-container,
.container {
  padding: 0; }
  @media only screen and (min-width: 768px) {
    .account-add,
    #sales-history,
    #basket-column,
    .basket-summary,
    #order-summary,
    #order-summary .container-fluid,
    #order-summ-column,
    #final-summary-container,
    #order-receipt-container,
    .container {
      padding-left: 15px;
      padding-right: 15px; } }

#about-text {
  margin: 40px 0; }
  @media only screen and (min-width: 768px) {
    #about-text {
      margin: 40px 40px; } }

#phoenix-name {
  font-size: 9px; }
  @media only screen and (min-width: 768px) {
    #phoenix-name {
      font-size: 16px; } }

#order-summ-column {
  font-size: 14px; }
  @media only screen and (min-width: 768px) {
    #order-summ-column {
      font-size: 16px; } }

#phoenix-logo {
  display: block;
  margin: 0 auto;
  max-width: 190px; }
  @media only screen and (min-width: 768px) {
    #phoenix-logo {
      max-width: 340px; } }

.about-image {
  max-width: 140px; }
  @media only screen and (min-width: 768px) {
    .about-image {
      max-width: 100%; } }

.panel-heading {
  padding: 10px 9px; }
  @media only screen and (min-width: 768px) {
    .panel-heading {
      padding: 10px 15px; } }

.panel-body {
  padding: 5px; }
  @media only screen and (min-width: 768px) {
    .panel-body {
      padding: 15px; } }

#basket-form-table input[data-muiaction="updatequantity"] {
  width: 100%; }
  @media only screen and (min-width: 768px) {
    #basket-form-table input[data-muiaction="updatequantity"] {
      width: initial; } }

.first-byline {
  margin-top: 30px; }
  @media only screen and (min-width: 1024px) {
    .first-byline {
      margin-top: 0; } }

.extra-logos {
  text-align: center; }
  .extra-logos img {
    max-width: 400px;
    max-height: 100px;
    padding: 0 15px; }

header {
  border-bottom: 2px solid #ddd;
  box-shadow: inset 0 31px 2px -2px rgba(200, 200, 200, 0.2); }
  @media only screen and (min-width: 768px) {
    header {
      height: 135px; } }
  @media only screen and (min-width: 1024px) {
    header {
      height: 155px; } }
  header .mini-header {
    font-size: 13px;
    background-color: #f99f1d;
    color: #fff;
    min-height: 25px; }
    @media only screen and (min-width: 768px) {
      header .mini-header {
        font-size: 16px; } }
    header .mini-header .mini-menu {
      float: right;
      display: -webkit-box;
      /* OLD - iOS 6-, Safari 3.1-6 */
      display: -moz-box;
      /* OLD - Firefox 19- (buggy but mostly works) */
      display: -ms-flexbox;
      /* TWEENER - IE 10 */
      display: -webkit-flex;
      /* NEW - Chrome */
      display: flex;
      margin-top: 5px; }
      header .mini-header .mini-menu li {
        margin-right: 4px; }
        @media only screen and (min-width: 768px) {
          header .mini-header .mini-menu li {
            margin-right: 15px; } }
        header .mini-header .mini-menu li:last-child {
          margin-left: 0; }
    header .mini-header .contact-us {
      background: url("../Assets/Envelope_Black.png") no-repeat;
      background-position: left;
      padding-left: 25px;
      background-position-y: 6px;
      background-size: 21px; }
      header .mini-header .contact-us:hover {
        background: url("../Assets/Envelope-white.png") no-repeat;
        background-position: left;
        background-position-y: 6px;
        background-size: 21px; }
    header .mini-header .basket sup {
      font-size: 0.8em; }
    header .mini-header a {
      color: #000000;
      padding-top: 4px;
      font-family: Bannerfont; }
      header .mini-header a:hover {
        color: #fff;
        text-decoration: none; }
  header .main-nav {
    display: none; }
    @media only screen and (min-width: 1000px) {
      header .main-nav {
        margin-top: 40px;
        float: right; } }
  header .cd-morph-dropdown a {
    color: #000000;
    font-size: 1em;
    text-transform: uppercase; }
    header .cd-morph-dropdown a:hover {
      color: #f99f1d;
      text-decoration: none; }
      @media only screen and (min-width: 1000px) {
        header .cd-morph-dropdown a:hover {
          color: #fff; } }
  header .logo {
    margin: 5px 0 0 6px !important;
    height: 50px;
    float: left; }
    @media only screen and (min-width: 768px) {
      header .logo {
        margin: 10px 0 0 0 !important;
        height: 80px; } }
    @media only screen and (min-width: 1024px) {
      header .logo {
        margin: 20px 0 0 0 !important;
        height: 90px; } }

/* -------------------------------- 

 Header

-------------------------------- */
.cd-morph-dropdown {
  position: relative;
  height: 60px;
  background-color: #fff; }

.cd-morph-dropdown::before {
  /* never visible - used in JS to check mq */
  content: 'mobile';
  display: none; }

.cd-morph-dropdown .nav-trigger {
  /* menu icon - visible on small screens only */
  position: absolute;
  top: 0;
  right: 0;
  height: 60px;
  width: 60px;
  /* replace text with icon */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  color: transparent; }

.cd-morph-dropdown .nav-trigger span, .cd-morph-dropdown .nav-trigger span::after, .cd-morph-dropdown .nav-trigger span::before {
  /* these are the 3 lines of the menu icon */
  position: absolute;
  background-color: #000000;
  height: 3px;
  width: 26px; }

.cd-morph-dropdown .nav-trigger span {
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  -webkit-transition: background-color .3s;
  transition: background-color .3s; }

.cd-morph-dropdown .nav-trigger span::after, .cd-morph-dropdown .nav-trigger span::before {
  content: '';
  left: 0;
  -webkit-transition: -webkit-transform .3s;
  -moz-transition: -webkit-transform .3s;
  -o-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s; }

.cd-morph-dropdown .nav-trigger span::before {
  -webkit-transform: translateY(-9px);
  -ms-transform: translateY(-9px);
  -moz-transform: translateY(-9px);
  -o-transform: translateY(-9px);
  transform: translateY(-9px); }

.cd-morph-dropdown .nav-trigger span::after {
  -webkit-transform: translateY(9px);
  -ms-transform: translateY(9px);
  -moz-transform: translateY(9px);
  -o-transform: translateY(9px);
  transform: translateY(9px); }

.cd-morph-dropdown.nav-open .nav-trigger span {
  background-color: transparent; }

.cd-morph-dropdown.nav-open .nav-trigger span::before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg); }

.cd-morph-dropdown.nav-open .nav-trigger span::after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.cd-morph-dropdown .morph-dropdown-wrapper {
  display: none;
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  padding: 1.2em 5%;
  box-shadow: inset 0 1px 0 #e6e6e6;
  background-color: #FFFFFF; }

.cd-morph-dropdown.nav-open .morph-dropdown-wrapper {
  display: block;
  z-index: 999 !important; }

.cd-morph-dropdown .dropdown-list > ul > li {
  margin-bottom: 1.3em; }

.cd-morph-dropdown .label {
  display: block;
  font-size: 1em;
  text-transform: uppercase;
  text-align: left;
  color: #f99f1d;
  margin-bottom: .8em; }
  .cd-morph-dropdown .label:hover {
    color: #000000; }

.cd-morph-dropdown .content li::after {
  clear: both;
  content: "";
  display: block; }

.cd-morph-dropdown .gallery .content li {
  margin-bottom: 1.4em; }

.cd-morph-dropdown .gallery .content a {
  display: block; }

.cd-morph-dropdown .gallery .content a::before {
  /* icon on the left */
  content: '';
  display: inline-block;
  float: left;
  height: 54px;
  width: 54px;
  margin-right: .6em;
  background: red;
  border-radius: 50%;
  -webkit-transition: background .2s;
  -moz-transition: background .2s;
  -o-transition: background .2s;
  transition: background .2s; }

.cd-morph-dropdown .gallery .content a span, .cd-morph-dropdown .gallery .content a em {
  display: block;
  line-height: 1.2; }

.cd-morph-dropdown .gallery .content a em {
  font-size: 1.8rem;
  padding: .4em 0 .2em;
  color: #000000; }

.cd-morph-dropdown .gallery .content a span {
  font-size: 1.4rem;
  color: rgba(0, 0, 0, 0.6); }

.cd-morph-dropdown .gallery .content a:hover::before {
  background-color: #000000; }

.cd-morph-dropdown .gallery li:nth-of-type(1) a::before {
  background: #f4e58a url(../img/cd-gallery-icons.svg) no-repeat 0 0; }

.cd-morph-dropdown .gallery li:nth-of-type(2) a::before {
  background: #F4AF6D url(../img/cd-gallery-icons.svg) no-repeat -54px 0; }

.cd-morph-dropdown .gallery li:nth-of-type(3) a::before {
  background: #DB6356 url(../img/cd-gallery-icons.svg) no-repeat -108px 0; }

.cd-morph-dropdown .gallery li:nth-of-type(4) a::before {
  background: #8D4645 url(../img/cd-gallery-icons.svg) no-repeat -162px 0; }

.cd-morph-dropdown .links .content > ul > li {
  margin-top: 1em; }

.cd-morph-dropdown .links-list a,
.cd-morph-dropdown .btn {
  display: block;
  margin-left: 14px;
  font-size: 2.2rem;
  line-height: 1.6; }

.links-list a {
  font-size: 1em !important; }
  .links-list a:hover {
    color: #f99f1d !important; }
    @media only screen and (min-width: 1024px) {
      .links-list a:hover {
        color: #fff !important; } }

.links-list p {
  font-size: 0.8em !important; }

.cd-morph-dropdown .links-list a:hover,
.cd-morph-dropdown .btn:hover {
  color: #000000; }

.cd-morph-dropdown .content h2 {
  margin: 20px 0 10px 14px; }

@media only screen and (min-width: 1000px) {
  .cd-morph-dropdown {
    position: absolute;
    height: 80px;
    left: 0;
    top: 25px;
    width: 100%;
    padding: 0;
    text-align: center;
    background-color: transparent; }
  .cd-morph-dropdown::before {
    content: 'desktop'; }
  .cd-morph-dropdown .nav-trigger {
    display: none; }
  .cd-morph-dropdown .main-nav {
    display: inline-block;
    z-index: 999 !important; }
  .cd-morph-dropdown .main-nav > ul > li {
    display: inline-block;
    float: left; }
    .cd-morph-dropdown .main-nav > ul > li:first-child a {
      padding-left: 0 !important; }
    .cd-morph-dropdown .main-nav > ul > li:last-child a {
      padding-right: 0 !important; }
  .cd-morph-dropdown .main-nav > ul > li > a {
    display: block;
    padding: 0 1em;
    height: 70px;
    line-height: 58px;
    font-size: 1em;
    text-transform: uppercase;
    color: #000000 !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition: opacity .2s;
    -moz-transition: opacity .2s;
    -o-transition: opacity .2s;
    transition: opacity .2s; }
  .cd-morph-dropdown.is-dropdown-visible .main-nav > ul > li > a {
    /* main navigation hover effect - on hover, reduce opacity of elements not hovered over */
    opacity: .6; }
  .cd-morph-dropdown.is-dropdown-visible .main-nav > ul > li.active > a {
    opacity: 1; }
  .cd-morph-dropdown .morph-dropdown-wrapper {
    /* dropdown wrapper - used to create the slide up/slide down effect when dropdown is revealed/hidden */
    display: block;
    z-index: 999 !important;
    top: 70px;
    /* overwrite mobile style */
    width: auto;
    padding: 0;
    box-shadow: none;
    background-color: transparent;
    /* Force Hardware acceleration */
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -o-transform: translateZ(0);
    will-change: transform;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateZ(0);
    transform: translateY(20px);
    -webkit-transition: -webkit-transform .3s;
    -moz-transition: transform .3s, -webkit-transform .3s;
    -o-transition: transform .3s, -webkit-transform .3s;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s; }
  .cd-morph-dropdown.is-dropdown-visible .morph-dropdown-wrapper {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); }
  .cd-morph-dropdown .dropdown-list {
    background-color: #f99f1d;
    position: absolute;
    top: 25px;
    left: 0;
    visibility: hidden;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    will-change: transform, width, height;
    -webkit-transition: visibility .3s;
    -moz-transition: visibility .3s;
    -o-transition: visibility .3s;
    transition: visibility .3s;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08); }
  .no-csstransitions .cd-morph-dropdown .dropdown-list {
    display: none; }
  .cd-morph-dropdown .dropdown-list::before {
    /* dropdown top triangle */
    content: '';
    position: absolute;
    bottom: 100%;
    left: 50%;
    right: auto;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    height: 0;
    width: 0;
    border: 8px solid transparent;
    border-bottom-color: #f99f1d;
    opacity: 0;
    -webkit-transition: opacity .3s;
    -moz-transition: opacity .3s;
    -o-transition: opacity .3s;
    transition: opacity .3s; }
  .cd-morph-dropdown .dropdown-list > ul {
    position: relative;
    z-index: 1;
    height: 100%;
    width: 100%;
    overflow: hidden; }
  .cd-morph-dropdown.is-dropdown-visible .dropdown-list {
    visibility: visible;
    -webkit-transition: width .3s, height .3s, -webkit-transform .3s;
    -moz-transition: width .3s, height .3s, -webkit-transform .3s;
    -o-transition: width .3s, height .3s, -webkit-transform .3s;
    transition: width .3s, height .3s, -webkit-transform .3s;
    transition: transform .3s, width .3s, height .3s;
    transition: transform .3s, width .3s, height .3s, -webkit-transform .3s; }
  .cd-morph-dropdown.is-dropdown-visible .dropdown-list::before {
    opacity: 1; }
  .cd-morph-dropdown .dropdown {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    visibility: hidden;
    width: 100%;
    -webkit-transition: opacity .3s, visibility .3s;
    -moz-transition: opacity .3s, visibility .3s;
    -o-transition: opacity .3s, visibility .3s;
    transition: opacity .3s, visibility .3s; }
  .cd-morph-dropdown .dropdown.active {
    opacity: 1;
    visibility: visible; }
  .cd-morph-dropdown .dropdown.move-left .content {
    -webkit-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    -moz-transform: translateX(-100px);
    -o-transform: translateX(-100px);
    transform: translateX(-100px); }
  .cd-morph-dropdown .dropdown.move-right .content {
    -webkit-transform: translateX(100px);
    -ms-transform: translateX(100px);
    -moz-transform: translateX(100px);
    -o-transform: translateX(100px);
    transform: translateX(100px); }
  .cd-morph-dropdown .label {
    /* hide the label on bigger devices */
    display: none; }
  .cd-morph-dropdown .content {
    padding: 1.6em 1.8em;
    -webkit-transition: -webkit-transform .3s;
    -moz-transition: -webkit-transform .3s;
    -o-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s;
    text-align: left; }
  .cd-morph-dropdown .content > ul::after {
    clear: both;
    content: "";
    display: block; }
  .cd-morph-dropdown .content > ul > li {
    width: 48%;
    float: left;
    margin-right: 4%;
    margin-top: 0; }
  .cd-morph-dropdown .content > ul > li:nth-of-type(2n) {
    margin-right: 0; }
  .cd-morph-dropdown .gallery .content {
    /* you need to set a width for the .content elements because they have a position absolute */
    width: 510px;
    padding-bottom: .8em; }
  .cd-morph-dropdown .gallery .content li {
    margin-bottom: 1.8em; }
  .cd-morph-dropdown .links .content > ul > li {
    margin-top: 0; }
  .cd-morph-dropdown .links .content,
  .cd-morph-dropdown .button .content {
    width: 650px;
    min-width: 450px;
    width: auto; }
  .cd-morph-dropdown .links-list a {
    font-size: 1.6rem;
    margin-left: 0; }
  .cd-morph-dropdown .btn {
    display: block;
    width: 100%;
    height: 60px;
    margin: 1.5em 0 0;
    font-size: 1.8rem;
    text-align: center;
    color: #FFFFFF;
    line-height: 60px;
    background: #DB6356;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  .cd-morph-dropdown .btn:hover {
    background: #1A1A1A;
    color: #FFFFFF; }
  .cd-morph-dropdown .content h2 {
    text-transform: none;
    font-weight: normal;
    margin: .6em 0 .6em 0; }
  .cd-morph-dropdown .bg-layer {
    /* morph dropdown background */
    position: absolute;
    top: 0;
    left: 0;
    height: 1px;
    width: 1px;
    background: #FFFFFF;
    opacity: 0;
    -webkit-transition: opacity .3s;
    transition: opacity .3s;
    -webkit-transform-origin: top left;
    -ms-transform-origin: top left;
    -moz-transform-origin: top left;
    -o-transform-origin: top left;
    transform-origin: top left;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    will-change: transform;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden; }
  .cd-morph-dropdown.is-dropdown-visible .bg-layer {
    opacity: 1;
    -webkit-transition: opacity .3s, -webkit-transform .3s;
    -moz-transition: opacity .3s, -webkit-transform .3s;
    -o-transition: opacity .3s, -webkit-transform .3s;
    transition: opacity .3s, -webkit-transform .3s;
    transition: transform .3s, opacity .3s;
    transition: transform .3s, opacity .3s, -webkit-transform .3s; } }

/* -------------------------------- 

Main site content

-------------------------------- */
.cd-main-content {
  min-height: 100vh;
  background-color: #548c7e; }

@media only screen and (min-width: 1000px) {
  .cd-main-content {
    padding-top: 80px; } }

.banner {
  height: 372px;
  background-color: #000000;
  color: #fff;
  font-family: Bannerfont; }
  @media only screen and (min-width: 768px) {
    .banner {
      height: 450px; } }
  @media only screen and (min-width: 1024px) {
    .banner {
      height: 720px; } }
  .banner .fullwidthabanner, .banner .fullwidthbanner-container, .banner #phoenix-slider_forcefullwidth {
    height: 372px !important; }
    @media only screen and (min-width: 768px) {
      .banner .fullwidthabanner, .banner .fullwidthbanner-container, .banner #phoenix-slider_forcefullwidth {
        height: 450px !important; } }
    @media only screen and (min-width: 1024px) {
      .banner .fullwidthabanner, .banner .fullwidthbanner-container, .banner #phoenix-slider_forcefullwidth {
        height: 720px !important; } }
  .banner .tp-bgimg.defaultimg {
    max-height: 372px; }
    @media only screen and (min-width: 768px) {
      .banner .tp-bgimg.defaultimg {
        max-height: 450px; } }
    @media only screen and (min-width: 1024px) {
      .banner .tp-bgimg.defaultimg {
        max-height: 720px; } }

.sports-border {
  border: 4px solid #000000; }

.white {
  color: #fff; }

.black {
  color: #000000; }

.tp-caption a:hover {
  text-decoration: none; }

.tp-caption.sports-display, .sports-display {
  background-color: transparent;
  border-color: transparent;
  border-radius: 0 0 0 0;
  border-style: none;
  border-width: 0;
  font-family: Bannerfont;
  font-size: 100px;
  font-style: normal;
  font-weight: 600;
  /*letter-spacing:13px;*/
  line-height: 130px;
  padding: 0;
  text-decoration: none; }

.tp-caption.sports-displayFat, .sports-displayFat {
  background-color: transparent;
  border-color: transparent;
  border-radius: 0 0 0 0;
  border-style: none;
  border-width: 0;
  color: #000000;
  font-family: Bannerfont;
  font-size: 100px;
  font-style: normal;
  font-weight: 600;
  line-height: 130px;
  padding: 0;
  text-decoration: none; }

.tp-caption.sports-subline, .sports-subline {
  background-color: transparent;
  border-color: transparent;
  border-radius: 0 0 0 0;
  border-style: none;
  border-width: 0;
  padding: 10px 15px;
  text-align: center;
  /*font-size:2em !important;
    line-height:2em;*/
  font-family: Bannerfont;
  font-weight: 400;
  min-width: 330px;
  /*letter-spacing:4px;*/
  line-height: 32px;
  padding: 0;
  text-decoration: none;
  text-transform: uppercase; }

.sports-subline.white {
  border: 8px solid #fff; }

.sports-subline.black {
  border: 8px solid #000000; }

#slide-214-layer-4 {
  font-family: Bannerfont !important; }

.tp-caption.rev-btn {
  min-width: 250px !important;
  font-weight: 600;
  line-height: 1.2em;
  color: #000000;
  background-color: #f99f1d;
  text-align: center;
  padding: 12px 20px 12px 20px;
  text-align: center; }
  @media only screen and (min-width: 768px) {
    .tp-caption.rev-btn {
      padding: 12px 35px 12px 35px; } }

.product {
  margin-top: 20px; }
  .product h1 {
    margin: 0 0 15px 0; }
  .product hr {
    border-top: 3px solid rgba(0, 0, 0, 0.6);
    opacity: 0.7;
    margin: 25px 0; }
  .product .gallery {
    height: 640px;
    width: auto;
    overflow: hidden; }
    @media only screen and (min-width: 768px) {
      .product .gallery {
        width: 100%;
        height: 860px; } }
    @media only screen and (min-width: 1024px) {
      .product .gallery {
        width: 50%;
        height: 750px; } }
    @media only screen and (min-width: 1280px) {
      .product .gallery {
        width: 50%;
        height: 810px; } }
    .product .gallery img {
      border: 3px solid rgba(0, 0, 0, 0.6);
      width: 100%; }
    .product .gallery .gallerythumbnail {
      border: 2px solid rgba(0, 0, 0, 0.6);
      width: 100%;
      margin-bottom: 7px;
      margin-right: 0;
      z-index: -99;
      padding-right: 0;
      height: 90px; }
      @media only screen and (min-width: 768px) {
        .product .gallery .gallerythumbnail {
          height: 149px; } }
      @media only screen and (min-width: 1024px) {
        .product .gallery .gallerythumbnail {
          height: 100px; } }
      @media only screen and (min-width: 1280px) {
        .product .gallery .gallerythumbnail {
          height: 130px; } }
    .product .gallery #main-img {
      height: auto;
      width: 100%;
      margin-bottom: 10px; }
      @media only screen and (min-width: 768px) {
        .product .gallery #main-img {
          height: 550px; } }
      @media only screen and (min-width: 1024px) {
        .product .gallery #main-img {
          width: auto;
          height: 519px; } }
      @media only screen and (min-width: 1280px) {
        .product .gallery #main-img {
          height: 519px; } }
    .product .gallery .col-sm-3 {
      overflow: hidden;
      padding-left: 0;
      padding-right: 0;
      width: 23%;
      margin-left: 1%;
      margin-right: 1%; }
  .product .description {
    line-height: 1.4em; }
  .product .product-options .option-label {
    margin: 15px 0; }
  .product .product-options .radios .radio {
    background-color: #f99f1d;
    display: inline-block;
    width: auto;
    max-width: 250px;
    height: 60px;
    color: #fff;
    text-align: center; }
    .product .product-options .radios .radio:hover {
      background-color: #000000; }
    .product .product-options .radios .radio span {
      width: 100%;
      display: block;
      padding: 5px 15px;
      margin-left: auto;
      margin-right: auto; }
    .product .product-options .radios .radio .single {
      padding-top: 15px; }
    .product .product-options .radios .radio .first:after {
      content: "";
      position: absolute;
      height: 1px;
      width: 57%;
      border-bottom: 1px solid #fff;
      top: 30px;
      left: 22%;
      border-bottom: 1px solid #fff; }
  .product .product-options hr {
    border-top: 3px solid #fff;
    opacity: 1;
    margin: 0;
    width: 80%;
    margin-left: auto;
    margin-right: auto; }
  .product .product-options .radios input[type=radio] {
    display: none; }
  .product .product-options label {
    text-align: center;
    padding-top: 5px; }
  .product .product-options .radios input[type=radio]:checked + .radio {
    background-color: #241009; }

.product-variants {
  border-bottom: 2px solid #000000;
  padding: 25px 0; }

.product-sheets {
  margin: 25px 0;
  font-family: headings;
  text-transform: uppercase;
  font-size: 1em; }
  .product-sheets a {
    /*margin-left:50px;*/
    margin-top: 15px; }
  .product-sheets span {
    position: relative;
    top: 20px; }
  .product-sheets img {
    width: 85px;
    float: left;
    margin-right: 15px; }

.enquire {
  margin: 0 0 0 0; }
  @media only screen and (min-width: 768px) {
    .enquire {
      margin: 0 0 40px 0; } }

.key-benefits {
  line-height: 2.2em;
  text-align: left;
  padding-top: 10px; }
  @media only screen and (min-width: 1024px) {
    .key-benefits {
      padding-top: 30px; } }
  .key-benefits ul {
    list-style-type: none;
    margin: 0;
    padding: 0; }
    @media only screen and (min-width: 1024px) {
      .key-benefits ul {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
        -webkit-column-gap: 3em;
        -moz-column-gap: 3em;
        column-gap: 3em; } }
    .key-benefits ul li {
      padding-left: 15px; }
      .key-benefits ul li:before {
        content: "•";
        /* Insert content that looks like bullets */
        padding-right: 12px;
        font-size: 1.7em;
        vertical-align: bottom;
        color: #f99f1d;
        /* Or a color you prefer */ }

.product-box {
  margin: 25px 0; }
  .product-box h3 {
    font-size: 0.8em;
    font-family: headings;
    text-transform: uppercase;
    margin-top: 25px;
    text-align: center; }
  .product-box img {
    width: 100%;
    border: 2px solid rgba(0, 0, 0, 0.6); }

.infiniteCarousel {
  height: 150px;
  position: relative; }
  .infiniteCarousel .wrapper {
    width: 100%;
    /* .infiniteCarousel width - (.wrapper margin-left + .wrapper margin-right) */
    overflow: auto;
    position: absolute;
    top: 0; }
    .infiniteCarousel .wrapper ul {
      width: 9999px;
      list-style-image: none;
      list-style-position: outside;
      list-style-type: none;
      margin: 0;
      padding: 0;
      position: absolute;
      top: 20px; }
      .infiniteCarousel .wrapper ul li {
        width: 70px;
        margin-left: 0;
        float: left; }
        @media only screen and (min-width: 768px) {
          .infiniteCarousel .wrapper ul li {
            width: 140px;
            margin-left: 70px; } }
      .infiniteCarousel .wrapper ul li:first-child {
        margin-left: 0; }
      .infiniteCarousel .wrapper ul .clearfix {
        display: block;
        zoom: 1; }
      .infiniteCarousel .wrapper ul .clearfix:after {
        content: " ";
        display: block;
        font-size: 0;
        height: 0;
        clear: both;
        visibility: hidden; }

.modal-backdrop {
  background-color: #fff;
  opacity: 0.7 !important; }

#myModal ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #DFD9DA; }

#myModal ::-moz-placeholder {
  /* Firefox 19+ */
  color: #DFD9DA; }

#myModal :-ms-input-placeholder {
  /* IE 10+ */
  color: #DFD9DA; }

#myModal :-moz-placeholder {
  /* Firefox 18- */
  color: #DFD9DA; }

#myModal .close {
  background: #fff;
  opacity: 1;
  color: #888888;
  border-radius: 12px;
  font-weight: 500;
  padding: 0 6px 4px; }
  @media only screen and (min-width: 1024px) {
    #myModal .close {
      font-weight: 900;
      font-size: 30px;
      padding: 0 7px 4px;
      border-radius: 17px; } }

#myModal .close:hover {
  color: #484848 !important;
  background: #d9d9d9 !important; }

#myModal .modal-header {
  border: none; }

@media only screen and (min-width: 1024px) {
  #myModal .modal-dialog {
    width: 750px; } }

@media only screen and (min-width: 1024px) {
  #myModal .modal-body {
    position: relative;
    padding: 5px 15px 15px; } }

@media only screen and (min-width: 1024px) {
  #myModal .img-cont {
    padding: 14px 39px; } }

#myModal .modal-content {
  border-radius: 4px; }
  @media only screen and (min-width: 1024px) {
    #myModal .modal-content {
      height: 450px; } }

#myModal h4,
#myModal h5 {
  text-transform: uppercase; }

#myModal h5 {
  color: #888888; }

#myModal h4 {
  font-family: headings;
  font-weight: 900;
  font-size: 23px;
  padding-top: 5px; }
  @media only screen and (min-width: 1024px) {
    #myModal h4 {
      font-size: 36px;
      line-height: 41px;
      padding-top: 10px; } }

@media only screen and (min-width: 1024px) {
  #myModal .form-control {
    height: 48px;
    font-size: 22px;
    letter-spacing: 1px; } }

#myModal input {
  font-family: HelveticaLight;
  border-color: #000000; }

#myModal input:focus {
  border-color: #f99f1d; }

#myModal a {
  color: #fff; }

.modal-content--black {
  background: #0F0E09; }
  .modal-content--black h4,
  .modal-content--black h5,
  .modal-content--black p {
    color: #fff; }

#subsc-btn {
  font-family: headings;
  width: 100%;
  font-size: 18px;
  border-radius: 10px !important;
  padding: 4px 0; }
  @media only screen and (min-width: 1024px) {
    #subsc-btn {
      font-size: 35px;
      letter-spacing: 0px;
      border-radius: 15px !important;
      padding: 0 0;
      font-weight: 900;
      margin-top: 13px; } }

#subsc-btn:hover {
  color: white !important;
  background: #dd8506 !important; }

button:focus {
  outline: none !important; }

