﻿@model Phoenix.Web.Models.ContactFormViewModel
@using Merchello.FastTrack.Ui;
@using Our.Umbraco.Ditto;

@{
    var storeRoot = ExampleUiHelper.Content.GetStoreRoot().As<FtStore>();
}

@using (Html.BeginUmbracoForm("Submit", "ContactForm"))
{    @Html.AntiForgeryToken()
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-3">
                @Html.LabelFor(x => x.Name, new { @class = "control-label" })
                @Html.ValidationMessageFor(x => x.Name)
            </div>
            <div class="col-xs-12 col-sm-6 controls">
                @Html.TextBoxFor(x => x.Name, new { @placeholder = "Full Name", @class = "form-control" })
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-3">
                @Html.LabelFor(x => x.Email, new { @class = "control-label col-form-label" })
                @Html.ValidationMessageFor(x => x.Name)
            </div>
            <div class="col-xs-12 col-sm-6 controls">
                @Html.TextBoxFor(x => x.Email, new { @placeholder = "Email Address", @class = "form-control" })
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-3">
                @Html.LabelFor(x => x.Telephone, new { @class = "control-label" })
                @Html.ValidationMessageFor(x => x.Telephone)
            </div>
            <div class="col-xs-12 col-sm-6 controls">
                @Html.TextBoxFor(x => x.Telephone, new { @placeholder = "Telephone", @class = "form-control" })
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-3">
                @Html.LabelFor(x => x.Message, new { @class = "control-label" })
                @Html.ValidationMessageFor(x => x.Message)
            </div>
            <div class="col-xs-12 col-sm-6 controls">
                @Html.TextAreaFor(x => x.Message, new { @placeholder = "Message", @class = "form-control" })
            </div>

        </div>
        <div class="row">
            <div class="col-sm-offset-3 col-xs-12 col-sm-6 controls">
                <button type="submit" class="btn btn-orange text-right">Submit</button>                
            </div>
        </div>
        <div class="row">
            <div class="col-sm-offset-3 col-xs-12 col-sm-6 controls">           
                <p>@TempData["Message"]</p>
            </div>
        </div>

        @*<div class="row">
            <div class="col-xs-12 col-sm-3">
                <img src="~/Assets/BlackArrow.png" alt="arrow"  class="arrow"/>
                <p><strong>DON’T FORGET TO JOIN US ON OUR SOCIAL CHANNELS!</strong></p>
            </div>
            <div class="col-xs-12 col-sm-6 social">
                @if (!string.IsNullOrEmpty(storeRoot.Facebook))
                {
                    <a href="@storeRoot.Facebook"><img src="~/Assets/Facebook.png" /></a>

                }
                @if (!string.IsNullOrEmpty(storeRoot.Twitter))
                {
                    <a href="@storeRoot.Twitter"><img src="~/Assets/TwitterBird.png" /></a>

                }
                @if (!string.IsNullOrEmpty(storeRoot.LinkedIn))
                {
                    <a href="@storeRoot.LinkedIn"><img src="~/Assets/LinkedIn.png" /></a>

                }                       
            </div>

        </div>*@
    </div>
}
