﻿@model Phoenix.Web.Models.DistributorFormViewModel
@using Merchello.FastTrack.Ui;
@using Our.Umbraco.Ditto;
@{
    var storeRoot = ExampleUiHelper.Content.GetStoreRoot().As<FtStore>();
}

@using (Html.BeginUmbracoForm("Submit", "DistributorForm"))
{    @Html.AntiForgeryToken()
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-3">
                @Html.LabelFor(x => x.Name, new { @class = "control-label" })
                @Html.ValidationMessageFor(x => x.Name)
            </div>
            <div class="col-xs-12 col-sm-6 controls">
                @Html.TextBoxFor(x => x.Name, new { @placeholder = "Full Name", @class = "form-control" })
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-3">
                @Html.LabelFor(x => x.Email, new { @class = "control-label col-form-label" })
                @Html.ValidationMessageFor(x => x.Name)
            </div>
            <div class="col-xs-12 col-sm-6 controls">
                @Html.TextBoxFor(x => x.Email, new { @placeholder = "Email Address", @class = "form-control" })
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-3">
                @Html.LabelFor(x => x.Website, new { @class = "control-label col-form-label" })
                @Html.ValidationMessageFor(x => x.Website)
            </div>
            <div class="col-xs-12 col-sm-6 controls">
                @Html.TextBoxFor(x => x.Website, new { @placeholder = "Website", @class = "form-control" })
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-3">
                @Html.LabelFor(x => x.Address, new { @class = "control-label" })
            </div>
            <div class="col-xs-12 col-sm-6 controls">
                @Html.TextAreaFor(x => x.Address, new { @placeholder = "Address", @class = "form-control" })
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-3">
                @Html.LabelFor(x => x.YearsEstablished, new { @class = "control-label" })
            </div>
            <div class="col-xs-12 col-sm-6 controls">
                @Html.TextBoxFor(x => x.YearsEstablished, new { @placeholder = "Years Established", @class = "form-control" })
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-3">
                @Html.LabelFor(x => x.MainSports, new { @class = "control-label" })
            </div>
            <div class="col-xs-12 col-sm-6 controls">
                @Html.TextBoxFor(x => x.MainSports, new { @placeholder = "Main Sports", @class = "form-control" })
            </div>
        </div>
        @*<div class="row">
            <div class="col-xs-12 col-sm-3">
                @Html.LabelFor(x => x.AvailableSources, new { @class = "control-label" })
            </div>
            <div class="col-xs-12 col-sm-6 controls">
            @foreach (var item in Model.AvailableSources)
            {
                <div class="checkbox">

                        <input type="checkbox"
                               name="SelectedSources"
                               value="@item.Value" /> @item.Text

               </div>
            }
        </div>
    </div>*@
        <div class="row">
            <div class="col-sm-offset-3 col-xs-12 col-sm-6 controls">
                <button type="submit" class="btn btn-orange text-right">Submit</button>               
            </div>
        </div>
        <div class="row">
            <div class="col-sm-offset-3 col-xs-12 col-sm-6 controls">              
                <p>@TempData["Message"]</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-3">
                <img src="~/Assets/BlackArrow.png" alt="arrow"  class="arrow"/>
                <p><strong>DON’T FORGET TO JOIN US ON OUR SOCIAL CHANNELS!</strong></p>
            </div>
            <div class="col-xs-12 col-sm-6 social">
                @if (!string.IsNullOrEmpty(storeRoot.Facebook))
                {
                    <a rel="alternate" hreflang="en" href="@storeRoot.Facebook"><img src="~/Assets/Facebook.png" alt="Facebook icon" /></a>

                }
                @if (!string.IsNullOrEmpty(storeRoot.Twitter))
                {
                    <a rel="alternate" hreflang="en" href="@storeRoot.Twitter"><img src="~/Assets/TwitterBird.png" alt="Twitter Bird icon" /></a>

                }
                @if (!string.IsNullOrEmpty(storeRoot.LinkedIn))
                {
                    <a rel="alternate" hreflang="en" href="@storeRoot.LinkedIn"><img src="~/Assets/LinkedIn.png" alt="LinkedIn icon" /></a>

                }
            </div>

        </div>
    </div>
}
