﻿@model Phoenix.Web.Models.MailingListFormViewModel
@using Merchello.FastTrack.Ui;
@using Our.Umbraco.Ditto;
@using Phoenix.Web.Models;
@{
    var storeRoot = ExampleUiHelper.Content.GetStoreRoot().As<FtStore>();
}

@using (Html.BeginUmbracoForm("Submit", "MailingListForm"))
{
    @Html.AntiForgeryToken()
    <!-- Modal -->
    @*<div id="myModal" class="modal fade subs-modal" role="dialog">*@
        <div class="modal-dialog subs-modal-cont">
            <!-- Modal content-->
            <div class="modal-content modal-content--black">
                <!-- Header -->
                <div class="modal-header subs-modal-header text-center">
                    <button type="button" class="close pull-left" data-dismiss="modal">&times;</button>
                    <h5>Subscribe to our mailing list to be the</h5>
                    <h4>First to hear of our exclusive sporting news and offers!!!</h4>
                </div>

                <!-- Body -->
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-offset-2 col-xs-8 col-sm-offset-0 col-sm-5 img-cont">
                            <img class="subs-image img-responsive" src="../Assets/phoenix_logo_black.jpg" alt="Phoenix Sporting Good logo in black">
                        </div>
                        <div class="col-xs-12 col-sm-7">
                            <form class="subs-form">
                                <div class="form-group">
                                    @Html.TextBoxFor(x => x.FirstName, new { @class = "form-control", @id = "firstName", @placeholder = "FIRST NAME" })
                                    @Html.ValidationMessageFor(x => x.FirstName)
                                </div>
                                <div class="form-group">
                                    @Html.TextBoxFor(x => x.Surname, new { @class = "form-control", @id = "surname", @placeholder = "SURNAME" })
                                    @Html.ValidationMessageFor(x => x.Surname)
                                </div>
                                <div class="form-group">
                                    @Html.TextBoxFor(x => x.Email, new { @class = "form-control", @id = "surname", @placeholder = "EMAIL ADDRESS" })
                                    @Html.ValidationMessageFor(x => x.Email)
                                </div>
                                @Html.Hidden("ReturnUrl", storeRoot.Url)
                                <button type="submit" class="btn btn-orange">SIGN ME UP!</button>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    @*</div>*@
}
