﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.EmailSignUp>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "FastTrack.cshtml";
}
@Html.Partial("_Breadcrumb")
<section class="heading1">
    <div class="container">
        <div class="row">
            <div class="col-12" style="padding:0 15px;">

                <h1>@Model.Content.Name</h1>
                @Html.Raw(Model.Content.Intro)

                <!-- Begin MailChimp Signup Form -->
                <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
                <style type="text/css">
                        #mc_embed_signup {
                            background: #fff;
                            clear: left;
                            font: 14px Helvetica,Arial,sans-serif;
                        }

                            #mc_embed_signup form {
                                display: block;
                                position: relative;
                                text-align: left;
                                padding: 10px 0 10px 0;
                            }

                        #mc_embed_signup_scroll {
                            margin: 30px 0 0 0;
                        }

                        #mc_embed_signup .indicates-required {
                            text-align: left;
                            font-size: 14px;
                            margin: 10px 0;
                        }

                        #mc_embed_signup .mc-field-group {
                            clear: left;
                            position: relative;
                            width: 96%;
                            padding-bottom: 15px;
                            min-height: 50px;
                        }

                        #mc_embed_signup input#mce-EMAIL, #mc_embed_signup input {
                            border: 2px solid #f99f1d;
                            border-radius: 0;
                            margin: 6px 0;
                            display: block;
                            width: 100%;
                            height: 40px;
                            padding: 6px 12px;
                            font-size: 14px;
                            color: #555;
                            background-color: #fff;
                            background-image: none;
                            -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
                            box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
                            -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
                            -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
                            transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
                        }

                        #mc_embed_signup #mc-embedded-subscribe-form div.mce_inline_error {
                            display: inline-block;
                            margin: 2px 0;
                            padding: 5px 0;
                            background-color: rgba(255,255,255,0.85);
                            -webkit-border-radius: 3px;
                            -moz-border-radius: 3px;
                            border-radius: 3px;
                            font-size: 12px;
                            font-weight: normal;
                            z-index: 1;
                            color: #e85c41;
                            text-transform: uppercase;
                        }

                        #mc_embed_signup input#mc-embedded-subscribe, #mc_embed_signup input#mc-embedded-subscribe:focus {
                            font-family: Bannerfont;
                            color: #fff;
                            background-color: #f99f1d;
                            text-transform: uppercase;
                            display: inline-block;
                            padding: 6px 12px;
                            margin-bottom: 0;
                            font-size: 14px;
                            font-weight: 400;
                            text-align: center;
                            white-space: nowrap;
                            vertical-align: middle;
                            -ms-touch-action: manipulation;
                            touch-action: manipulation;
                            cursor: pointer;
                            -webkit-user-select: none;
                            -moz-user-select: none;
                            -ms-user-select: none;
                            user-select: none;
                            background-image: none;
                            border: 1px solid transparent;
                            border-radius: 0;
                            height: auto;
                        }
                        /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
                    We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
                </style>
                <div id="mc_embed_signup">
                    <form action="https://phoenixsportinggoods.us14.list-manage.com/subscribe/post?u=afcf90fe574e59215dfd80567&amp;id=7225ac9246" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                        <div id="mc_embed_signup_scroll">

                            <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
                            <div class="mc-field-group">
                                <label for="mce-EMAIL">
                                    Email Address  <span class="asterisk">*</span>
                                </label>
                                <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
                            </div>
                            <div class="mc-field-group">
                                <label for="mce-FNAME">First Name </label>
                                <input type="text" value="" name="FNAME" class="" id="mce-FNAME">
                            </div>
                            <div class="mc-field-group">
                                <label for="mce-LNAME">Last Name </label>
                                <input type="text" value="" name="LNAME" class="" id="mce-LNAME">
                            </div>
                            <div class="mc-field-group">
                                <label for="mce-MMERGE3">
                                    Sports Club or School Name  <span class="asterisk">*</span>
                                </label>
                                <input type="text" value="" name="MMERGE3" class="required" id="mce-MMERGE3">
                            </div>
                            <div class="mc-field-group">
                                <label for="mce-MMERGE4">County </label>
                                <input type="text" value="" name="MMERGE4" class="" id="mce-MMERGE4">
                            </div>
                            <div class="mc-field-group size1of2">
                                <label for="mce-MMERGE5">Phone Number </label>
                                <input type="text" name="MMERGE5" class="" value="" id="mce-MMERGE5">
                            </div>
                            <div id="mce-responses" class="clear">
                                <div class="response" id="mce-error-response" style="display:none"></div>
                                <div class="response" id="mce-success-response" style="display:none"></div>
                            </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_afcf90fe574e59215dfd80567_7225ac9246" tabindex="-1" value=""></div>
                            <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                        </div>
                    </form>
                </div>
                <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
                <script type='text/javascript'>(function ($) { window.fnames = new Array(); window.ftypes = new Array(); fnames[0] = 'EMAIL'; ftypes[0] = 'email'; fnames[1] = 'FNAME'; ftypes[1] = 'text'; fnames[2] = 'LNAME'; ftypes[2] = 'text'; fnames[3] = 'MMERGE3'; ftypes[3] = 'text'; fnames[4] = 'MMERGE4'; ftypes[4] = 'text'; fnames[5] = 'MMERGE5'; ftypes[5] = 'phone'; }(jQuery)); var $mcj = jQuery.noConflict(true);</script>
                <!--End mc_embed_signup-->

            </div>
        </div>
    </div>
</section>