﻿@inherits UmbracoTemplatePage
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="alternate" href="http://phoenixsportinggoods.com" hreflang="en-gb" />
    @Html.Partial("_Meta")
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="~/Styles/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Styles/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="~/App_Plugins/Merchello/client/css/merchello.ui.min.css" />
    <!-- RS5.0 Main Stylesheet -->
    <link rel="stylesheet" type="text/css" href="~/revolution/css/settings.min.css">

    <!-- RS5.0 Layers and Navigation Styles -->
    <link rel="stylesheet" type="text/css" href="~/revolution/css/layers.min.css">
    <link rel="stylesheet" type="text/css" href="~/revolution/css/navigation.min.css">

    <link href="~/Styles/style.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/Styles/cc.min.css">
</head>
<body>
	<!-- Google Tag Manager (noscript) -->
	<noscript>
		<iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5SGWLF8"
				height="0" width="0" style="display:none;visibility:hidden"></iframe>
	</noscript>

	<!-- End Google Tag Manager (noscript) -->
	@Html.Partial("_Header")
	<div class="main">
		@RenderBody()
		@*<div class="pad-down"></div>*@
	</div>
	@Html.Partial("_Footer")

	@*@if (Request.Cookies["cookiewarning"] == null)
		{

			@Html.Partial("_Cookies")

		}*@

	@Html.Partial("_CookiePop")


	<!-- MUI dependencies -->
	<script src="~/Scripts/jquery-1.10.2.min.js"></script>
	<script src="~/Scripts/jquery.validate.min.js"></script>
	<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
	<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
	<script src="~/Scripts/underscore.min.js"></script>
	<script src="~/Scripts/bootstrap.min.js"></script>
	@*<script src="~/Scripts/jquery.cookie.min.js"></script>*@
	<!-- new Merchello UI scripts -->
	<script src="~/App_Plugins/Merchello/client/js/merchello.ui.min.js"></script>
	<script src="~/App_Plugins/Merchello/client/js/merchello.ui.settings.min.js"></script>
	<script src="~/App_Plugins/Merchello/client/js/fasttrack.min.js"></script>

	<!-- RS5.0 Core JS Files -->
	<script type="text/javascript" src="~/revolution/js/jquery.themepunch.tools.min.js?rev=5.0"></script>
	<script type="text/javascript" src="~/revolution/js/jquery.themepunch.revolution.min.js?rev=5.0"></script>
	<script src="~/scripts/modernizr-custom.js"></script>
	<script src="~/scripts/main.min.js"></script>
	<script src="~/scripts/jquery.cookie.min.js"></script>
	<script src="~/Scripts/cc-1.0.min.js"></script>
	@RenderSection("Scripts", required: false)

	<script>
        @* if no cookiewarning cookie exists then show cookie message *@
        $('ul.nav li.dropdown').hover(function () {
            $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeIn(500);
        }, function () {
            $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeOut(500);
        });
	</script>

	<script type="text/javascript" src="//script.crazyegg.com/pages/scripts/0088/6223.js" async="async"></script>
</body>
</html>
