﻿@using System.Web.Mvc.Html
@using Merchello.FastTrack.Ui
@using Merchello.Web.Models.Ui.Rendering
@using Our.Umbraco.Ditto;
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<FtAbout>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "FastTrack.cshtml";

}
@Html.Partial("_Breadcrumb")
<section class="heading1">
    <div class="container">
        <h1>@Model.Content.Name</h1>
    </div>
</section>
<section class="content">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <div id="phoenix-name" class="strapline">
                    <span>Phoenix <br />Sporting<br /> Goods</span>
                </div>
            </div>
            <div class="col-xs-12 col-md-6">
                <img id="phoenix-logo" class="logo" src="@Model.Content.LargeLogo" alt="The Phoneix Logo" />
            </div>
        </div>
        <div class="row">
            <div id="about-text" class="col-xs-12 main-content">
                @Model.Content.MainContent
            </div>

        </div>
    </div>

</section>

<section class="container-fluid sub-pages">
    <div class="row">
        <div class="container">
            @foreach (var page in Model.Content.Children.Where("umbracoNaviHide == false"))
            {
                var pg = page.As<FtGeneral>();
                if (pg != null)
                {
                    <div class="col-xs-12 col-sm-4">
                        <a rel="alternate" hreflang="en" href="@page.Url">
                            <img class="about-image" src="@pg.PageLogo" alt="@page.Name" />
                            <p>@page.Name</p>
                        </a>
                    </div>
                }
            }
        </div>
    </div>
</section>



@if ((bool)Model.Content.Tag)
{
    @Html.Partial("_Tag")
    @Html.Partial("_Brochure")
}