﻿@inherits Merchello.Web.Mvc.MerchelloViewPage<IPublishedContent>
@using Merchello.Core.Models
@using Merchello.Web
@using Merchello.Web.Store.Localization

@{
    Layout = "FastTrack.cshtml";

    var customer = (ICustomer)CurrentCustomer;
}

<div class="container">
    <div class="row">
        @Html.Partial("_Headline")
        <div class="col-xs-12">
            <h1 class="padding-bottom-30">@string.Format("{0} {1}", customer.FirstName, customer.LastName)</h1>
        </div>
    </div>   

    <div class="row">
        <div id="sales-history" class="col-xs-12 col-lg-9">
            @if (!((ICustomer)CurrentCustomer).WishList().IsEmpty)
            {
                <h3>@StoreFormsResource.LabelWishList</h3>
                @Html.Action("WishListForm", "StoreWishList", new { area = "Merchello" })
            }

            @Html.Action("CustomerSalesHistory", "CustomerMembership", new { area = "FastTrack" })
        </div>

        <div class="col-xs-12 col-lg-3 account-add">
            <h3 class="padding-bottom">@StoreFormsResource.LabelAddresses</h3>
            @Html.Action("CustomerBillingAddress", "CustomerMembership", new { area = "FastTrack" })

            @Html.Action("CustomerShippingAddress", "CustomerMembership", new { area = "FastTrack" })
        </div>
    </div>
</div>
