﻿@inherits Merchello.Web.Mvc.MerchelloTemplatePage
@using Merchello.FastTrack.Ui
@using Merchello.Web
@{
    Layout = "FastTrack.cshtml";
}


<div class="container">
    <div class="row">
        @Html.Partial("_Headline")
    </div>
    @if (CurrentCustomer.Basket().Items.Any())
{
    @Html.Action("BasketForm", "StoreBasket", new { area = "Merchello" })

    <div class="row">
        <div class="col-xs-6 col-lg-8">
            <a rel="alternate" hreflang="en" href="@ExampleUiHelper.Content.GetStoreRoot().Url" class="btn btn-orange">Continue Shopping</a>
        </div>
        <div class="col-xs-6 col-lg-4 text-right">
            <a rel="alternate" hreflang="en" href="@ExampleUiHelper.Content.GetCheckout().Url" class="btn btn-orange">Checkout</a>
        </div>
    </div>
}
else
{
    <p>
        <a rel="alternate" hreflang="en" href="@ExampleUiHelper.Content.GetStoreRoot().Url">There's nothing in your shopping cart, start shopping!</a>
    </p>
}
</div>
