﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<FtCatalog>
@using System.Web.Mvc.Html
@using Merchello.FastTrack.Ui
@using Merchello.Web.Models.Ui.Rendering
@using Our.Umbraco.Ditto;
@{
    Layout = "FastTrack.cshtml";
    var storeRoot = ExampleUiHelper.Content.GetStoreRoot();
    var title = Model.Categories == null ? Model.Name : Model.Categories.Name;
    var page = Model.As<FtCatalog>();
    //var categories = Model.Categories != null ? Model.Categories.Children().ToArray() : Enumerable.Empty<ProductCollection>();   
}

@Html.Partial("_Breadcrumb")
<section class="heading1">
    <div class="container">
        <h1>@title</h1>
    </div>
</section>


@if (page.BannerImage != null)
{
    <section class="no-padding bannersub">

        <img src="@page.BannerImage.FirstOrDefault().Url" alt="@title" />
        @*<div class="row">
                @if (!string.IsNullOrEmpty(Model.BannerTitle))
                {
                    <div class="container strapline">
                        <p>
                            <b>@Model.BannerTitle</b><br />
                            @Model.BannerStrapline
                        </p>
                    </div>
                }
            </div>*@
    </section>
}

@Html.Partial("_ProductBoxList", Model.Products)

@if ((bool)Model.Tag)
{
    @Html.Partial("_Tag")
    @Html.Partial("_Brochure")
}


