﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<FtChangePassword>
@{
	Layout = "FastTrack.cshtml";
}

<div class="row">
    <div class="container">
        @Html.Partial("_Headline")
        <div class="col-md-6">
            @Html.Action("ChangePasswordForm", "CustomerMembership", new { area = "FastTrack" })
        </div>
    </div>
    
</div>