﻿@inherits Merchello.Web.Mvc.MerchelloTemplatePage
@using Merchello.FastTrack.Ui
@using Merchello.Web

@{
    Layout = "FastTrack.cshtml";
    if (CurrentCustomer.Basket().IsEmpty)
    {
        Response.Redirect(ExampleUiHelper.Content.GetStoreRoot().Url);
    }
}

<div class="container">
    <div class="row">
        @Html.Partial("_Headline")

        @RenderBody()
    </div>
</div>
