﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.FtCookieControl>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "FastTrack.cshtml";
}

@Html.Partial("_Breadcrumb")
<section class="heading1">
    <div class="container">
        <div class="col-xs-12">
            <h1>@Model.Content.Name</h1>
        </div>
    </div>
</section>

<div id="cookie_control">
    <div class="cookie-saved">
        <p>Your settings have been saved.</p>
    </div>

    <p>Please either click 'Accept All Cookies' or manage the individual cookie types and click 'Save Settings' at the bottom of the page. You will continue to see the cookie warning at the bottom of the page unless you 'Accept All Cookies' or 'Save Settings'.</p>

    <a rel="alternate" hreflang="en" href="#" class="btn btn-med btn-green cookie-accept cc-accept-all save-settings">Accept All Cookies</a>

    <div id="c_necessary" class="cookie-section">
        <div class="section-head">
            <div class="section-title">
                <h2>Necessary Cookies</h2>
            </div>
            <div class="section-status">
                <label class="switch">
                    <input id="_cnecessary" type="checkbox" checked>
                    <span class="slider round"></span>
                </label>
                <span class="status active">Always Active</span>
            </div>
        </div>
        <div class="section-intro">
            <p>These cookies are necessary for the website to function and cannot be turned off.</p>
        </div>
        <div class="table">
            <div class="header">
                <div class="cookie-name cell">
                    <p>Name</p>
                </div>
                <div class="cookie-details cell">
                    <p>Description</p>
                </div>
                <div class="cookie-expiry cell">
                    <p>Expiry</p>
                </div>
            </div>
            <div class="section-row">
                <div class="cookie-name cell">
                    <p>_cperformance</p>
                </div>
                <div class="cookie-details cell">
                    <p>Remembers your preference for the website performance cookies.</p>
                </div>
                <div class="cookie-expiry cell">
                    <p>1 Year</p>
                </div>
            </div>
            <div class="section-row">
                <div class="cookie-name cell">
                    <p>_cfunctional</p>
                </div>
                <div class="cookie-details cell">
                    <p>Remembers your preference for the website functional cookies.</p>
                </div>
                <div class="cookie-expiry cell">
                    <p>1 Year</p>
                </div>
            </div>
            <div class="section-row">
                <div class="cookie-name cell">
                    <p>__RequestVerificationToken</p>
                </div>
                <div class="cookie-details cell">
                    <p>This is an anti forgery token that helps us to prevent cross-site request forgery attacks. This cookie contains no personal information and will only be stored for the duration of your browser session.</p>
                </div>
                <div class="cookie-expiry cell">
                    <p>Session</p>
                </div>
            </div>
            <div class="section-row">
                <div class="cookie-name cell">
                    <p>merchello</p>
                </div>
                <div class="cookie-details cell">
                    <p>Used for the shopping basket and purchasing products from the website and contains no personal information.</p>
                </div>
                <div class="cookie-expiry cell">
                    <p>1 Month</p>
                </div>
            </div>
            <div class="section-row">
                <div class="cookie-name cell">
                    <p>no_thanks</p>
                </div>
                <div class="cookie-details cell">
                    <p>Used to show or hide the mailing list sign up pop up on first visit.</p>
                </div>
                <div class="cookie-expiry cell">
                    <p>Friday, December 31, 9999</p>
                </div>
            </div>
        </div>
    </div>



    <div id="c_performance" class="cookie-section">
        <div class="section-head">
            <div class="section-title">
                <h2>Performance Cookies</h2>
            </div>
            <div class="section-status">
                <label class="switch">
                    <input id="_cperformance" class="cCheckbox" type="checkbox">
                    <span class="slider round"></span>
                </label>
                <span class="status"></span>
            </div>
        </div>
        <div class="section-intro">
            <p>These cookies allow us to gather statistics regarding the number of visitors, page views and how visitors move around the website. All information these cookies collect is anonymous. If you do not allow these cookies, we will not know when you have visited our site.</p>
        </div>
        <div class="table">
            <div class="header">
                <div class="cookie-name cell">
                    <p>Name</p>
                </div>
                <div class="cookie-details cell">
                    <p>Description</p>
                </div>
                <div class="cookie-expiry cell">
                    <p>Expiry</p>
                </div>
            </div>
            <div class="section-row">
                <div class="cookie-name cell">
                    <p>_ga</p>
                </div>
                <div class="cookie-details cell">
                    <p>Used to distinguish users.</p>
                </div>
                <div class="cookie-expiry cell">
                    <p>2 years</p>
                </div>
            </div>
            <div class="section-row">
                <div class="cookie-name cell">
                    <p>_gid</p>
                </div>
                <div class="cookie-details cell">
                    <p>Used to distinguish users.</p>
                </div>
                <div class="cookie-expiry cell">
                    <p>24 hours</p>
                </div>
            </div>
            <div class="section-row">
                <div class="cookie-name cell">
                    <p>_gat</p>
                </div>
                <div class="cookie-details cell">
                    <p>Used to throttle request rate. If Google Analytics is deployed via Google Tag Manager, this cookie will be named _dc_gtm_<property-id>.</p>
                </div>
                <div class="cookie-expiry cell">
                    <p>1 minute</p>
                </div>
            </div>
            <div class="section-row">
                <div class="cookie-name cell">
                    <p>__utma</p>
                </div>
                <div class="cookie-details cell">
                    <p>Used to distinguish users and sessions. The cookie is created when the javascript library executes and no existing __utma cookies exists. The cookie is updated every time data is sent to Google Analytics.</p>
                </div>
                <div class="cookie-expiry cell">
                    <p>2 years from set/update	</p>
                </div>
            </div>
            <div class="section-row">
                <div class="cookie-name cell">
                    <p>__utmb</p>
                </div>
                <div class="cookie-details cell">
                    <p>Used to determine new sessions/visits. The cookie is created when the javascript library executes and no existing __utmb cookies exists. The cookie is updated every time data is sent to Google Analytics.</p>
                </div>
                <div class="cookie-expiry cell">
                    <p>30 mins from set/update</p>
                </div>
            </div>
            <div class="section-row">
                <div class="cookie-name cell">
                    <p>__utmc</p>
                </div>
                <div class="cookie-details cell">
                    <p>Not used in ga.js. Set for interoperability with urchin.js. Historically, this cookie operated in conjunction with the __utmb cookie to determine whether the user was in a new session/visit.</p>
                </div>
                <div class="cookie-expiry cell">
                    <p>Session</p>
                </div>
            </div>
            <div class="section-row">
                <div class="cookie-name cell">
                    <p>__utmat</p>
                </div>
                <div class="cookie-details cell">
                    <p>Used to throttle request rate.</p>
                </div>
                <div class="cookie-expiry cell">
                    <p>10 minutes</p>
                </div>
            </div>
            <div class="section-row">
                <div class="cookie-name cell">
                    <p>__utmv</p>
                </div>
                <div class="cookie-details cell">
                    <p>Used to store visitor-level custom variable data. This cookie is created when a developer uses the _setCustomVar method with a visitor level custom variable. This cookie was also used for the deprecated _setVar method. The cookie is updated every time data is sent to Google Analytics.</p>
                </div>
                <div class="cookie-expiry cell">
                    <p>2 years from set/update</p>
                </div>
            </div>
            <div class="section-row">
                <div class="cookie-name cell">
                    <p>__utmz</p>
                </div>
                <div class="cookie-details cell">
                    <p>Stores the traffic source or campaign that explains how the user reached your site. The cookie is created when the javascript library executes and is updated every time data is sent to Google Analytics.</p>
                </div>
                <div class="cookie-expiry cell">
                    <p>6 months from set/update	</p>
                </div>
            </div>
        </div>
    </div>

    <a id="cc-save" class="cookie-save cc-save save-settings" rel="alternate" hreflang="en" href="#">Save Settings</a>
</div>