﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<FtForgotPassword>
@{
	Layout = "FastTrack.cshtml";
}

<div class="container">
    <div class="row">
        @Html.Partial("_Headline")
        
    </div>
    <div class="row">
        <div class="col-md-6">
            @Html.Action("ForgotPasswordForm", "CustomerMembership", new { area = "FastTrack" })
        </div>
    </div>
</div>
