﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<FtLogin>
@{
	Layout = "FastTrack.cshtml";
}

<div class="container">
    <div class="row">
        @Html.Partial("_Headline")
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-sm-offset-3">
            @Html.Action("LoginForm", "CustomerMembership", new { area = "FastTrack" })
        </div>
        @*<div class="col-xs-12 col-sm-6">
            @Html.Action("RegisterForm", "CustomerMembership", new { area = "FastTrack" })
        </div>*@
    </div>
</div>