﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.FtPolicy>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "FastTrack.cshtml";
}

<style type="text/css">
    #accordion ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

        #accordion ul li {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

            #accordion ul li a {
                display: block;
                text-decoration: none;
                padding: 20px 0;
            }

    .content-wrap {
        display: none;
    }

    .content {
        padding: 10px 20px;
    }

    #accordion ul li .content-wrap a {
        display: inline;
        padding:0;
    }

    #accordion > ul > li > div > a > h2 {
        font-size: 1.125em;
        text-transform: uppercase;
        color: #000000;
        margin: 0;
    }

    .content-wrap p {
        font-size: 0.875em;
        margin: 20px 0;
        line-height: 150%;
        color: #333333;
    }

        .content-wrap p:first-of-type {
            margin-top: 0;
        }

        .content-wrap p:last-of-type {
            margin-bottom: 0;
        }

    #accordion ul li .content-wrap ul {
        list-style-type: disc;
        margin: 20px 0;
        padding-left: 60px;
    }

        #accordion ul li .content-wrap ul li {
            font-size: 0.875em;
            list-style-type: disc;
            line-height: 150%;
            color: #333333;
        }

        .content-wrap .content table {
            width:60%;
            border-spacing: 0;
            border-collapse:collapse;
            border:1px solid #999999;
        }

        .content-wrap .content table tr td {
            padding:6px;
            border:1px solid #999999;
        }

        .content-wrap .content table tr td p {
            margin:10px 0;
        }

        .content-wrap .content table tr td p:first-of-type {
            margin-top:0;
        }

        .content-wrap .content table tr td p:last-of-type {
            margin-bottom:0;
        }
</style>
@section Scripts {
    <script type="text/javascript">

        $(document).ready(function () {
            $('#accordion ul li').click(function () {
                if ($(':animated').length) {
                    return false;
                }

                if ($(this).is(".open")) {  //If it's already open then do nothing
                    $(this).find('.content-wrap').slideToggle();
                }

                else {

                    $(this).addClass('open');
                    $(this).find('.content-wrap').slideToggle();
                    $("#accordion ul li").not(this).removeClass('open');
                    $("#accordion ul li").not(this).find('.content-wrap').slideUp();
                }
            });
        });
    </script>
}

@Html.Partial("_Breadcrumb")
<section class="heading1">
    <div class="container">
        <h1>@Model.Content.Name</h1>
    </div>
</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="container">
                <div class="col-xs-12 no-padding">
                    <div id="accordion">
                        @if (Model.Content.PolicySections.Any())
                        {
                            var i = 1;
                            <ul>
                                @foreach (var Policies in Model.Content.PolicySections)
                                {
                                    var Policy = new Policy(Policies);

                                    <li>
                                        <div>
                                            <a rel="alternate" hreflang="en" href="javascript:void(0);">
                                                <h2>@i. @Policy.Title</h2>
                                            </a>
                                            <div class="content-wrap">
                                                <div class="content">
                                                    @Html.Raw(Policy.Text)
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                    i++;
                                }
                            </ul>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>