﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "ftCheckout.cshtml";
}

<div class="container padding-bottom-30">
    <div class="row">
        <div class="col-xs-12 col-sm-6" data-muitarget="checkoutaddresses">
            @RenderBody()
        </div>

        <div id="order-summary" class="col-xs-12 col-sm-6">
            @Html.Action("BasketSummary", "CheckoutSummary", new { area = "FastTrack" })
        </div>

    </div>
</div>
