﻿@using Our.Umbraco.Ditto;
@using Phoenix.Web.Models;
@inherits Umbraco.Web.Mvc.UmbracoViewPage<FtStore>
@{
	var miniSiteID = Session["miniSiteHomeID"];
	if (miniSiteID != null && !string.IsNullOrEmpty(miniSiteID.ToString()))
	{

		var nodeID = Session["miniSiteHomeID"];
		var miniSiteStore = Umbraco.TypedContent(nodeID).Url;

		Response.Redirect(miniSiteStore);

	}
	else
	{
		Layout = "FastTrack.cshtml";
	}
}

@Html.Partial("_HomeBanner")

<h1 class="" style="display: none">Strength Quality Performance Box</h1>

@if ((bool)Model.Tag)
{
	@Html.Partial("_Tag")
}

<section class="calltoaction">
	<a rel="alternate" hreflang="en" href="@Model.Section1Link" target="_blank">
		<div class="col-xs-12 col-sm-4 col-md-4 actionitem text-center" style="background-image:url('@Model.Section1Image')">
			@if (!string.IsNullOrEmpty(@Model.Section1Title))
			{
				<span>@Model.Section1Title</span>
			}
		</div>
	</a>
	<a rel="alternate" hreflang="en" href="@Model.Section2Link" target="_blank">
		<div class="col-xs-12 col-sm-4 col-md-4 actionitem text-center" style="background-image:url('@Model.Section2Image')">
			@if (!string.IsNullOrEmpty(@Model.Section2Title))
			{
				<span>@Model.Section2Title</span>
			}
		</div>
	</a>
	<a rel="alternate" hreflang="en" href="@Model.Section3Link" target="_blank">
		<div class="col-xs-12 col-sm-4 col-md-4 actionitem text-center" style="background-image:url('@Model.Section3Image')">
			@if (!string.IsNullOrEmpty(@Model.Section3Title))
			{
				<span>@Model.Section3Title</span>
			}
		</div>
	</a>
</section>

<section class="partnership">
	@if (Model.FootballLogos != null && Model.FootballLogos.Count() > 0)
	{
		<div class="row no-margin">
			<div class="col-xs-12 byline first-byline">
				<p>@Model.PartnershipText.ToUpper()</p>
			</div>
			<div class="col-xs-12 logos text-center">
				<div class="infiniteCarousel clearfix">
					<div class="wrapper">
						<ul>
							@foreach (var item in Model.FootballLogos)
							{
								var logo = item.As<FootballLogo>();
								<li>
									<a rel="alternate" hreflang="en" href="@logo.Link" target="_blank">
										<img alt="@logo.Title" src="@logo.Image.Url" />
									</a>
								</li>
							}
						</ul>
					</div>
				</div>
			</div>


		</div>
	}
	<div class="row no-margin">
		<div class="col-xs-12 byline">
			<a rel="alternate" hreflang="en" href="@Model.Distributor.Url" class="btn">Become a distributor</a>
		</div>
	</div>
</section>

@if (Model.ExtraLogos != null && Model.ExtraLogos.Count() >= 1)
{
	<section>
		<div class="row no-margin extra-logos">
			<div class="col-xs-12">
				@foreach (var img in Model.ExtraLogos)
				{
					<img alt="@img.Name" src="@img.Url" />
				}
			</div>
		</div>
	</section>
}

<section>
	@{ Html.RenderPartial("~/Views/Partials/MailForm.cshtml", new MailFormViewModel()); }
</section>




@section Scripts{
	<script>
		var tpj = jQuery;
		var revapi56;
		tpj(document).ready(function () {
			if (tpj("#phoenix-slider").revolution == undefined) {
				revslider_showDoubleJqueryError("#phoenix-slider");
			} else {
				revapi56 = tpj("#phoenix-slider").show().revolution({
					sliderType: "fullscreen",
					jsFileLocation: "../revolution/js/",
					sliderLayout: "fullwidth",
					dottedOverlay: "none",
					delay: 9000,
					navigation: {
						bullets: {
							enable: true,
							style: 'hermes',
							hide_onleave: false,
							h_align: 'center',
							v_align: 'bottom',
							h_offset: 0,
							v_offset: 20,
							space: 5
						}
					},
					responsiveLevels: [1240, 1024, 778, 480],
					gridwidth: [1240, 1024, 778, 480],
					gridheight: [720, 640, 640, 640],
					lazyType: "none",
					parallax: {
						type: "scroll",
						origo: "enterpoint",
						speed: 400,
						levels: [5, 10, 15, 20, 25, 30, 35, 40, 45, 50],
					},
					shadow: 0,
					spinner: "off",
					autoHeight: "off",
					disableProgressBar: "on",
					hideThumbsOnMobile: "off",
					hideSliderAtLimit: 0,
					hideCaptionAtLimit: 0,
					hideAllCaptionAtLilmit: 0,
					debugMode: false,
					fallbacks: {
						simplifyAll: "off",
						disableFocusListener: false,
					}
				});
			}
		});	/*ready*/


	</script>

	<script>
		$(document).ready(function () {
			// If no cookie with our chosen name (e.g. no_thanks)...
			if ($.cookie("no_thanks") == null) {
				$('#myModal').modal({
					show: true,
					backdrop: 'static'
				})
			}


			// On click of specified class (e.g. 'nothanks'), trigger cookie, with expiration in year 9999
			$(".nothanks").click(function () {
				document.cookie = "no_thanks=true; expires=Fri, 31 Dec 9999 23:59:59 UTC";

			});

		});

		$(window).load(function () {
			function alignModal() {
				var modalDialog = $(this).find(".modal-dialog");
				/* Applying the top margin on modal dialog to align it vertically center */
				modalDialog.css("margin-top", Math.max(0, ($(window).height() - modalDialog.height()) / 2));
			}
			// Align modal when it is displayed
			$(".modal").on("shown.bs.modal", alignModal);

			// Align modal when user resize the window
			$(window).on("resize", function () {
				$(".modal:visible").each(alignModal);
			});
			$(".modal:visible").each(alignModal);
		});
	</script>
}


