﻿@inherits Merchello.Web.Mvc.MerchelloTemplatePage
@using Our.Umbraco.Ditto
@using Phoenix.Web;
@{
    Layout = "MiniMaster.cshtml";
    var page = Model.As<MiniHome>();

    var backgroundImage = page.BannerImage != null ? page.BannerImage.FirstOrDefault().Url : "";
}

<section class="mini-filter" style="background-image:url('@backgroundImage')">
    <div class="row">
        <div class="container no-padding">
            <div class="col-xs-12 no-padding">
                <h1 class="orange-text">@page.Heading</h1>
                <h2 class="@PhoenixHelper.ResolveTextDropDown(page.SubHeadingColour)">@page.SubHeading</h2>
                <p class="list-text text-center white-text text-uppercase">@page.ListText</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="container no-padding">
            <div class="no-padding banner-content">
                <div class="wrapper">
                    @foreach (var item in page.Categories)
                    {
                        var category = item.As<Category>();

                        if (category.Image != null)
                        {
                            var ImagePath = @category.Image.Url + "?quality=70";

                            <div class="col-md-2 col-sm-4 col-xs-12 category-wrap">
                                <a class="category" rel="alternate" hreflang="en" href="~/store/@category.Name.Replace(" ", "-").ToLower()">
                                    <div class="cat" style="background-image:url('@ImagePath')">
                                        <div class="category-head">
                                            <h3 class="white-text text-uppercase">@category.Title</h3>
                                        </div>
                                        <div class="sub-heading">
                                            <span class="title">@category.Title</span>
                                            <span class="title2">Training<br />Equipment</span>
                                            <span class="link">@category.SubTitle</span>
                                            <img src="~/Assets/arrow-down.png" alt="arrow down" />
                                        </div>
                                    </div>
                                </a>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>

</section>