﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<Merchello.Web.Models.VirtualContent.IProductContent>
@using Merchello.FastTrack.Ui
@using Merchello.Web.Models.Ui.Rendering
@using Merchello.Web.Models.VirtualContent
@using Our.Umbraco.Ditto;
@using System.Text.RegularExpressions;
@{

    Layout = "MiniMaster.cshtml";

    var storeRoot = ExampleUiHelper.Content.GetStoreRoot().As<FtStore>();
    var miniSiteHome = "";
    var miniSiteStore = "";

    var hasVariants = Model.ProductVariants.Any();

    var product = Model.As<FtProduct>();

    var productImages = Model.GetPropertyValue<IEnumerable<IPublishedContent>>("images");
    var productImage = Model.GetPropertyValue<IPublishedContent>("image");

    //-- create a Url for the root node of the local instance of the site e.g 'Gorilla-Training' - otherwise all links will default to the root node of Umbraco instance --
    if (Request["HomeID"] != null)
    {
        var miniSiteHomeNodeID = Request["HomeID"];
        miniSiteHome = Umbraco.TypedContent(miniSiteHomeNodeID).Url;
        // -- create a URL for the homepage of the local mini site instance from querystring --
        var miniSiteStoreNodeID = Request["StoreID"];
        miniSiteStore = Umbraco.TypedContent(miniSiteStoreNodeID).Url;
        Session["miniSiteHomeID"] = miniSiteHomeNodeID;
        Session["miniSiteStoreID"] = miniSiteStoreNodeID;

    }
    // Response.Write("Home is:" + miniSiteStore);

    // the Model passed here is IProductContent (virtual content) that is not generated by the Models Builder.
    // However, it is a Typed IPublishedContent model that exposes product properties such as Price, SalePrice, etc.
    // and the properties from the ContentType that was attached to the product in Merchello's back office.
    // These can be accessed in the same way as any normal IPublishedContent property e.g. GetPropertyValue
}
@Html.Partial("_Breadcrumb-Product")
<section class="product">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-6 no-padding gallery">
                @if (productImage != null)
                {
                    <img src="@productImage.GetCropUrl()" alt="@productImage.Name" id="main-img">

                    if (productImages != null && productImages.Count() > 0)
                    {
                        <div class="row">
                            @foreach (var image in productImages)
                            {
                                <div class="col-xs-6 col-sm-3">
                                    <img class="gallerythumbnail" src="@image.GetCropUrl()" alt="@image.Name" />
                                </div>
                            }
                        </div>
                    }
                }
                else
                {
                    <img src="~/Assets/ProductMissingImage.png" alt="Needs an Image" id="main-img">
                }
            </div>
            <div class="col-xs-12 col-md-6">
                <div><h1>@product.LinkName</h1></div>
                <div class="no-padding description">
                    @Html.Raw(Model.GetPropertyValue<string>("description"))
                </div>
                @Html.Action("AddProductToBasketForm", "StoreBasket", new { area = "Merchello", model = Model })

                <hr />
                <div class="row product-sheets">
                    @if (product.SpecSheet != null)
                    {
                        <div class="col-xs-12 col-md-6">
                            <a rel="alternate" hreflang="en" href="@product.SpecSheet.Url" target="_blank"><img src="~/Assets/SpecSheetIcon.png" alt="Spec sheet icon" /><span>Download Product Spec Sheet</span></a>
                        </div>
                    }
                    @if (product.InstructionSheet != null)
                    {
                        <div class="col-xs-12 col-md-6">
                            <a rel="alternate" hreflang="en" href="@product.InstructionSheet.Url" target="_blank"><img src="~/Assets/InstructionSheetIcon.png" alt="Spec sheet icon" /><span>Download Instruction Sheet</span></a>
                        </div>
                    }
                    @if (product.Documents != null)
                    {
                        foreach (var x in product.Documents)
                        {
                            var doc = x.As<MediaItemLink>();
                            <div class="col-xs-12 col-md-6">
                                <a rel="alternate" hreflang="en" href="@doc.MediaItem.Url" target="_blank"><img src="~/Assets/SpecSheetIcon.png" alt="spec sheet icon" /><span>@doc.Title</span></a>
                            </div>
                        }
                    }

                </div>
                <div class="row">
                    <div class="col-xs-12 enquire">
                        <a rel="alternate" hreflang="en" href="@miniSiteHome/contact-us/" class="btn-orange">Enquire Today!</a>
                    </div>
                    <div class="col-xs-12 key-benefits">
                        @product.KeyBenefits
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            @if (product.Videos != null && product.Videos.Count() >= 1)
            {
                var isMultiple = product.Videos.Count() > 1 ? true : false;

                foreach (var item in product.Videos)
                {
                    var video = item.As<VideoItem>();
                    var offset = "col-sm-offset-3";

                    if (isMultiple) { offset = ""; }
                    var embedLink = string.Format("https://www.youtube.com/embed/{0}", video.VideoID);


                    <div class="col-xs-12 col-sm-6 @offset  video-box">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="@embedLink"></iframe>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</section>
<section class="related-products">
    <div class="container">
        @if (Model.HasProperty("relatedProducts") && Model.HasValue("relatedProducts"))
        {
            <div class="row related-products">
                <h1 class="text-center">You May also be interested in</h1>
                @Html.Partial("_ProductBoxList", Model.GetPropertyValue<IEnumerable<IProductContent>>("relatedProducts"))
            </div>

        }
    </div>
</section>
@if ((bool)product.Tag)
{
    @Html.Partial("_Tag")
    @Html.Partial("_Brochure")
}


@*@helper Categories(IProductContent product)
    {
            var collections = product.Collections().ToArray();
            if (collections.Any())
            {
                var pages = new List<Tuple<ProductCollection, IPublishedContent>>();
                foreach (var col in collections)
                {
                    var page = ExampleUiHelper.Content.GetCategoryPageForCollection(col.CollectionKey);
                    if (page != null)
                    {
                        pages.Add(new Tuple<ProductCollection, IPublishedContent>(col, page));
                    }
                }
                var needsComma = false;
                    <small>
                        Categories:
                        @foreach (var pc in pages)
                        {
                            @Umbraco.If(needsComma, ",") <a href="@pc.Item2.Url">@pc.Item1.Name</a>
                            needsComma = true;
                        }
                    </small>
            }
    }*@