﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    int currentNodeID2 = 0;
    //-- if a product page - get home node ID from querystring ----
    if (Request["HomeID"] != null)
    {
        // ---- get node ID of settings----------------
        // get node ID and URL of current page
        var currentPageId = int.Parse(Request["HomeID"]);
        var homePage = Umbraco.Content(currentPageId).AncestorsOrSelf(2).First();
        currentNodeID2 = homePage.Id;

    }
    else {

        // -- if not a product page -- get current page id --
        // ---- get node ID of settings----------------
        // get node ID and URL of current page
        var currentPageId = UmbracoContext.Current.PageId;
        var currentPageUrl = Umbraco.TypedContent(currentPageId).Url;
        int nodeID = Umbraco.TypedContent(currentPageId).Id;
        var homePage = Umbraco.Content(currentPageId).AncestorsOrSelf(2).First();
        currentNodeID2 = homePage.Id;

    }
    // ---- find home page relative to mini website e.g Gorilla Training ------
    // ---- get node ID of settings----------------
    var settingsLists = Phoenix.Web.Helpers.GeneralNavigationHelpers.GetStore(Umbraco.ContentAtRoot());
    var settingsID = settingsLists.id;


    var SiteSettings = Umbraco.Content(currentNodeID2).Children().Where("DocumentTypeAlias = \"Settings\"");
    /// ---- get nodeID of settings ----------
    foreach (var item in SiteSettings)
    {
        settingsID = item.Id;
    }


    //-----------get navigation from 'settings - footer links' ---------------
    var pageID = Umbraco.Content(settingsID);
    var selection = pageID.GetPropertyValue<IEnumerable<IPublishedContent>>("footerLinks");


    //create collection from multi node picker
    var i = 1;


    // create copyright string
    var copyright = ("Copyright \u00a9 " + @DateTime.Now.Year + "   All rights reserved: " + pageID.companyName).ToUpper();
    //create address string
    var address = pageID.companyAddress1 + " " + pageID.companyAddress2;

}
<footer class="bottom-content">
    <div class="row">
        <div class="footer-nav col-xs-12 col-sm-12 col-md-6">
           <ul class="nav">
                  <li><a id="header_login" class="member" rel="alternate" hreflang="en" href="http://phoenixsport/account/"><span>Login </span></a></li>
             
                @{
                    //--- loop through nav picker ---
                    foreach (var item in selection)
                    {
                        //----------get secondary navigation from page navigation picker -----------
                        var itemID = item.Id;
                        var navID = Umbraco.Content(itemID);
                        var hide = navID.GetPropertyValue("umbracoNaviHide");
                        //--only display if hide from navigation is not selected --
                       // if (hide == false)
                      //  {
                       <li>
                           <a rel="alternate" hreflang="en" href="@item.Url" target="_self" data-ix="fade-out-on-click" class="footer-link">@item.Name.ToUpper()</a>
                        </li>
                       // }
                    }
                }

            </ul>

        </div>
        <div class="col-xs-12 col-sm-12 col-md-8 col-md-3 social-wrapper">
            @if (!string.IsNullOrEmpty(pageID.coFacebook))
            {
                <a rel="alternate" hreflang="en" href="@pageID.coFacebook" class="social facebook" target="_blank"></a>
            }
            @if (!string.IsNullOrEmpty(pageID.coTwitter))
            {
                <a rel="alternate" hreflang="en" href="@pageID.coTwitter" class="social twitter" target="_blank"></a>
            }
            @if (!string.IsNullOrEmpty(pageID.coInstagram))
            {
                <a rel="alternate" hreflang="en" href="@pageID.coInstagram" class="social instagram" target="_blank"></a>
            }
            @if (!string.IsNullOrEmpty(pageID.coLinkedin))
            {
                <a rel="alternate" hreflang="en" href="@pageID.coLinkedin" class="social linkedIn" target="_blank"></a>
            }
            </div>
        <div class="col-xs-12 col-sm-12 col-md-8 col-md-3">
            <div class="copyright">
                <p>@copyright @address</p>
<p>Website By: <a rel="noopener noreferrer" href="http://www.boomerangcreative.agency" target="_blank">Boomerang Creative</a></p>
            </div>
        </div>
    </div>
</footer>


