﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "MiniMaster.cshtml";
}

<div class="row">
    <div id="final-summary-container" class="container">
        <div class="col-xs-12 col-sm-6 no-padding" data-muitarget="checkoutaddresses">
            @RenderBody()
        </div>

        <div id="order-summary" class="col-xs-12 col-sm-6">
            @Html.Action("InvoiceSummary", "CheckoutSummary", new { area = "FastTrack" })
        </div>
    </div>
</div>
