﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<FtDistributor>
    @using ContentModels = Umbraco.Web.PublishedContentModels;
    @using Phoenix.Web.Models;
    @{
    Layout = "MiniMaster.cshtml";
    }
    @Html.Partial("MiniBreadcrumb")
    <section class="row heading1">
        <div class="container">
            <h1>@Model.Content.Name</h1>
            <p>@Model.Content.MainContent</p>
        </div>
    </section>
    <!--AIzaSyBwVLlrY5C2GXbIRlNXMmm5zZkzLtuL_0o-->
    <section class="row contact-form">
        <div class="container">
            @{ Html.RenderPartial("~/Views/Partials/DistributorForm.cshtml", new DistributorFormViewModel()); }
        </div>
    </section>

    @if ((bool)Model.Content.Tag)
    {
    @Html.Partial("_Tag")
    @Html.Partial("_Brochure")
    }

