﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<FtCatalog>
@using System.Web.Mvc.Html
@using Merchello.FastTrack.Ui
@using Merchello.Web.Models.Ui.Rendering
@using Our.Umbraco.Ditto;
@using Phoenix.Web;
@using Umbraco.Web;
@using System.Text
@using Merchello.Core
@using Merchello.Web.Models.VirtualContent
@using Merchello.FastTrack.Models



@{
    /**/

    Layout = "MiniMaster.cshtml";

    var storeRoot = ExampleUiHelper.Content.GetStoreRoot();
    var title = Model.Categories == null ? Model.Name : Model.Categories.Name;
    var page = Model.As<FtCatalog>();
    //var categories = Model.Categories != null ? Model.Categories.Children().ToArray() : Enumerable.Empty<ProductCollection>();

    // get node ID and URL of current page
    var currentPageId = UmbracoContext.Current.PageId;
    var currentPageUrl = Umbraco.TypedContent(currentPageId).Url;
    int nodeID = Umbraco.TypedContent(currentPageId).Id;


    // ---- find home page relative to mini website e.g Gorilla Training ------
    // ---- get node ID of settings----------------
    var settingsLists = Phoenix.Web.Helpers.GeneralNavigationHelpers.GetStore(Umbraco.ContentAtRoot());

    var settingsID = settingsLists.id;

    var homePage = Umbraco.Content(currentPageId).AncestorsOrSelf(2).First();
    int currentNodeID2 = homePage.Id;
    var SiteSettings = Umbraco.Content(currentNodeID2).Children().Where("DocumentTypeAlias = \"Settings\"");
    /// ---- get nodeID of settings ----------
    foreach (var item in SiteSettings)
    {
        settingsID = item.Id;
    }

    //-----------get navigation from 'settings - storePicker' ---------------
    var storeURL = "";
    var storeName = "";
    var storeID = "";
    var pageID = Umbraco.Content(settingsID);
    var selection = pageID.GetPropertyValue<IEnumerable<IPublishedContent>>("storePicker");
    //--- loop through nav picker ---
    foreach (var item in selection)
    {
        storeURL = item.Url;
        storeName = item.Name;
        storeID = (item.Id).ToString();
    }

    //-----------get navigation from 'settings - storePicker' ---------------
    var miniHomeURL = "";
    var miniHomeName = "";
    var miniHomeID = "";
    var selection2 = pageID.GetPropertyValue<IEnumerable<IPublishedContent>>("miniSiteHome");
    //--- loop through nav picker ---
    foreach (var item in selection2)
    {
        miniHomeURL = item.Url;
        miniHomeName = item.Name;
        miniHomeID = (item.Id).ToString();
    }

    // --- get the banner image --
    var backgroundImage = "";
    var imgID = Umbraco.Content(miniHomeID).GetPropertyValue("BannerImage");
    // -------- Get the image-------
    var typedMultiMediaPicker = Umbraco.Content(miniHomeID).GetPropertyValue<IEnumerable<IPublishedContent>>("BannerImage");
    // -- loop through Media Picker and get image URL --
    foreach (var photo in typedMultiMediaPicker)
    {
        backgroundImage = photo.Url;
    }

    // --- set up the categories info ---
    var itemsCat = Umbraco.Content(miniHomeID).GetPropertyValue<IEnumerable<IPublishedContent>>("Categories");

    // --- get all sub categories of current page --
    var subCat = Umbraco.Content(page.Id).Children();

    //var catalogRoot = Umbraco.Content(storeID).FirstChild(x => x.DocumentTypeAlias == "ftCatalog" && x.IsVisible());
    //var menuItems = storeRoot.Children.Where("umbracoNaviHide == false").As<IPublishedContent>();

}
<section class="mini-filter" style="background-image:url('@backgroundImage')">
    <div class="row">
        <div class="container no-padding">
            <div class="col-xs-12 no-padding">
                <h1 class="orange-text">@Umbraco.Content(miniHomeID).Heading</h1>
                <h2 class="@PhoenixHelper.ResolveTextDropDown(Umbraco.Content(miniHomeID).SubHeadingColour)">@Umbraco.Content(miniHomeID).SubHeading</h2>
                <p class="list-text text-center white-text text-uppercase">@Umbraco.Content(miniHomeID).ListText</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="container no-padding">
            <div class="col-xs-12 no-padding banner-content">
                <div class="wrapper">
                    @foreach (var item in itemsCat)
                    {
                        //-- loop through the nested content for categories and get title, image, etc --
                        var catImage = (Umbraco.Field(item, "Image").ToString());
                        int nodeID2 = int.Parse(catImage);
                        // --- get category image --
                        var imageUrl = Umbraco.Media(nodeID2).Url;
                        var ImagePath = imageUrl + "?quality=70";
                        // -- get category title and subtitle ---
                        var catTitle = @Umbraco.Field(item, "Title");
                        var catSubtitle = @Umbraco.Field(item, "SubTitle");

                        <div class="col-md-2 col-sm-4 col-xs-12 category-wrap">
                            <a class="category" rel="alternate" hreflang="en" href="~/store/@item.Name.Replace(" ", "-").ToLower()">
                                <div class="cat" style="background-image:url('@ImagePath')">
                                    @*<img src="@category.Image.Url" style="visibility:hidden" />*@
                                    <div class="category-head">
                                        <h3 class="white-text text-uppercase">@catTitle</h3>
                                    </div>
                                    <div class="sub-heading">
                                        <span class="title">@catTitle</span>
                                        <span class="title2">Training<br />Equipment</span>
                                        <span class="link">@catSubtitle</span>
                                        <img src="~/Assets/arrow-down.png" alt="arrow" />
                                    </div>
                                </div>
                            </a>
                        </div>

                    }
                </div>

            </div>
        </div>
    </div>

</section>


<section class="heading1">
    <div class="container">
        @Html.Partial("MiniBreadcrumb")
        <h1>@title</h1>
    </div>
</section>
<section class="mini-products">
    @Html.Partial("_ProductBoxListMini", Model.Products)
</section>


    <section class="partnership">
        <div class="row no-margin">
            <div class="col-xs-12 byline">
                <a rel="alternate" hreflang="en" href="~/distributor" class="btn">Become a distributor</a>
            </div>
        </div>
    </section>
