﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<FtContact>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@using Phoenix.Web.Models;
@{
    Layout = "MiniMaster.cshtml";
}

@Html.Partial("MiniBreadcrumb")
<section class="row heading1">
    <div class="container">
        <h1>@Model.Content.Name</h1>
    </div>
</section>
<!--AIzaSyBwVLlrY5C2GXbIRlNXMmm5zZkzLtuL_0o-->
<section class="row contact-form">
    <div class="container">
        @{ Html.RenderPartial("~/Views/Partials/ContactForm.cshtml", new ContactFormViewModel()); }
    </div>
</section>

@if ((bool)Model.Content.Tag)
{
    @Html.Partial("_Tag")
    @Html.Partial("_Brochure")
}

