﻿@inherits Merchello.Web.Mvc.MerchelloTemplatePage
@using Merchello.FastTrack.Ui
@using Merchello.Web
@{
    Layout = "MiniMaster.cshtml";


    // get node ID and URL of current page
    var currentPageId = UmbracoContext.Current.PageId;
    var currentPageUrl = Umbraco.TypedContent(currentPageId).Url;
    int nodeID = Umbraco.TypedContent(currentPageId).Id;


    // ---- find home page relative to mini website e.g Gorilla Training ------
    // ---- get node ID of settings----------------
    var settingsLists = Phoenix.Web.Helpers.GeneralNavigationHelpers.GetStore(Umbraco.ContentAtRoot());

    var settingsID = settingsLists.id;

    var homePage = Umbraco.Content(currentPageId).AncestorsOrSelf(2).First();
    int currentNodeID2 = homePage.Id;
    var SiteSettings = Umbraco.Content(currentNodeID2).Children().Where("DocumentTypeAlias = \"Settings\"");
    /// ---- get nodeID of settings ----------
    foreach (var item in SiteSettings)
    {
        settingsID = item.Id;
    }

    //-----------get navigation from 'settings - storePicker' ---------------
    var storeURL = "";
    var storeName = "";
    var storeID = "";
    var pageID = Umbraco.Content(settingsID);
    var selection = pageID.GetPropertyValue<IEnumerable<IPublishedContent>>("storePicker");
    //--- loop through nav picker ---
    foreach (var item in selection)
    {
        storeURL = item.Url + "/checkout";
        storeName = item.Name;
        storeID = (item.Id).ToString();
    }

    //-----------get navigation from 'settings - storePicker' ---------------
    var miniHomeURL = "";
    var miniHomeName = "";
    var miniHomeID = "";
    var selection2 = pageID.GetPropertyValue<IEnumerable<IPublishedContent>>("miniSiteHome");
    //--- loop through nav picker ---
    foreach (var item in selection2)
    {
        miniHomeURL = item.Url;
        miniHomeName = item.Name;
        miniHomeID = (item.Id).ToString();
    }

    //--- use this checkout link when domain name is set in local minisite cultural hostnames --
    storeURL= "../checkout";

}

<div class="container">
    <div class="row">
        @Html.Partial("_Headline")
    </div>
    @if (CurrentCustomer.Basket().Items.Any())
    {
        @Html.Action("BasketForm", "StoreBasket", new { area = "Merchello" })

        <div class="row">
            <div class="col-xs-6 col-lg-8">
                <a rel="alternate" hreflang="en" href="@miniHomeURL" class="btn btn-orange">Continue Shopping</a>
            </div>
            <div class="col-xs-6 col-lg-4 text-right">
                <a rel="alternate" hreflang="en" href="@storeURL" class="btn btn-orange">Checkout</a>
            </div>
        </div>
    }
    else
    {
        <p>
            <a rel="alternate" hreflang="en" href="@miniHomeURL">There's nothing in your shopping cart, start shopping!</a>
        </p>
    }
</div>
