﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<FtGeneral>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@using Our.Umbraco.Ditto;
@{
    /**/

    Layout = "MiniMaster.cshtml";
    var page = Model.As<FtGeneral>();

}


@Html.Partial("MiniBreadcrumb")
<section class="heading1">
    <div class="container">
        <h1>@Model.Content.Name</h1>

    </div>
</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="container">
                <div class="col-xs-12 no-padding">
                    @Model.Content.MainContent
                </div>
            </div>
        </div>

        <!--EMPLOYEES-->
        @if (page.Employees != null && page.Manager != null)
        {
            var defaultImage = "/Assets/ProfileIcon.png";
            var manager = page.Manager.FirstOrDefault().As<Employee>();
            var managerImage = !String.IsNullOrEmpty(manager.Image) ? manager.Image : defaultImage;

            <div class="row employees">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-4 col-sm-offset-4">
                            <div class="col-xs-12 employee" style='background-image:url(@managerImage)'>
                                <h2>@manager.Name</h2>
                                <h3>AKA @manager.Nickname</h3>
                                <p>@manager.JobTitle</p>
                                @if (!string.IsNullOrEmpty(manager.Email))
                                {
                                    <p class="email">
                                        <a rel="alternate" hreflang="en" href="mailto:@manager.Email">
                                            <img src="~/Assets/Envelope.png" alt="envelope" />
                                        </a>
                                    </p>
                                }

                            </div>
                        </div>
                    </div>
                    @foreach (var emp in page.Employees)
                    {
                        var employee = emp.As<Employee>();

                        var img = !String.IsNullOrEmpty(employee.Image) ? employee.Image : defaultImage;

                        <div class="col-xs-12 col-sm-4">
                            <div class="col-xs-12 employee" style='background-image:url(@img)'>
                                <h2>@employee.Name</h2>
                                <h3>AKA @employee.Nickname</h3>
                                <p>@employee.JobTitle</p>
                                @if (!string.IsNullOrEmpty(employee.Email))
                                {
                                    <p class="email"><a rel="alternate" hreflang="en" href="mailto:@employee.Email"><img alt="envelope" src="~/Assets/Envelope.png" /></a></p>
                                }

                            </div>


                        </div>
                    }
                    @if (Model.Content.TeamPhoto1 != null && !String.IsNullOrEmpty(Model.Content.TeamPhoto1))
                    {
                        <div class="col-xs-12 col-sm-8">
                            <div class="col-xs-12 teamphoto">
                                <img src="@Model.Content.TeamPhoto1" alt="Team Photo" />
                            </div>
                        </div>
                    }
                </div>
            </div>
        }

        <!--CAREERS-->
        @if (page.Jobs != null)
        {
            <div class="row careers">
                <div class="container">
                    @foreach (var jobApplication in page.Jobs)
                    {
                        var job = jobApplication.As<JobSpecification>();

                        <div class="col-xs-12 col-sm-12 no-padding">

                            <h2>@job.JobTitle</h2>
                            <h3>Location: @job.Location</h3>
                            <h4>@job.PayScale / @job.Type</h4>
                            @job.Description

                            @*<p>For more information and to apply, please email: <a href="mailto:@jb.Email">@job.Email</a></p>*@
                        </div>
                    }
                    <div class="col-xs-12 col-sm-12 no-padding">
                        <p class="last">
                            IF WE DO NOT HAVE A SUITABLE POSITION AVAILABLE FOR YOURSELF, PLEASE FEEL FREE TO SEND
                            YOUR CV AND COVERING LETTER TO PHOENIX SPORTING GOODS VIA THE ‘CONTACT US’ TAB ABOVE -
                            WE WILL BE IN TOUCH IF A SUITABLE POSITION ARISES.THANK YOU.
                        </p>
                    </div>
                </div>
            </div>


        }
    </div>

</section>

@if ((bool)Model.Content.Tag)
{
    @Html.Partial("_Tag")
    @Html.Partial("_Brochure")
}