﻿@using Our.Umbraco.Ditto;
@using Phoenix.Web
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;
    // ---- get node ID of store----------------
    var storeLists = Phoenix.Web.Helpers.GeneralNavigationHelpers.GetStore(Umbraco.ContentAtRoot());
    int storeRootID = storeLists.id;
    //var storeRoot = Umbraco.TypedContent(storeRootID).As<MiniHome>();


    //var storeRootID = PhoenixHelper.GetHomeNode();
    //var storeRoot = Umbraco.TypedContent(1098).As<MiniHome>();
    var storeRoot = Umbraco.TypedContent(storeRootID).As<MiniHome>();

    //Response.Write("StoreID is:" + storeRootID);


    var style = storeRoot.Stylesheet;
    var stylesheet = style != null && !String.IsNullOrEmpty(style) ? style.ToString().ToLower().Replace(" ", "") : "default";
    var stylelink = string.Format("/Styles/Mini/{0}.min.css", stylesheet);
    }


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="alternate" href="http://phoenixsportinggoods.com" hreflang="en-gb" />
    @*@Html.Partial("_Meta")*@
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="~/Styles/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Styles/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="~/App_Plugins/Merchello/client/css/merchello.ui.min.css" />
    <!-- RS5.0 Main Stylesheet -->
    <link rel="stylesheet" type="text/css" href="~/revolution/css/settings.min.css">

    <!-- RS5.0 Layers and Navigation Styles -->
    <link rel="stylesheet" type="text/css" href="~/revolution/css/layers.min.css">
    <link rel="stylesheet" type="text/css" href="~/revolution/css/navigation.min.css">

    <link href="~/Styles/style.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/Styles/cc.min.css">
    <!--<link rel="stylesheet" type="text/css" href="@stylelink">-->
    <link href="~/Styles/Mini/Mini_gorilla.min.css" rel="stylesheet" />
    <style type="text/css">

        html, body {
            margin: 0;
            padding: 0;
        }

        * {
            box-sizing: border-box;
        }

        .slider {
            width: 50%;
            margin: 100px auto;
        }

        .slick-slide {
            margin: 0px 20px;
        }

            .slick-slide img {
                width: 100%;
            }

        .slick-prev:before,
        .slick-next:before {
            color: black;
        }


        .slick-slide {
            transition: all ease-in-out .3s;
            opacity: .2;
        }

        .slick-active {
            opacity: .5;
        }

        .slick-current {
            opacity: 1;
        }
    </style>
</head>
<body class="@stylesheet">
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5SGWLF8"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>

    <!-- End Google Tag Manager (noscript) -->
    @Html.Partial("_MiniHeader")
    <div class="main">
        @RenderBody()

    </div>
    <!-- display footer-->
    @Html.Partial("MiniFooter")


    <!-- MUI dependencies -->
    <script src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript"></script>
    @*<script src="~/Scripts/slick.js" type="text/javascript" charset="utf-8"></script>*@
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/underscore.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    @*<script src="~/Scripts/jquery.cookie.min.js"></script>*@
    <!-- new Merchello UI scripts -->
    <script src="~/App_Plugins/Merchello/client/js/merchello.ui.min.js"></script>
    <script src="~/App_Plugins/Merchello/client/js/merchello.ui.settings.min.js"></script>
    <script src="~/App_Plugins/Merchello/client/js/fasttrack.min.js"></script>

    <!-- RS5.0 Core JS Files -->
    <script type="text/javascript" src="~/revolution/js/jquery.themepunch.tools.min.js?rev=5.0"></script>
    <script type="text/javascript" src="~/revolution/js/jquery.themepunch.revolution.min.js?rev=5.0"></script>
    <script src="~/scripts/modernizr-custom.min.js"></script>
    <script src="~/scripts/main.min.js"></script>
    <script src="~/scripts/jquery.cookie.min.js"></script>
    <script src="~/Scripts/cc-1.0.min.js"></script>
    <script src="~/Scripts/jquery.matchHeight-min.js"></script>
    @RenderSection("Scripts", required: false)

    <script>

        @* if no cookiewarning cookie exists then show cookie message *@
        $('ul.nav li.dropdown').hover(function () {
            $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeIn(500);
        }, function () {
            $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeOut(500);
        });
    </script>
    <script type="text/javascript">
        $(document).on('ready', function () {
            //    $('.center').slick({
            //        centerMode: true,
            //        centerPadding: '60px',
            //        slidesToShow: 3,
            //        responsive: [
            //            {
            //                breakpoint: 768,
            //                settings: {
            //                    arrows: false,
            //                    centerMode: true,
            //                    centerPadding: '40px',
            //                    slidesToShow: 3
            //                }
            //            },
            //            {
            //                breakpoint: 480,
            //                settings: {
            //                    arrows: false,
            //                    centerMode: true,
            //                    centerPadding: '40px',
            //                    slidesToShow: 1
            //                }
            //            }
            //        ]
            //    });

            $('.product-box').matchHeight();

        });
    </script>

</body>
</html>

