﻿@inherits Merchello.Web.Mvc.MerchelloTemplatePage
@using Our.Umbraco.Ditto
@using Phoenix.Web;
@{
    Layout = "MiniMaster.cshtml";
    var page = Model.As<MiniHome>();

    var backgroundImage = page.BannerImage != null ? page.BannerImage.FirstOrDefault().Url : "";
}

<section class="mini-filter" style="background-image:url('@backgroundImage')">
    <div class="row">
        <div class="container no-padding">
            <div class="col-xs-12 no-padding">
                <h1 class="orange-text">@page.Heading</h1>
                @*<h2 class="@PhoenixHelper.ResolveTextDropDown(page.SubHeadingColour)">@page.SubHeading</h2>
                    <p class="list-text text-center white-text text-uppercase">@page.ListText</p>*@
            </div>
        </div>
    </div>



    <div class="container padding-bottom-30">
        <div class="row">
            <div class="col-xs-12 col-sm-6" data-muitarget="checkoutaddresses">
                @RenderBody()
            </div>

            <div id="order-summary" class="col-xs-12 col-sm-6">
                @Html.Action("BasketSummary", "CheckoutSummary", new { area = "FastTrack" })
            </div>

        </div>
    </div>
</section>

