﻿@using System.Web.Mvc.Html
@using Merchello.Web
@using Merchello.Web.Search
@inherits Umbraco.Web.Mvc.UmbracoViewPage<FtCategory>
@{
	Layout = "MiniMaster.cshtml";
}
<div class="row">
    <div class="container">
        @Html.Partial("_Headline")
    </div>
</div>


<div class="container-fluid">
    @Html.Partial("_ProductBoxList", Model.Products.OrderBy(x => x.GetPropertyValue<int>("productOrder")))
</div>


