﻿@inherits Merchello.Web.Mvc.MerchelloTemplatePage
@using Merchello.Core.Models
@using Merchello.FastTrack.Ui
@using Merchello.Web
@using Merchello.Web.Models.ContentEditing;
@using Our.Umbraco.Ditto;
@using System.Configuration;
@{
    Layout = null;
}<?xml version="1.0" encoding="UTF-8" ?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9"
        xmlns:image="http://www.google.com/schemas/sitemap-image/1.1"
        xmlns:video="http://www.google.com/schemas/sitemap-video/1.1">
    <url>
        <loc>@(Model.Content.AncestorOrSelf(1).UrlWithDomain())</loc>
        <lastmod>@Model.Content.AncestorOrSelf(1).UpdateDate.ToString("s")+00:00</lastmod>
    </url>
    @ListChildNodes(Model.Content.AncestorOrSelf(1))
    @ListProductNodes()
</urlset>

@helper ListChildNodes(IPublishedContent startNode)
{
    Response.ContentType = "text/xml";
    const int maxLevelForSiteMap = 100;
    foreach (var node in startNode.Children
        .Where(n =>
            //n.IsVisible() &&
            n.TemplateId > 0 &&
            !Umbraco.IsProtected(n.Path) &&
            (!n.HasProperty("searchEngineSiteMapHide") || !n.GetPropertyValue<bool>("searchEngineSiteMapHide")))
        .Select(n => n.AsDynamic()))
        {
                <url>
                <loc>@(((IPublishedContent)node).UrlWithDomain())</loc>
                <lastmod>@node.UpdateDate.ToString("s")+00:00</lastmod>
                @if (node.SearchEngineSitemapChangeFreq.ToString() != "")
                {<changefreq>@node.SearchEngineSitemapChangeFreq</changefreq>}
                @if (node.SearchEngineSitemapPriority.ToString() != "")
                {<priority>@node.SearchEngineSitemapPriority</priority>}
            </url>
        if (node.Level <= maxLevelForSiteMap)
        {
                @ListChildNodes(node)
        }
    }
}

@helper ListProductNodes()
{
    var merchelloHelper = new MerchelloHelper();
    var products = merchelloHelper.Query.Product.Search(1, 1000);

    var queryProducts = products.Items.Select(x => (ProductDisplay)x).Where(x => x.Available == true);

    foreach (var product in queryProducts)
    {
        var node = merchelloHelper.Query.Product.TypedProductContent(product.Key);

        <url>
            <loc>@String.Format("{0}{1}", ConfigurationManager.AppSettings["SiteUrl"], @node.Url)</loc>
            <lastmod>@node.UpdateDate.ToString("s")+00:00</lastmod>          
        </url>
    }
}