﻿@font-face {
    font-family: bodyLight;
    src: url('fonts/HelveticaNeueLight.woff') format("woff");
    
}

@font-face {
    font-family: headings;
    src: url('fonts/HelveticaLTStd-Bold.woff') format('woff');
}


@font-face{
    font-family:BannerFont;
    src: url('fonts/HelveticaLTStd-BlkCond.woff') format('woff');
}

@font-face{
    font-family: HelveticaLight;
    src: url('fonts/HelveticaLTStd-Light.woff') format('woff')
}


@font-face{
    font-family: Helveticastd;
    src: url('fonts/HelveticaLTStd-LightCond.woff') format('woff')
}

// Container
$container-w-xl: 1140px;
$container-w-lg: 960px;
$container-w-md: 720px;
$container-w-sm: 540px;

$h-container-w-xl: $container-w-xl / 2;
$h-container-w-lg: $container-w-lg / 2;
$h-container-w-md: $container-w-md / 2;
$h-container-w-sm: $container-w-sm / 2;

//Fonts
$bodyfont:HelveticaLight, sans-serif;
$bodyLight:Helveticastd, sans-serif;
$headings: headings;
$banner:Bannerfont;


// Variables
// Restated Bootstrap Variables

$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

//search
$tl: 0.6s; // transition length
// colors

$black: #000000;
$black2: #0F0E09;
$grey:rgba(0, 0, 0, 0.6);
$white:#fff;
$whiteOpaque: rgba(255,255,255, 0.5);
$whiteOpaque2: #888888;
$orange:#f99f1d;
$ghostGrey:#DFD9DA ;

$alertText: rgba(103, 34, 32, 0.82);
$alertBg: rgba(235,78,73,0.7);



//media
$tablet: "only screen and (min-width: 768px)";
$desktop: "only screen and (min-width: 1024px)";
$largescreen: "only screen and (min-width: 1280px)";
$desktoplarge:"only screen and (min-width: 1617px)";

$customscreen: "only screen and (min-width: 1000px)";

//layout breakpoints
// TODO @Tudor join the array and non-array
$xs: 767px;
$sm: 768px;
$md: 992px;
$lg: 1200px;
$xl: 1617px;

$breakpoints: ( xs: 767px, sm: 768px, md: 992px, lg: 1200px, xl: 1617px );

// breakpoints arrays
$bp-list: "xs" "sm" "md" "lg" "xl";
$bp-hyphenated-list: null "-xs" "-sm" "-md" "-lg" "-xl";
// TODO @Tudor - join one-to-five as an associative array with bp-list
$one-to-five: 1 2 3 4 5;

// breakpoints colors
$red-xs: #e05252;
$blue-sm: #5a9bfc;
$green-md: #57a264;
$yellow-lg: #d1963d;

// sizes, numbers, numerals and ordinals
$numerals-px-map: (five: 5px, ten: 10px, fifteen: 15px, twenty: 20px, twenty-five: 25px, thirty: 30px, forty: 40px, fifty: 50px, sixty: 60px, seventy: 70px, eighty: 80px, ninety: 90px, one-hundred: 100px);
$ordinals-map: (1 st: 1, 2 nd: 2, 3 rd: 3, 4 th: 4, 5 th: 5, 6 th: 6, 7 th: 7, 8 th: 8, 9 th: 9);

// top right bottom left
$cardinals: "top" "right" "bottom" "left";

// images-array
$png-image-names: "blog1" "blog2";

$duration: 5s;
$text-color: rgba(255, 255, 255, 0.3);