﻿@inherits Merchello.Web.Mvc.MerchelloViewPage<Merchello.FastTrack.Models.FastTrackPaymentMethodModel>
@using System.Web.Mvc.Html
@using Merchello.FastTrack.Controllers
@using Merchello.FastTrack.Ui
@using Merchello.Web.Models.Ui
@using Umbraco.Web
@{
    Model.SuccessRedirectUrl = ExampleUiHelper.CheckoutWorkflow.GetPageForStage(CheckoutStage.Payment).Url;
    List<SelectListItem> paymentmethods = new List<SelectListItem>();

    if (!CurrentCustomer.IsAnonymous)
    {

        paymentmethods = Model.PaymentMethods.ToList();
    }
    else
    {
        var item = Model.PaymentMethods.ElementAt(1);

        paymentmethods.Add(item);
    }


}
<div class="padding-bottom-30">
    <h3 class="padding-bottom">Payment Method Selection</h3>
    @using (Html.BeginUmbracoForm<CheckoutPaymentMethodController>("SetPaymentMethod", new { area = "FastTrack" }))
    {
        <div class="row">
            <div class="col-md-12 form-group">
                @Html.LabelFor(x => x.PaymentMethods)
                @Html.DropDownListFor(x => x.PaymentMethodKey, paymentmethods, new { @class = "form-control" })
            </div>
            @if (!CurrentCustomer.IsAnonymous)
            {
                <div class="col-md-12 form-group">
                    <p>Please select the option you require. If you submit an Online Order Request, no payment is needed and a member of our team will get back to you with the total amount within 24hrs.
                        
                     </p>
                </div>
            }
        </div>

        <div>
            @Html.AntiForgeryToken()
            @Html.HiddenFor(x => x.SuccessRedirectUrl)
            <a href="@ExampleUiHelper.CheckoutWorkflow.GetPageForStage(CheckoutStage.ShipRateQuote).Url" class="btn btn-orange">Back</a>
            <input type="submit" class="btn btn-orange pull-right" value="Next" />
        </div>
    }
</div>