﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<Merchello.FastTrack.Models.FastTrackShipRateQuoteModel>
@using System.Web.Mvc.Html
@using Merchello.FastTrack.Controllers
@using Merchello.FastTrack.Ui
@using Merchello.Web.Models.Ui

@using Umbraco.Web
@{
    Model.SuccessRedirectUrl = ExampleUiHelper.CheckoutWorkflow.GetPageForStage(CheckoutStage.PaymentMethod).Url;
}
<h3 class="padding-bottom">Shipping Rate Quote</h3>
@using (Html.BeginUmbracoForm<CheckoutShipRateQuoteController>("SaveShipRateQuote", new { area = "FastTrack" }))
{
    <div class="row">
        <div class="col-md-12 form-group">
            @Html.LabelFor(x => x.ShippingQuotes)
            @Html.DropDownListFor(x => x.ShipMethodKey, Model.ShippingQuotes, new { @class = "form-control"})
        </div>
        <div class="col-md-12 form-group">
            <p>* Please note that if you are outside of the UK, please <a href="~/contact-us/">contact us</a> as we can only accept UK orders at present.</p>
        </div>

        </div>
    @Html.HiddenFor(x => x.SuccessRedirectUrl)
    <div>
        @Html.AntiForgeryToken()
        <a href="@ExampleUiHelper.CheckoutWorkflow.GetPageForStage(CheckoutStage.ShippingAddress).Url" class="btn btn-orange">Back</a>
        <input type="submit" class="btn btn-orange pull-right" value="Next"/>
    </div>
}

