﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<Merchello.Web.Store.Models.StorePaymentModel>
@using Merchello.FastTrack.Ui
@using Merchello.Web.Models.Ui
@using Merchello.Web.Store.Controllers.Payment
@using Umbraco.Web

@using (Html.BeginUmbracoForm<PayPalExpressPaymentController>("Process", new { area = "Merchello" }))
{
    @Html.AntiForgeryToken()

    <div>
        <a href="@ExampleUiHelper.CheckoutWorkflow.GetPageForStage(CheckoutStage.PaymentMethod).Url" class="btn btn-orange">Back</a>
        <input class="pull-right" type="image" src="//www.paypalobjects.com/en_US/i/btn/btn_paynow_LG.gif" data-paypal-button="true" alt="PayPay Express"/>
    </div>

    var err = (PaymentAttemptViewData)ViewData.Values.FirstOrDefault();
    if (err != null)
    {
        if (err.Messages.Any())
        {
            <ul>
                @foreach (var m in err.Messages)
                {
                    <li>@m</li>
                }
            </ul>
        }

    }
}