﻿@inherits Merchello.Web.Mvc.MerchelloViewPage<Merchello.FastTrack.Models.FastTrackBillingAddressModel>
@using System.Web.Mvc.Html
@using Merchello.FastTrack.Controllers
@using Merchello.FastTrack.Ui
@using Merchello.Web
@using Merchello.Web.Models.Ui
@using Merchello.Web.Store.Localization
@using Merchello.Web.Workflow
@using Umbraco.Web
@{
    var hasShippableItems = CurrentCustomer.Basket().HasShippableItems();
    var noShippingUrl = ExampleUiHelper.CheckoutWorkflow.GetPageForStage(CheckoutStage.PaymentMethod).Url;

    Model.SuccessRedirectUrl = hasShippableItems ? ExampleUiHelper.CheckoutWorkflow.GetPageForStage(CheckoutStage.ShippingAddress).Url : noShippingUrl;
    Model.SuccessUrlShipRateQuote = hasShippableItems ? ExampleUiHelper.CheckoutWorkflow.GetPageForStage(CheckoutStage.ShipRateQuote).Url : noShippingUrl;

}
<div class="row">
    <h3 class="padding-bottom">Billing Address</h3>
</div>

@using (Html.BeginUmbracoForm<CheckoutAddressController>("SaveBillingAddress", new { area = "FastTrack" }, new { data_muistage = "BillingAddress" }))
{
    <div class="row">
        <div class="row">
            <div class="col-md-6 form-group">
                @Html.LabelFor(x => x.FirstName) *
                @Html.TextBoxFor(x => x.FirstName, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.FirstName)
            </div>

            <div class="col-md-6 form-group">
                @Html.LabelFor(x => x.LastName) *
                @Html.TextBoxFor(x => x.LastName, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.LastName)
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 form-group">
                @Html.LabelFor(x => x.Email) *
                @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.Email)
            </div>
            <div class="col-md-12 form-group">
                @Html.LabelFor(x => x.Organization)
                @Html.TextBoxFor(x => x.Organization, new { @class = "form-control" })
            </div>
            <div class="col-md-12 form-group">
                @Html.LabelFor(x => x.Address1) *
                @Html.TextBoxFor(x => x.Address1, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.Address1)
            </div>

            <div class="col-md-12 form-group">
                @Html.LabelFor(x => x.Address2)
                @Html.TextBoxFor(x => x.Address2, new { @class = "form-control" })
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 form-group">
                @Html.LabelFor(x => x.Locality) *
                @Html.TextBoxFor(x => x.Locality, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.Locality)
            </div>
            <div class="col-md-6 form-group">
                @Html.LabelFor(x => x.Region)
                @Html.TextBoxFor(x => x.Region, new { @class = "form-control", data_muivalue = "region", @style = "display:none;" })
                <select class="form-control" data-muiaction="updateregion">
                    <option>@StoreFormsResource.PleaseSelect</option>
                </select>
                @Html.ValidationMessageFor(x => x.Region)
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 form-group">
                @Html.LabelFor(x => x.PostalCode) *
                @Html.TextBoxFor(x => x.PostalCode, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.PostalCode)
            </div>
            <div class="col-md-6 form-group">
                @Html.LabelFor(x => x.CountryCode) *
                @Html.DropDownListFor(x => x.CountryCode, Model.Countries, StoreFormsResource.PleaseSelect, new { @class = "form-control", data_muiaction = "populateregion" })
                @Html.ValidationMessageFor(x => x.CountryCode)
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 form-group">
                @Html.LabelFor(x => x.Phone)
                @Html.TextBoxFor(x => x.Phone, new { @class = "form-control" })
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 form-group checkbox">
                <label>
                    @Html.CheckBoxFor(x => x.UseForShipping) Use for shipping address
                </label>
            </div>
        </div>
        @Html.HiddenFor(x => x.Key)
        @Html.HiddenFor(x => x.AddressType)
        @* TODO Discuss better redirects - maybe use route values *@
        @Html.HiddenFor(x => x.SuccessRedirectUrl)
        @Html.HiddenFor(x => x.SuccessUrlShipRateQuote)
        @Html.AntiForgeryToken()
        <div class="text-right">
            <input type="submit" class="btn btn-orange" value="Next" />
        </div>
    </div>

}

