﻿@model Merchello.Web.Models.Ui.IRequireJs

@if (Model.RequireJs)
{
    <button class="btn btn-orange pull-right mui-requirejs">Finish &amp; Pay</button>
}
else
{
    <input type="submit" class="btn btn-orange pull-right" value="Submit Order"/>
}