﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<Merchello.FastTrack.Models.Membership.ChangePasswordModel>
@using System.Web.Mvc.Html
@using Merchello.FastTrack.Controllers.Membership
@using Merchello.FastTrack.Ui
@using Umbraco.Web

<div class="panel panel-default">
    <div class="panel-heading"><strong>Change Password</strong></div>
    <div class="panel-body">
        @using (Html.BeginUmbracoForm<CustomerMembershipController>("ChangePassword", new { area = "FastTrack" }))
        {
            @Html.AntiForgeryToken()
            <div class="row">
                <div class="col-md-12 form-group">
                    @Html.LabelFor(x => x.OldPassword)
                    @Html.PasswordFor(x => x.OldPassword, new { @placeholder = "Your current password", @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.OldPassword)
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 form-group">
                    @Html.LabelFor(x => x.Password)
                    @Html.PasswordFor(x => x.Password, new { @placeholder = "Your new password", @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.Password)
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 form-group">
                    @Html.LabelFor(x => x.ConfirmPassword)
                    @Html.PasswordFor(x => x.ConfirmPassword, new { @placeholder = "Confirm your new password", @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.ConfirmPassword)
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 form-group">
                    <input type="submit" value="Change Password" class="btn btn-orange pull-right" />
                </div>
            </div>
        }
    </div>
</div>
