﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<Merchello.FastTrack.Models.Membership.NewMemberModel>
@using System.Web.Mvc.Html
@using Merchello.FastTrack.Controllers.Membership
@using Merchello.FastTrack.Ui
@using Umbraco.Web
@{
    Model.SuccessRedirectUrl = ExampleUiHelper.Content.GetAccount().Url;
}

<div class="panel panel-default">
    <div class="panel-heading"><strong>Register a new account</strong></div>
    <div class="panel-body">
    @using (Html.BeginUmbracoForm<CustomerMembershipController>("Register", new { area = "FastTrack" }))
    {
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="col-md-6 form-group">
                @Html.LabelFor(x => x.FirstName, new { @class = "control-label" })
                @Html.TextBoxFor(x => x.FirstName, new { @placeholder = "Your first name", @class = "form-control" })
                @Html.ValidationMessageFor(x => x.FirstName)
            </div>
            <div class="col-md-6">
                @Html.LabelFor(x => x.LastName, new { @class = "control-label" })
                @Html.TextBoxFor(x => x.LastName, new { @placeholder = "Your last name", @class = "form-control" })
                @Html.ValidationMessageFor(x => x.LastName)
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 form-group">
                @Html.LabelFor(x => x.Email)
                @Html.TextBoxFor(x => x.Email, new { @placeholder = "Your email address", @class = "form-control" })
                @Html.ValidationMessageFor(x => x.Email)
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 form-group">
                @Html.LabelFor(x => x.Password)
                @Html.PasswordFor(x => x.Password, new { @placeholder = "Your password", @class = "form-control" })
                @Html.ValidationMessageFor(x => x.Password)
            </div>
            <div class="col-md-6 form-group">
                @Html.LabelFor(x => x.ConfirmPassword)
                @Html.PasswordFor(x => x.ConfirmPassword, new { @placeholder = "Confirm your password", @class = "form-control" })
                @Html.ValidationMessageFor(x => x.ConfirmPassword)
            </div>
        </div>
        <div class="form-group checkbox">
            @Html.HiddenFor(x => x.SuccessRedirectUrl)
            @Html.HiddenFor(x => x.MemberTypeAlias)
            <label>
                @Html.CheckBoxFor(x => x.PersistLogin) Remember Me
            </label>
            <button type="submit" class="btn btn-orange pull-right">Register</button>
        </div>
    }
    </div>
</div>