﻿
bg-black{
    background:$black;
}
.mini-filter {
    position:relative;

    padding-bottom:25px;

    .mini-banner {
        width: 100%;
        position:absolute;
        top:0;
        
    }
}

.mini-filter {
    min-height: 500px;
    background-size: cover;
    background-repeat: no-repeat;




    h1 {
        font-size: 4em;
        margin: 50px 0 20px 0;
    }

    h2 {
        font-size: 2em;
        margin-bottom: 20px;
    }

    .list-text {
        font-size: 1.5em;
        margin-bottom: 20px;
    }

    .banner-content {
        text-align: center;
        height: var(--wrapperH);

        .category {
            min-width: 150px;
            float: left;
            max-width: 250px;
            margin-left: 15px;
            background-size: contain;
            background-repeat: no-repeat;
            position: relative;


            &:first-child {
                margin-left: 0;
            }

            .cat {
                z-index: 1;

                &:hover {

                    &:after {
                        content: ' ';
                        position: absolute;
                        left: 0;
                        right: 0;
                        top: 0;
                        bottom: 0;
                        background-color: rgba(255, 255, 255,.5);
                        z-index: 0;
                    }
                }
            }

            &:hover {


                .category-head {
                    z-index: 1;
                    color: $gray-700;

                    .sub-heading {
                        display: block;
                    }
                }
            }

            img {
                max-width: 180px;
            }

            .category-head {
                position: absolute;
                top: 15px;
                width: 100%;

                h3 {
                    font-size: 1.5em;
                }

                .sub-heading {
                    display: none;
                    font-size: 1.5em;
                    text-transform: uppercase;
                    font-weight: 900;
                }
            }
        }
    }
}

.mini-products {
    .product-box {
        border: solid 3px $black;
        padding: 15px;

        &:hover {
            border: solid 3px $orange;
        }

        h2 {
            font-size: 1.5em;
            font-weight: 900;
            margin-bottom: 15px;
        }

        img {
            border: none;
        }

        .content {
            padding: 5px 0;
        }

        .mini-selection {
            margin: 10px 0;

            .price{
                font-size:1.2em;
                /*padding: 0 5px;*/
            }

            #read-more {
                float: right;
            }

            .btn {
            }

            .btn-black {
                color: $orange;
                padding: 2px 5px;

                &:hover {
                    color: $white;
                }
            }

            .btn-orange {                
                padding: 2px 25px 2px 10px;
            }
        }
    }
}
