﻿@charset "UTF-8";
@font-face {
  font-family: bodyLight;
  src: url("fonts/HelveticaNeueLight.woff") format("woff"); }

@font-face {
  font-family: headings;
  src: url("fonts/HelveticaLTStd-Bold.woff") format("woff"); }

@font-face {
  font-family: BannerFont;
  src: url("fonts/HelveticaLTStd-BlkCond.woff") format("woff"); }

@font-face {
  font-family: HelveticaLight;
  src: url("fonts/HelveticaLTStd-Light.woff") format("woff"); }

@font-face {
  font-family: Helveticastd;
  src: url("fonts/HelveticaLTStd-LightCond.woff") format("woff"); }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/* Slider */
.slick-loading .slick-list {
  background: #fff url("ajax-loader.gif") center center no-repeat; }

/* Icons */
/*@if $slick-font-family == "slick" {
    @font-face {
        font-family: "slick";
        src: slick-font-url("slick.eot");
        src: slick-font-url("slick.eot?#iefix") format("embedded-opentype"), slick-font-url("slick.woff") format("woff"), slick-font-url("slick.ttf") format("truetype"), slick-font-url("slick.svg#slick") format("svg");
        font-weight: normal;
        font-style: normal;
    }
}*/
/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none; }
  .slick-prev:hover, .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    outline: none;
    background: transparent;
    color: transparent; }
    .slick-prev:hover:before, .slick-prev:focus:before,
    .slick-next:hover:before,
    .slick-next:focus:before {
      opacity: 1; }
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
    opacity: 0.25; }
  .slick-prev:before,
  .slick-next:before {
    font-family: "slick";
    font-size: 20px;
    line-height: 1;
    color: white;
    opacity: 0.75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: -25px; }
  [dir="rtl"] .slick-prev {
    left: auto;
    right: -25px; }
  .slick-prev:before {
    content: "←"; }
    [dir="rtl"] .slick-prev:before {
      content: "→"; }

.slick-next {
  right: -25px; }
  [dir="rtl"] .slick-next {
    left: -25px;
    right: auto; }
  .slick-next:before {
    content: "→"; }
    [dir="rtl"] .slick-next:before {
      content: "←"; }

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px; }

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%; }
  .slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer; }
    .slick-dots li button {
      border: 0;
      background: transparent;
      display: block;
      height: 20px;
      width: 20px;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      padding: 5px;
      cursor: pointer; }
      .slick-dots li button:hover, .slick-dots li button:focus {
        outline: none; }
        .slick-dots li button:hover:before, .slick-dots li button:focus:before {
          opacity: 1; }
      .slick-dots li button:before {
        position: absolute;
        top: 0;
        left: 0;
        content: "•";
        width: 20px;
        height: 20px;
        font-family: "slick";
        font-size: 6px;
        line-height: 20px;
        text-align: center;
        color: black;
        opacity: 0.25;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
    .slick-dots li.slick-active button:before {
      color: black;
      opacity: 0.75; }

bg-black {
  background: #000000; }

.mini-filter {
  position: relative;
  padding-bottom: 25px; }
  .mini-filter .mini-banner {
    width: 100%;
    position: absolute;
    top: 0; }

.mini-filter {
  min-height: 500px;
  background-size: cover;
  background-repeat: no-repeat; }
  .mini-filter h1 {
    font-size: 4em;
    margin: 50px 0 20px 0; }
  .mini-filter h2 {
    font-size: 2em;
    margin-bottom: 20px; }
  .mini-filter .list-text {
    font-size: 1.5em;
    margin-bottom: 20px; }
  .mini-filter .banner-content {
    text-align: center;
    height: var(--wrapperH); }
    .mini-filter .banner-content .category {
      min-width: 150px;
      float: left;
      max-width: 250px;
      margin-left: 15px;
      background-size: contain;
      background-repeat: no-repeat;
      position: relative; }
      .mini-filter .banner-content .category:first-child {
        margin-left: 0; }
      .mini-filter .banner-content .category .cat {
        z-index: 1; }
        .mini-filter .banner-content .category .cat:hover:after {
          content: ' ';
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          background-color: rgba(255, 255, 255, 0.5);
          z-index: 0; }
      .mini-filter .banner-content .category:hover .category-head {
        z-index: 1;
        color: #495057; }
        .mini-filter .banner-content .category:hover .category-head .sub-heading {
          display: block; }
      .mini-filter .banner-content .category img {
        max-width: 180px; }
      .mini-filter .banner-content .category .category-head {
        position: absolute;
        top: 15px;
        width: 100%; }
        .mini-filter .banner-content .category .category-head h3 {
          font-size: 1.5em; }
        .mini-filter .banner-content .category .category-head .sub-heading {
          display: none;
          font-size: 1.5em;
          text-transform: uppercase;
          font-weight: 900; }

.mini-products .product-box {
  border: solid 3px #000000;
  padding: 15px; }
  .mini-products .product-box:hover {
    border: solid 3px #f99f1d; }
  .mini-products .product-box h2 {
    font-size: 1.5em;
    font-weight: 900;
    margin-bottom: 15px; }
  .mini-products .product-box img {
    border: none; }
  .mini-products .product-box .content {
    padding: 5px 0; }
  .mini-products .product-box .mini-selection {
    margin: 10px 0; }
    .mini-products .product-box .mini-selection .price {
      font-size: 1.2em;
      /*padding: 0 5px;*/ }
    .mini-products .product-box .mini-selection #read-more {
      float: right; }
    .mini-products .product-box .mini-selection .btn-black {
      color: #f99f1d;
      padding: 2px 5px; }
      .mini-products .product-box .mini-selection .btn-black:hover {
        color: #fff; }
    .mini-products .product-box .mini-selection .btn-orange {
      padding: 2px 25px 2px 10px; }

header {
  background: #000; }

