﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<StoreDiscountModel<StoreLineItemModel>>
@using System.Web.Mvc.Html
@using Merchello.Web.Models.Ui
@using Merchello.Web.Store.Controllers
@using Merchello.Web.Store.Models
@using Umbraco.Web
@{
    var result = (IDiscountViewData<StoreLineItemModel>)ViewBag.MerchelloViewData;
}
<h3 class="padding-bottom">Apply Discount</h3>
@using (Html.BeginUmbracoForm<CheckoutDiscountController>("ApplyDiscount", new { area = "Merchello" }))
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-md-12 form-group">
            @Html.LabelFor(x => x.OfferCode)
            @Html.ValidationMessageFor(x => x.OfferCode)
            @Html.TextBoxFor(x => x.OfferCode, new { @class = "form-control" })
        </div>
        @if (result != null && !result.Success)
        {
            <div class="col-md-12">
                @if (result.Exception != null)
                {
                    <div class="alert alert-danger">
                        <strong>Error:</strong> @result.Exception.Message
                    </div>
                }
                else
                {
                    var message = result.Messages.Aggregate(string.Empty, (current, msg) => current + string.Format("<p>{0}</p>", msg));

                    <div class="alert alert-warning">
                        <strong>Discount could not be applied</strong> @message
                    </div>
                }
            </div>
        }

    </div>
    <div>
        <input type="submit" class="btn btn-orange pull-right" value="Apply" />
    </div>
}

