﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<Merchello.Web.Store.Models.StoreBasketModel>
@using System.Web.Mvc.Html
@using Merchello.Core
@using Merchello.Web.Models.Ui
@using Merchello.Web.Store.Controllers
@using Umbraco.Core.Models
@using Umbraco.Web
@using Our.Umbraco.Ditto
@{
    var currentPage = Umbraco.TypedContent(UmbracoContext.Current.PageId);

    using (Html.BeginUmbracoForm<StoreBasketController>("UpdateBasket", new { area = "FastTrack" }, new { data_muifrm = "basket" }))
    {

        @Html.AntiForgeryToken()
    <table id="basket-form-table" class="table mui-basket mui-default">
        <thead>
            <tr>
                <th>Product</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Total</th>
                <th></th>
            </tr>
        </thead>
        <tbody>

        @for (var i = 0; i < Model.Items.Count(); i++)
        {
            var product = Model.Items[i].Product.As<FtProduct>();
            var isProduct = product != null;
           
            <tr>
                <td class="image">
                    @Html.HiddenFor(model => Model.Items[i].Key)

                    @if (isProduct)
                    {
                        var productImage = Model.Items[i].Product.GetPropertyValue<IPublishedContent>("image");
                        // This is a property reference to a content type on the default starter kit
                        // and may need to change for site specific implementations.  Example!
                        if (productImage != null)
                        {

                            <a href="@product.Url"><img src="@productImage.GetCropUrl(width: 20)" alt="@productImage.Name" width="20"/></a>
                        }
                        <a href="@product.Url">
                            <span>@product.Name</span>
                            @foreach (var choice in Model.Items[i].CustomerOptionChoices)
                            {
                                <span class="option-choice">@choice.Key - @choice.Value</span>
                            }
                        </a>
                    }
                    else
                    {
                        // not a product (custom implementation) so just put the name here
                        <span>@Model.Items[i].Name</span>
                    }
                </td>
                <td>@Model.Items[i].Amount.AsFormattedCurrency()</td>
                <td>
                    @if (isProduct)
                    {
                        @Html.TextBoxFor(model => Model.Items[i].Quantity, new { @type = "number", min = "1", data_muiaction = "updatequantity" })
                    }
                    else
                    {
                        // assume this can't be changed if it is not a product
                        @Html.HiddenFor(model => Model.Items[i].Quantity)
                    }
                </td>
                <td data-muivalue="linetotal">@Model.Items[i].Total().AsFormattedCurrency()</td>
                <td class="text-right">
                    @*@if (Model.WishListEnabled && isProduct) // only products can be added to the wishlist
                    {
                        // the 'area' parameter in the route values should match the PluginController attribute alias
                        @Html.ActionLink("Wish List +", "MoveItemToWishList", "StoreBasket", new { area = "Merchello", lineItemKey = Model.Items[i].Key, successRedirectId = currentPage.Id }, new { @class = "btn btn-info" })
                    }*@

                    @Html.ActionLink("Remove", "RemoveBasketItem", "StoreBasket", new { area = "Merchello", lineItemKey = Model.Items[i].Key, redirectId = currentPage.Id }, new { @class = "btn btn-black" })
                </td>
            </tr>


        }
        <tr>
            <td colspan="3" class="text-right"><strong>Sub Total</strong></td>
            <td colspan="2" data-muivalue="total"><strong>@Model.Total().AsFormattedCurrency()</strong></td>
        </tr>
        <tr class="hide">
            <td colspan="3">&nbsp;</td>
            <td colspan="2"><input type="submit" id="update-cart" class="btn btn-orange" name="update" value="Update" data-muibtn="update" /></td>
        </tr>
    </tbody>
    </table>

    }
}